:root {
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
    --gap-2xs-neg: -4px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    /* desktop */

    /* mobile */

    /* text */
    --confirmation-text-font-size: 16px;
    --confirmation-text-line-height: 24px;
    --confirmation-text-font-weight: 400;
    --confirmation-text-font-family: var(--font-family-system);
    --confirmation-text-color: var(--color-light-text-primary)

    /* header */
}
.component {
    display: flex;
    flex-direction: column;
}
.typographyTheme.typographyTheme {
    font-size: var(--confirmation-text-font-size);
    line-height: var(--confirmation-text-line-height);
    font-weight: var(--confirmation-text-font-weight);
    font-family: var(--confirmation-text-font-family);
    color: var(--confirmation-text-color);
}
.phone.phone {
    color: var(--color-light-text-primary);
    margin-bottom: var(--gap-2xl);
}
.compact {
    margin-bottom: var(--gap-xl);
}
.loaderWrap {
    display: flex;
    align-items: center;
}
.left {
    align-items: flex-start;
}
.center {
    align-items: center;
    text-align: center
}
.center .loaderWrap {
        justify-content: center;
    }
.center input {
        margin: 0 var(--gap-2xs);
    }
.codeInput {
    margin-bottom: var(--gap-s);
}
.smsComeLink.smsComeLink {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.countdownContainer.countdownContainer {
    color: var(--color-light-text-secondary);
    margin-bottom: var(--gap-xl);
}
.countdownMobile.countdownMobile {
    margin-bottom: var(--gap-l);
}
.countdownLoaderMobile.countdownLoaderMobile {
    margin-bottom: var(--gap-m);
}
.getCodeButton {
    position: relative;
    top: var(--gap-2xs-neg);
    margin-bottom: var(--gap-m);
}
.getCodeButtonMobile {
    margin-bottom: 0;
}
.containerInput {
    min-height: 80px;
}
