:root {
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
    --gap-4xl: 48px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    /* title */
    --confirmation-title-font-size: 22px;
    --confirmation-title-line-height: 26px;
    --confirmation-title-font-weight: 700;
    --confirmation-title-font-family: var(--font-family-system);
    --confirmation-title-color: var(--color-light-text-primary);
    --confirmation-title-font-feature-settings: normal;

    /* text */
    --confirmation-text-font-size: 16px;
    --confirmation-text-line-height: 24px;
    --confirmation-text-font-weight: 400;
    --confirmation-text-font-family: var(--font-family-system);
    --confirmation-text-color: var(--color-light-text-secondary);

    /* error */

    /* input */
}
.component {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--confirmation-text-font-family);
}
.error {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.errorHeader {
    font-size: var(--confirmation-title-font-size);
    line-height: var(--confirmation-title-line-height);
    font-weight: var(--confirmation-title-font-weight);
    font-family: var(--confirmation-title-font-family);
    color: var(--confirmation-title-color);
    font-feature-settings: var(--confirmation-title-font-feature-settings);

    margin-bottom: var(--gap-2xl);
    color: var(--confirmation-title-color);
}
.errorText {
    font-size: var(--confirmation-text-font-size);
    line-height: var(--confirmation-text-line-height);
    font-weight: var(--confirmation-text-font-weight);
    font-family: var(--confirmation-text-font-family);
    color: var(--confirmation-text-color);

    margin-bottom: var(--gap-2xl);
    color: var(--confirmation-text-color);
}
.phoneHintWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.phoneHintText {
    font-size: var(--confirmation-text-font-size);
    line-height: var(--confirmation-text-line-height);
    font-weight: var(--confirmation-text-font-weight);
    font-family: var(--confirmation-text-font-family);
    color: var(--confirmation-text-color);

    margin-bottom: var(--gap-xl);
    color: var(--confirmation-text-color);
}
.phonesWrap {
    font-size: var(--confirmation-text-font-size);
    line-height: var(--confirmation-text-line-height);
    font-weight: var(--confirmation-text-font-weight);
    font-family: var(--confirmation-text-font-family);
    color: var(--confirmation-text-color);

    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-4xl);
}
.phoneWrap {
    margin-bottom: var(--gap-xs)
}
.phoneWrap:last-child {
        margin-bottom: 0;
    }
.phoneDescription {
    color: var(--confirmation-text-color);
}
.component.center {
    text-align: center;
}
.center .phoneHintWrap {
        align-items: center;
    }
.center .error {
        align-items: center;
    }
