:root {
    --color-light-bg-quaternary: #dbdee1;
    --color-light-bg-secondary-inverted: #233549;
    --color-light-bg-tertiary: #e7e9eb;
    --color-light-text-primary: #0b1f35;
    --color-light-text-primary-inverted: #fff;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --border-radius-m: 8px;
}
.tag.tag {
    color: var(--color-light-text-secondary);
    border-radius: var(--border-radius-m);
    border: none;
    flex-shrink: 0;
    min-width: auto;
    min-height: auto;
    width: 32px;
    height: 32px;
    padding: 0
}
.tag.tag:disabled:not(.checked) {
        opacity: 0.3;
    }
.tag.tag:hover:not(:disabled) {
        background-color: var(--color-light-bg-tertiary);
        color: var(--color-light-text-primary);
    }
.tag.tag:active:not(:disabled) {
        background-color: var(--color-light-bg-quaternary);
    }
.tag.tag.checked {
        cursor: default;
        background-color: var(--color-light-bg-secondary-inverted);
        color: var(--color-light-text-primary-inverted);
    }
.tag.tag.checked:hover:not(:disabled) {
        color: var(--color-light-text-primary-inverted);
    }
.tag.tag.checked:active:not(:disabled) {
        color: var(--color-light-text-primary);
    }
