/* hash: 1u3c5 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {

    /* sizes */

    /* paddings */
    --side-panel-s-header-paddings: var(--gap-xs) var(--gap-xs) var(--gap-m);

    /* scroll */

    /* desktop */
    --side-panel-s-header-desktop-content-paddings: var(--gap-s) var(--gap-m) 0 0;
    --side-panel-s-header-desktop-font-size: 22px;
    --side-panel-s-header-desktop-line-height: 26px;
    --side-panel-header-desktop-font-weight: bold;
    --side-panel-header-desktop-font-family: var(--font-family-system);

    /* mobile */
}
.side-panel__content_1wmke {
    font-weight: var(--side-panel-header-desktop-font-weight);
    font-family: var(--side-panel-header-desktop-font-family);
}
.side-panel__s_1wmke .side-panel__content_1wmke {
    padding: var(--side-panel-s-header-desktop-content-paddings);
    font-size: var(--side-panel-s-header-desktop-font-size);
    line-height: var(--side-panel-s-header-desktop-line-height);
}
.side-panel__s_1wmke {
    padding: var(--side-panel-s-header-paddings)
}
.side-panel__s_1wmke:not(.side-panel__hasContent_1wmke) {
        padding-bottom: 0;
    }
.side-panel__sticky_1wmke {
    top: 0;
}
