/* hash: 1bxul */
.pass-code__enter_knpp8 {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.pass-code__enterActive_knpp8 {
    opacity: 1;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    transition: all 0.15s ease-in;
}

.pass-code__exit_knpp8 {
    opacity: 1;
    width: 12px;
    height: 12px;
    margin: 0 6px;
}

.pass-code__exitActive_knpp8 {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    transition: all 0.15s ease-in;
}

@keyframes pass-code__shake_knpp8 {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

.pass-code__shake_knpp8 {
    animation: pass-code__shake_knpp8 0.15s linear 0s 3;
}
