:root {
    --color-light-bg-accent: #ef3124;
    --color-light-bg-primary: #fff;
    --color-light-graphic-attention: #e58933;
    --color-light-graphic-link: #007aff;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-secondary: #6d7986;
    --color-light-graphic-tertiary: #b6bcc3;
    --color-light-text-primary-inverted: #fff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
}
:root {
    --border-radius-circle: 50%;
    --border-radius-pill: 99px;
}
:root {
    --badge-icon-bg-color: var(--color-light-bg-primary);
}
.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-circle);
    box-sizing: border-box
}
.wrapper.s {
        padding: var(--gap-3xs);
        width: 20px;
        height: 20px;
    }
.wrapper.m {
        padding: var(--gap-3xs);
        width: 24px;
        height: 24px;
    }
.wrapper.xl {
        padding: 5px;
        width: 40px;
        height: 40px;
    }
.component {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;

    position: relative;
    z-index: 2;
    box-sizing: border-box;
    border-radius: var(--border-radius-pill);
    background-color: var(--color-light-bg-accent);
    color: var(--color-light-text-primary-inverted);
    overflow: hidden;
}
.count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-pill);
}
.outlineCount {
    border: 2px solid var(--badge-icon-bg-color);
}
.s {
    height: 16px;
    min-width: 16px;
    padding: 0 var(--gap-2xs);
}
.m {
    height: 20px;
    min-width: 20px;
    padding: 0 6px;
}
.l {
    height: 24px;
    min-width: 24px;
    padding: 0 6px;
}
.heightS {
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    padding: 0 var(--gap-2xs);
}
.heightM {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 0 var(--gap-2xs);
}
.heightL {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 0 var(--gap-xs);
}
.heightXL {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 0 var(--gap-s);
}
.heightXXL {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 0 var(--gap-m);
}
.heightS.outlineCount {
    border: 1px solid var(--badge-icon-bg-color);
}
.icon {
    max-height: 30px;
    min-width: 0;
    padding: 0;
    color: var(--color-light-graphic-positive)
}
.icon.positive {
        color: var(--color-light-graphic-positive);
        background-color: var(--color-light-graphic-positive);
    }
.icon.attention {
        color: var(--color-light-graphic-attention);
        background-color: var(--color-light-graphic-attention);
    }
.icon.negative {
        color: var(--color-light-graphic-negative);
        background-color: var(--color-light-graphic-negative);
    }
.icon.link {
        color: var(--color-light-graphic-link);
        background-color: var(--color-light-graphic-link);
    }
.icon.tertiary {
        color: var(--color-light-graphic-tertiary);
        background-color: var(--color-light-graphic-tertiary);
    }
.icon.secondary {
        color: var(--color-light-graphic-secondary);
        background-color: var(--color-light-graphic-secondary);
    }
.icon.primary {
        color: var(--color-light-graphic-primary);
        background-color: var(--color-light-graphic-primary);
    }
.icon.s {
    width: 16px;
    height: 16px;
}
.icon:before {
    position: absolute;
    z-index: -1;
    left: 18%;
    right: 18%;
    top: 18%;
    bottom: 18%;
    background-color: var(--badge-icon-bg-color);
    border-radius: var(--border-radius-pill);
    content: '';
}
.outline {
    background-color: var(--badge-icon-bg-color);
}
.outlineColor {
    background-color: var(--color-light-bg-accent)
}
.outlineColor.attention {
        background-color: var(--color-light-graphic-attention);
    }
.outlineColor.positive {
        background-color: var(--color-light-graphic-positive);
    }
.outlineColor.negative {
        background-color: var(--color-light-graphic-negative);
    }
.outlineColor.link {
        background-color: var(--color-light-graphic-link);
    }
.outlineColor.tertiary {
        background-color: var(--color-light-graphic-tertiary);
    }
.outlineColor.secondary {
        background-color: var(--color-light-graphic-secondary);
    }
.outlineColor.primary {
        background-color: var(--color-light-graphic-primary);
    }
.dot {
    width: 8px;
    height: 8px;
    min-width: 0;
    padding: 0;
}
.dot.outlineCount {
    border: 1px solid var(--badge-icon-bg-color);
}
.isHidden {
    display: none;
}
.icon svg {
    position: relative;
}
.m svg {
    top: -2px;
    left: -2px;
    width: 24px;
    height: 24px;
}
.xl svg {
    width: 30px;
    height: 30px;
}
