/* hash: 67461 */
:root {
    --color-light-text-negative: #d91d0b;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
}
.code-input__component_1l18u {
    display: flex;
    flex-direction: column;
}
.code-input__error_1l18u {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    margin-top: var(--gap-xs);
    color: var(--color-light-text-negative);
}
@keyframes code-input__shake_1l18u {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}
.code-input__shake_1l18u {
    animation: code-input__shake_1l18u 0.15s linear 0s 3;
}
