/* hash: 5qxpo */
:root {
    --color-light-border-primary: #dbdee1;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-positive: #2fc26e;
    --color-light-text-accent: #ef3124;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-xl: 24px;
}
.file-upload-item__component_1ovgz {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;

    display: flex;
    width: 100%;
    padding: var(--gap-xs);
    color: var(--color-light-text-secondary);
    box-shadow: 0 -1px 0 0 var(--color-light-border-primary) inset;
    box-sizing: border-box
}
.file-upload-item__component_1ovgz svg {
        display: block;
    }
.file-upload-item__infoSection_1ovgz {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: var(--gap-2xs);
    margin-left: var(--gap-s);
    min-width: 40%;
}
.file-upload-item__info_1ovgz {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow: hidden;
}
.file-upload-item__icon_1ovgz {
    display: block;
    flex-shrink: 0;
    color: var(--color-light-text-primary);
}
.file-upload-item__errorIcon_1ovgz {
    flex-shrink: 0;
    color: var(--color-light-graphic-negative);
}
.file-upload-item__successIcon_1ovgz {
    flex-shrink: 0;
    color: var(--color-light-graphic-positive);
}
.file-upload-item__name_1ovgz {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-light-text-primary)
}
.file-upload-item__name_1ovgz a {
        display: block;
        margin-bottom: 1px;
    }
.file-upload-item__meta_1ovgz {
    display: flex;
    white-space: nowrap;
    margin-right: var(--gap-2xs);
    margin-left: var(--gap-xl);
    padding: var(--gap-2xs) 0
}
.file-upload-item__meta_1ovgz > * {
        margin-right: var(--gap-s)
    }
.file-upload-item__meta_1ovgz > *:last-child {
            margin-right: 0;
        }
.file-upload-item__size_1ovgz {
    text-align: right;
}
.file-upload-item__delete_1ovgz,
.file-upload-item__download_1ovgz {
    height: 24px;
    width: 24px;
    margin-left: var(--gap-xs);
}
.file-upload-item__errorWrapper_1ovgz {
    margin-top: var(--gap-s);
    color: var(--color-light-text-accent)
}
@media (--small-only) {
.file-upload-item__errorWrapper_1ovgz {
        flex: 1 0 100%;
        margin-top: var(--gap-3xs)
}
    }
.file-upload-item__restore_1ovgz {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    margin-left: var(--gap-s);
}
.file-upload-item__spinnerWrapper_1ovgz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}
.file-upload-item__spinner_1ovgz {
    width: 20px;
    height: 20px;
}
.file-upload-item__uploadPercent_1ovgz {
    margin-top: var(--gap-2xs);
    margin-left: var(--gap-xl);
}
