:root {
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-2xl: 32px;
    --gap-3xl: 40px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    /* title */

    /* text */
    --confirmation-text-font-size: 16px;
    --confirmation-text-line-height: 24px;
    --confirmation-text-font-weight: 400;
    --confirmation-text-font-family: var(--font-family-system);
    --confirmation-text-color: var(--color-light-text-secondary);

    /* error */

    /* input */
}
.component {
    font-size: var(--confirmation-text-font-size);
    line-height: var(--confirmation-text-line-height);
    font-weight: var(--confirmation-text-font-weight);
    font-family: var(--confirmation-text-font-family);
    color: var(--confirmation-text-color);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: var(--gap-3xl);
    color: var(--confirmation-text-color);
}
.hasError .getCodeButton {
        margin-top: 0;
    }
.hasError .info {
        margin-top: 0;
    }
.hasError .customContent {
        margin-bottom: var(--gap-2xl);
    }
.info {
    margin: var(--gap-2xs) 0;
}
.loaderWrap {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap-xs);
}
.loader {
    margin-right: var(--gap-xs);
}
.center {
    align-items: center
}
.center .loaderWrap {
        justify-content: center;
    }
.timePassed {
    display: flex;
    min-width: 3em;
}
.getCodeButton {
    margin-top: var(--gap-2xl);
}
.noAttemptsLeftMessage {
    margin: var(--gap-2xs) 0 var(--gap-xs);
}
