/* hash: 8ijo2 */
:root {
    --color-light-bg-primary-inverted: #0b1f35;
    --color-light-border-secondary-inverted: #3c4c5d;
    --color-light-text-primary-inverted: #fff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    /* default */
    --toast-plate-bg-color: var(--color-light-bg-primary-inverted);
    --toast-plate-color: var(--color-light-text-primary-inverted);

    /* inverted */
}
.toast-plate__component_bb3vb {
    color: var(--toast-plate-color);
    background-color: var(--toast-plate-bg-color);
}
.toast-plate__closeButtonWrapper_bb3vb:before {
        background-color: var(--color-light-border-secondary-inverted);
    }
