/* hash: 1kanr */
:root {
    --color-light-bg-primary: #fff;
    --color-light-border-secondary: #e7e9eb;
    --color-light-text-primary: #0b1f35;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    /* default */

    /* inverted */
    --toast-plate-inverted-color: var(--color-light-text-primary);
    --toast-plate-inverted-bg-color: var(--color-light-bg-primary);
}
.toast-plate__component_swozi {
    color: var(--toast-plate-inverted-color);
    background-color: var(--toast-plate-inverted-bg-color);
}
.toast-plate__closeButtonWrapper_swozi:before {
        background-color: var(--color-light-border-secondary);
    }
