/* hash: 4rv6w */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xl: 32px;
}
.chart__legendContent_hzv13 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.chart__legendWrap_hzv13 {
    width: 100%;
    margin: 0;
    padding: 0;
}
.chart__legendItem_hzv13 {
    margin-right: var(--gap-2xl);
    cursor: pointer;
    display: inline-block;
}
.chart__legendItem_hzv13:last-child {
    margin-right: 0;
}
.chart__legendUnactive_hzv13 {
    opacity: 0.3;
}
.chart__legendIcon_hzv13 {
    margin-right: 13px;
    display: flex;
}
.chart__legendValue_hzv13 {
    text-transform: capitalize;
}
