/* hash: 1qcd6 */
:root {
    --color-light-bg-primary: #fff;
    --color-light-border-primary: #dbdee1;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --modal-footer-background: var(--color-light-bg-primary);

    /* sizes */

    /* paddings */

    /* scroll */
    --modal-footer-highlight-background: var(--color-light-bg-primary);
    --modal-footer-highlight-box-shadow: 0 -1px 0 0 var(--color-light-border-primary);

    /* desktop */

    /* mobile */
}
.modal__footer_1d6lo {
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease, background 0.2s ease;
}
.modal__sticky_1d6lo {
    background: var(--modal-footer-background);
    position: sticky;
}
.modal__highlighted_1d6lo {
    background: var(--modal-footer-highlight-background);
    box-shadow: var(--modal-footer-highlight-box-shadow);
}
