/* hash: 73y43 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
}
:root {
    --modal-footer-default-gap: var(--gap-m);

    /* sizes */

    /* paddings */

    /* scroll */

    /* desktop */

    /* mobile */
}
.modal__column_1831v {
    display: flex;
    flex-direction: column
}
.modal__column_1831v > * {
        margin-bottom: var(--modal-footer-default-gap);
    }
.modal__column_1831v > *:last-child,
    .modal__column_1831v > *:only-child {
        margin-bottom: 0;
    }
.modal__column_1831v.modal__gap-16_1831v > * {
        margin-bottom: var(--gap-m);
    }
.modal__column_1831v.modal__gap-24_1831v > * {
        margin-bottom: var(--gap-xl);
    }
.modal__column_1831v.modal__gap-32_1831v > * {
        margin-bottom: var(--gap-2xl);
    }
.modal__start_1831v {
    justify-content: flex-start;
}
.modal__center_1831v {
    justify-content: center;
}
.modal__space-between_1831v {
    justify-content: space-between
}
.modal__space-between_1831v > * {
        flex: 1;
    }
.modal__start_1831v,
.modal__center_1831v,
.modal__space-between_1831v {
    display: flex
}
.modal__start_1831v > *, .modal__center_1831v > *, .modal__space-between_1831v > * {
        margin-right: var(--modal-footer-default-gap);
    }
.modal__start_1831v > *:last-child,
    .modal__start_1831v > *:only-child,
    .modal__center_1831v > *:last-child,
    .modal__center_1831v > *:only-child,
    .modal__space-between_1831v > *:last-child,
    .modal__space-between_1831v > *:only-child {
        margin-right: 0;
    }
.modal__start_1831v.modal__gap-16_1831v > *, .modal__center_1831v.modal__gap-16_1831v > *, .modal__space-between_1831v.modal__gap-16_1831v > * {
        margin-right: var(--gap-m);
    }
.modal__start_1831v.modal__gap-24_1831v > *, .modal__center_1831v.modal__gap-24_1831v > *, .modal__space-between_1831v.modal__gap-24_1831v > * {
        margin-right: var(--gap-xl);
    }
.modal__start_1831v.modal__gap-32_1831v > *, .modal__center_1831v.modal__gap-32_1831v > *, .modal__space-between_1831v.modal__gap-32_1831v > * {
        margin-right: var(--gap-2xl);
    }
