/* hash: 12kms */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
}
:root {

    /* sizes */

    /* paddings */

    /* scroll */

    /* desktop */

    /* mobile */
}
.modal__footer_1ggyk {
    padding: var(--gap-m);
}
.modal__sticky_1ggyk {
    bottom: 0;
}
