/* hash: 1uyu8 */
:root {
    --gap-s: 12px;
    --gap-xl: 24px;
    --gap-4xl: 48px;
}

.notification-manager__component_1biwf {
    position: fixed;
    top: 0;
    right: var(--gap-s);
    display: flex;
    flex-direction: column;
}

.notification-manager__component_1biwf .notification-manager__notification_1biwf {
    position: static;
    width: calc(100vw - var(--gap-xl));
    margin-top: var(--gap-s);
    will-change: transform;
}

.notification-manager__enter_1biwf {
    visibility: hidden;
    transform: translate(0, -500px);
    transition: transform 0.4s ease-out;
}

.notification-manager__enterActive_1biwf {
    visibility: visible;
    transform: translate(0);
}

.notification-manager__exit_1biwf {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.notification-manager__exitActive_1biwf {
    visibility: hidden;
    opacity: 0;
}

@media (min-width: 600px) {
    .notification-manager__component_1biwf {
        right: var(--gap-4xl);
    }

    .notification-manager__component_1biwf .notification-manager__notification_1biwf {
        width: auto;
    }

    .notification-manager__enter_1biwf {
        transform: translate(100%, 0);
    }

    .notification-manager__enterActive_1biwf {
        transform: translate(0);
    }
}
