/* hash: 127u8 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.alert__component_vxpll {
    min-height: 48px;
}
.alert__title_vxpll {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
