/* hash: 2rk1n */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
}
.gallery__info_1uhkg {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.gallery__filenameHead_1uhkg {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.gallery__filenameContainer_1uhkg {
    overflow: hidden;
    display: inline-flex;
}
.gallery__description_1uhkg {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: var(--gap-2xs);
}
