/* hash: 1kkpe */
:root {
    --color-light-border-link: #007aff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
}
:root {
    --border-radius-m: 8px;
    --border-radius-l: 12px;
}
:root {
    --focus-color: var(--color-light-border-link);
    --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
    --disabled-cursor: not-allowed;
    --size-xs-height: 32px;
    --size-s-height: 48px;
    --size-m-height: 56px;
    --size-l-height: 64px;
    --size-xl-height: 72px;
}
:root {
    /* misc */
    --button-active-transform-scale-factor: 1;
    --button-active-transform: scale(var(--button-active-transform-scale-factor));
    --button-font-weight: 500;

    /* border-radius */
    --button-xxs-size-border-radius: 6px;
    --button-xs-size-border-radius: var(--border-radius-m);
    --button-s-size-border-radius: var(--border-radius-m);
    --button-m-size-border-radius: var(--border-radius-l);
    --button-l-size-border-radius: var(--border-radius-l);
    --button-xl-size-border-radius: var(--border-radius-l);
}
.button__component_4vwd7 {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0 23px;
    line-height: 20px;
    font-weight: var(--button-font-weight);
    font-family: var(--font-family);
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
    -webkit-user-select: none;
            user-select: none;
    cursor: pointer;
    transition: background 0.2s ease, border 0.2s ease, color 0.2s ease, transform 0.12s ease;
    box-sizing: border-box;
    will-change: transform
}
.button__component_4vwd7:active {
        transform: var(--button-active-transform);
    }
.button__focused_4vwd7 {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
.button__loading_4vwd7 .button__text_4vwd7,
.button__loading_4vwd7 .button__addons_4vwd7 {
    opacity: 0;
}
.button__stretchText_4vwd7 {
    flex-grow: 1;
}
.button__loader_4vwd7 {
    position: absolute;
}
/* Size */
/* За счет того, что у кнопок есть border 1px,
для полного соответствия макетам padding необходимо уменьшить на 1px (16px -> 15px) */
.button__xxs_4vwd7 {
    min-width: 80px;
    min-height: var(--size-xs-height);
    padding: 0 15px;
    font-size: 14px;
    border-radius: var(--button-xxs-size-border-radius)
}
.button__xxs_4vwd7.button__iconOnly_4vwd7 {
        min-width: var(--size-xs-height);
    }
.button__xs_4vwd7 {
    min-width: 88px;
    min-height: 40px;
    padding: 0 19px;
    font-size: 14px;
    border-radius: var(--button-xs-size-border-radius)
}
.button__xs_4vwd7.button__iconOnly_4vwd7 {
        min-width: 40px;
    }
.button__s_4vwd7 {
    min-width: 104px;
    min-height: var(--size-s-height);
    font-size: 16px;
    line-height: 24px;
    border-radius: var(--button-s-size-border-radius)
}
.button__s_4vwd7.button__iconOnly_4vwd7 {
        min-width: var(--size-s-height);
    }
.button__m_4vwd7 {
    min-width: 128px;
    min-height: var(--size-m-height);
    padding: 0 27px;
    font-size: 16px;
    line-height: 24px;
    border-radius: var(--button-m-size-border-radius)
}
.button__m_4vwd7.button__iconOnly_4vwd7 {
        min-width: var(--size-m-height);
    }
.button__l_4vwd7 {
    min-width: 160px;
    min-height: var(--size-l-height);
    padding: 0 31px;
    font-size: 18px;
    line-height: 24px;
    border-radius: var(--button-l-size-border-radius)
}
.button__l_4vwd7.button__iconOnly_4vwd7 {
        min-width: var(--size-l-height);
    }
.button__xl_4vwd7 {
    min-width: 168px;
    min-height: var(--size-xl-height);
    padding: 0 35px;
    font-size: 18px;
    line-height: 24px;
    border-radius: var(--button-xl-size-border-radius)
}
.button__xl_4vwd7.button__iconOnly_4vwd7 {
        min-width: var(--size-xl-height);
    }
.button__withRightAddons_4vwd7.button__xxs_4vwd7 {
        padding-right: 11px;
    }
.button__withRightAddons_4vwd7.button__xs_4vwd7 {
        padding-right: 15px;
    }
.button__withRightAddons_4vwd7.button__s_4vwd7 {
        padding-right: 19px;
    }
.button__withRightAddons_4vwd7.button__m_4vwd7 {
        padding-right: 23px;
    }
.button__withRightAddons_4vwd7.button__l_4vwd7 {
        padding-right: 27px;
    }
.button__withRightAddons_4vwd7.button__xl_4vwd7 {
        padding-right: 31px;
    }
.button__withRightAddons_4vwd7.button__ghost_4vwd7 {
        padding-right: 0;
    }
.button__withLeftAddons_4vwd7.button__xxs_4vwd7 {
        padding-left: 11px;
    }
.button__withLeftAddons_4vwd7.button__xs_4vwd7 {
        padding-left: 15px;
    }
.button__withLeftAddons_4vwd7.button__s_4vwd7 {
        padding-left: 19px;
    }
.button__withLeftAddons_4vwd7.button__m_4vwd7 {
        padding-left: 23px;
    }
.button__withLeftAddons_4vwd7.button__l_4vwd7 {
        padding-left: 27px;
    }
.button__withLeftAddons_4vwd7.button__xl_4vwd7 {
        padding-left: 31px;
    }
.button__withLeftAddons_4vwd7.button__ghost_4vwd7 {
        padding-left: 0;
    }
.button__link_4vwd7 {
    min-width: 0;
}
.button__ghost_4vwd7 {
    min-width: 0;
    min-height: 0;
    padding: 0;
    border: none;
    -webkit-appearance: none;
            appearance: none
}
.button__ghost_4vwd7.button__iconOnly_4vwd7 {
        min-width: 0;
    }
/* Disabled */
.button__component_4vwd7[disabled] {
    cursor: var(--disabled-cursor)
}
.button__component_4vwd7[disabled] * {
        pointer-events: none;
    }
/* Addons */
.button__addons_4vwd7 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin: 0
}
.button__addons_4vwd7:first-child {
        margin-right: var(--gap-2xs);
    }
.button__addons_4vwd7:last-child {
        margin-left: var(--gap-2xs);
    }
.button__addons_4vwd7:only-child {
        margin: 0;
    }
.button__s_4vwd7 .button__addons_4vwd7:first-child, .button__m_4vwd7 .button__addons_4vwd7:first-child {
        margin-right: var(--gap-xs);
    }
.button__s_4vwd7 .button__addons_4vwd7:last-child, .button__m_4vwd7 .button__addons_4vwd7:last-child {
        margin-left: var(--gap-xs);
    }
.button__s_4vwd7 .button__addons_4vwd7:only-child, .button__m_4vwd7 .button__addons_4vwd7:only-child {
        margin: 0;
    }
.button__l_4vwd7 .button__addons_4vwd7:first-child, .button__xl_4vwd7 .button__addons_4vwd7:first-child {
        margin-right: var(--gap-s);
    }
.button__l_4vwd7 .button__addons_4vwd7:last-child, .button__xl_4vwd7 .button__addons_4vwd7:last-child {
        margin-left: var(--gap-s);
    }
.button__l_4vwd7 .button__addons_4vwd7:only-child, .button__xl_4vwd7 .button__addons_4vwd7:only-child {
        margin: 0;
    }
.button__iconOnly_4vwd7 {
    padding: 0;
}
/* Block */
.button__block_4vwd7 {
    display: flex;
    width: 100%;
}
/* Nowrap */
.button__nowrap_4vwd7 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* IE min-height fix */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .button__component_4vwd7:after {
        min-height: inherit;
        font-size: 0;
        content: '';
    }
}
