/* hash: 1gz42 */
:root {
    --color-static-status-green: #13a463;
    --color-static-status-grey: #6d7986;
    --color-static-status-orange: #de6a00;
    --color-static-status-red: #d91d0b;
}
:root {
    --color-light-bg-attention-muted: #fff3e0;
    --color-light-bg-negative-muted: #feebea;
    --color-light-bg-positive-muted: #ebf9f1;
    --color-light-border-link: #007aff;
    --color-light-specialbg-secondary-transparent: rgba(11, 31, 53, 0.05);
    --color-light-text-primary: #0b1f35;
}
:root {
    --shadow-s: 0 0 8px rgba(11, 31, 53, 0.04), 0 4px 8px rgba(11, 31, 53, 0.08);

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-l: 20px;
}
:root {
    --border-radius-m: 8px;
}
:root {
    --focus-color: var(--color-light-border-link);
    --arrow-transform: rotate(180deg);
}
:root {
    /* border */
    --plate-border-left: 2px;
    --plate-border: 0 0 0 1px;
    --plate-border-radius: var(--border-radius-m);

    /* width limit */

    --plate-width-limit: 560px;

    /* custom view */
    --plate-background: transparent;
    --plate-border-color: var(--color-static-status-grey);
    --plate-box-shadow: var(--shadow-s);
}
.plate__component_23ygs {
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    color: var(--color-light-text-primary);
    width: 100%;
    min-height: 56px;
    padding: var(--gap-s);
    outline: none
}
.plate__component_23ygs:before {
        content: '';
        width: var(--plate-border-left);
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }
.plate__foldable_23ygs {
    cursor: pointer;
}
.plate__component_23ygs * {
    box-sizing: border-box;
}
.plate__focused_23ygs {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
.plate__inner_23ygs {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.plate__rounded_23ygs:before, .plate__noBorder_23ygs:before {
        display: none;
    }
.plate__shadow_23ygs:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: var(--plate-box-shadow);
    pointer-events: none;
}
.plate__rounded_23ygs {
    border-radius: var(--plate-border-radius)
}
.plate__rounded_23ygs.plate__shadow_23ygs:after {
        border-radius: var(--plate-border-radius);
    }
.plate__common_23ygs {
    background-color: var(--color-light-specialbg-secondary-transparent);
    box-shadow: var(--plate-border) var(--color-static-status-grey)
}
.plate__common_23ygs:before {
        background-color: var(--color-static-status-grey);
    }
.plate__negative_23ygs {
    background-color: var(--color-light-bg-negative-muted);
    box-shadow: var(--plate-border) var(--color-static-status-red)
}
.plate__negative_23ygs:before {
        background-color: var(--color-static-status-red);
    }
.plate__positive_23ygs {
    background-color: var(--color-light-bg-positive-muted);
    box-shadow: var(--plate-border) var(--color-static-status-green)
}
.plate__positive_23ygs:before {
        background-color: var(--color-static-status-green);
    }
.plate__attention_23ygs {
    background-color: var(--color-light-bg-attention-muted);
    box-shadow: var(--plate-border) var(--color-static-status-orange)
}
.plate__attention_23ygs:before {
        background-color: var(--color-static-status-orange);
    }
.plate__custom_23ygs {
    background: var(--plate-background);
    box-shadow: var(--plate-border) var(--plate-border-color)
}
.plate__custom_23ygs:before {
        background-color: var(--plate-border-color);
    }
.plate__rect_23ygs,
.plate__noBorder_23ygs {
    box-shadow: none;
}
.plate__isHidden_23ygs {
    display: none;
}
.plate__leftAddons_23ygs,
.plate__rightAddons_23ygs {
    padding: var(--gap-2xs);
}
.plate__leftAddons_23ygs {
    flex-shrink: 0;
    min-width: 24px;
    margin-right: var(--gap-2xs);
}
.plate__subAddons_23ygs {
    cursor: default;
    align-self: flex-start;
}
.plate__bold_23ygs,
.plate__light_23ygs {
    word-break: break-word;
}
.plate__bold_23ygs {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    padding: 5px var(--gap-s) 5px var(--gap-2xs);
}
.plate__light_23ygs {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 6px var(--gap-s) 6px var(--gap-2xs);
}
.plate__foldable_23ygs .plate__content_23ygs {
    max-height: 300vh;
}
.plate__content_23ygs {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    overflow: hidden;
    transition: max-height 2s ease-in-out;
    cursor: default
}
.plate__content_23ygs.plate__isFolded_23ygs.plate__isFolded_23ygs {
        max-height: 0;
        transition: max-height 1s cubic-bezier(0, 1, 0, 1);
    }
.plate__contentContainer_23ygs {
    flex: 1;
    margin-right: auto
}
.plate__contentContainer_23ygs.plate__withoutTitle_23ygs {
        padding-top: var(--gap-3xs);
    }
.plate__limitWidth_23ygs {
    max-width: var(--plate-width-limit);
}
.plate__description_23ygs {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: var(--gap-2xs) var(--gap-s) var(--gap-2xs) var(--gap-2xs);
}
.plate__footer_23ygs {
    padding: var(--gap-l) 0 var(--gap-2xs) var(--gap-2xs);
}
.plate__closer_23ygs,
.plate__folder_23ygs {
    display: block;
    height: 24px;
    width: 24px;
    opacity: 1;
    transition: opacity 0.2s ease;
    cursor: pointer;
    margin-left: var(--gap-s)
}
.plate__closer_23ygs:hover, .plate__folder_23ygs:hover {
        opacity: 0.7;
    }
.plate__closer_23ygs:active, .plate__folder_23ygs:active {
        opacity: 0.5;
    }
.plate__folder_23ygs {
    transition: transform 0.15s ease-in-out, opacity 0.2s ease;
    transform: var(--arrow-transform)
}
.plate__folder_23ygs.plate__isFolded_23ygs {
        transform: rotate(0deg);
    }
.plate__button_23ygs:not(:last-child) {
        margin-right: var(--gap-xs);
    }
.plate__rowLimit1_23ygs {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.plate__rowLimit2_23ygs {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.plate__rowLimit3_23ygs {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
