/* hash: 1tg7o */
:root {
    --color-light-specialbg-tertiary-transparent: rgba(11, 31, 53, 0.1);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
}
:root {
    --border-radius-xs: 2px;
}
.intl-phone-input__flagIcon_jv6x2 {
    max-width: 24px;
    max-height: 24px;
}
.intl-phone-input__flagPlaceholder_jv6x2 {
    width: 24px;
    height: 16px;
    max-height: 16px;
    border-radius: var(--border-radius-xs);
    margin-top: var(--gap-3xs);
    background-color: var(--color-light-specialbg-tertiary-transparent);
}
