/* hash: 1d51e */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.gallery__container_kt04d {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.gallery__modal_kt04d {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background: transparent;
}
