:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-xl: 24px;
}
.component {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.align-stretch {
    align-items: stretch;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.align-center {
    align-items: center;
}
.align-baseline {
    align-items: baseline;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.grow {
    flex-grow: 1;
}
.padding-top-3xs {
        padding-top: var(--gap-3xs);
    }
.padding-top-2xs {
        padding-top: var(--gap-2xs);
    }
.padding-top-xs {
        padding-top: var(--gap-xs);
    }
.padding-top-s {
        padding-top: var(--gap-s);
    }
.padding-top-m {
        padding-top: var(--gap-m);
    }
.padding-top-l {
        padding-top: var(--gap-l);
    }
.padding-top-xl {
        padding-top: var(--gap-xl);
    }
.padding-right-3xs {
        padding-right: var(--gap-3xs);
    }
.padding-right-2xs {
        padding-right: var(--gap-2xs);
    }
.padding-right-xs {
        padding-right: var(--gap-xs);
    }
.padding-right-s {
        padding-right: var(--gap-s);
    }
.padding-right-m {
        padding-right: var(--gap-m);
    }
.padding-right-l {
        padding-right: var(--gap-l);
    }
.padding-right-xl {
        padding-right: var(--gap-xl);
    }
.padding-bottom-3xs {
        padding-bottom: var(--gap-3xs);
    }
.padding-bottom-2xs {
        padding-bottom: var(--gap-2xs);
    }
.padding-bottom-xs {
        padding-bottom: var(--gap-xs);
    }
.padding-bottom-s {
        padding-bottom: var(--gap-s);
    }
.padding-bottom-m {
        padding-bottom: var(--gap-m);
    }
.padding-bottom-l {
        padding-bottom: var(--gap-l);
    }
.padding-bottom-xl {
        padding-bottom: var(--gap-xl);
    }
.padding-left-3xs {
        padding-left: var(--gap-3xs);
    }
.padding-left-2xs {
        padding-left: var(--gap-2xs);
    }
.padding-left-xs {
        padding-left: var(--gap-xs);
    }
.padding-left-s {
        padding-left: var(--gap-s);
    }
.padding-left-m {
        padding-left: var(--gap-m);
    }
.padding-left-l {
        padding-left: var(--gap-l);
    }
.padding-left-xl {
        padding-left: var(--gap-xl);
    }
