:root {
    --color-red-dark: #d91d0b;
}
:root {
    --color-light-bg-quaternary: #dbdee1;
    --color-light-graphic-accent: #ef3124;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
    --color-light-graphic-accent-shade-7: rgb(222, 46, 33);
    --color-light-graphic-accent-shade-15: rgb(203, 42, 31);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --border-radius-s: 4px;
    --border-radius-circle: 50%;
}
:root {
    --slider-progress-color: var(--color-red-dark);
    --slider-progress-hover-color: var(--color-red-dark);
    --slider-thumb-color: var(--color-light-graphic-accent);
    --slider-thumb-hover-color: var(--color-light-graphic-accent-shade-7);
    --slider-thumb-active-color: var(--color-light-graphic-accent-shade-15);
    --slider-thumb-size: 20px;
    --slider-thumb-half-size: calc(var(--slider-thumb-size) / 2);
    --slider-thumb-border: 2px solid transparent;
    --slider-thumb-box-shadow: none;
    --slider-progress-s-height: 2px;
    --slider-progress-m-height: 4px;
    --slider-progress-s-border-radius: 0;
    --slider-progress-m-border-radius: var(--border-radius-s);
    --slider-progress-background: var(--color-light-bg-quaternary);
    --slider-progress-hover-background: var(--color-light-bg-quaternary);
    --slider-clickable-area-size: 16px;
    --slider-clickable-area-half-size: calc(var(--slider-clickable-area-size) / 2);

    /* Отступы по бокам — на мобилке thumb не должен заходить за края контрола */
    --slider-origin-width: 100%;
    --slider-origin-right: 0;
}
.component {
    width: 100%;
    padding-top: var(--slider-progress-s-height);
    position: relative
}
.component :global(.noUi-base:hover) :global(.noUi-connects) {
            background: var(--slider-progress-hover-background);
        }
.component :global(.noUi-base:hover) :global(.noUi-connect) {
            background: var(--slider-progress-hover-color);
        }
.component :global(.noUi-handle:hover .noUi-touch-area) {
        background: var(--slider-thumb-hover-color);
    }
.component :global(.noUi-handle:active .noUi-touch-area) {
        background: var(--slider-thumb-active-color);
    }
.component :global(.noUi-base) {
        position: absolute;
        width: 100%;
        height: var(--slider-clickable-area-size);
        transform: translateY(-50%);

        cursor: pointer;
    }
.component :global(.noUi-origin) {
        width: var(--slider-origin-width);
        position: absolute;
        top: 0;
        right: var(--slider-origin-right);
        height: 0;
    }
.component :global(.noUi-connects) {
        width: 100%;
        height: 100%;
        position: relative;
        background: var(--slider-progress-background);
        transition: background 0.15s;
        z-index: 1;
        overflow: hidden;
    }
.component :global(.noUi-connect) {
        background: var(--slider-progress-color);
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transform-style: flat;
        will-change: transform;
        transform-origin: 0 0;
    }
.component :global(.noUi-handle) {
        position: absolute;
        top: calc((var(--slider-thumb-half-size) - var(--slider-clickable-area-half-size)) * -1);
        right: calc(var(--slider-thumb-half-size) * -1);
        width: var(--slider-thumb-size);
        height: var(--slider-thumb-size);

        box-sizing: border-box;
        border-radius: var(--border-radius-circle);
        box-shadow: var(--slider-thumb-box-shadow);
        border: var(--slider-thumb-border);
        cursor: grab;
        outline: none;
        transition: background 0.15s;
    }
.component :global(.noUi-touch-area) {
        border-radius: var(--border-radius-circle);
        background: var(--slider-thumb-color);
        width: 100%;
        height: 100%;
    }
.component :global(.noUi-pips) {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        margin-top: 6px;
        height: 18px;
        color: var(--color-light-text-secondary);
        position: relative;
        width: 100%;
    }
.component :global(.noUi-marker) {
        display: none;
    }
.component :global(.noUi-value) {
        position: absolute;
        white-space: nowrap;
        text-align: center;
        top: 0;
        transform: translateX(-50%)
    }
.component :global(.noUi-value):nth-child(2) {
            transform: none;
        }
.component :global(.noUi-value):last-child {
            transform: translateX(-100%);
        }
.s :global(.noUi-base) {
        border-radius: var(--slider-progress-s-border-radius);
        top: calc(var(--slider-progress-s-height) / 2);
    }
.s :global(.noUi-connects) {
        top: calc(var(--slider-clickable-area-half-size) - var(--slider-progress-s-height) / 2);
        height: var(--slider-progress-s-height);
        border-radius: var(--slider-progress-s-border-radius);
    }
.m :global(.noUi-base) {
        border-radius: var(--slider-progress-m-border-radius);
        top: calc(var(--slider-progress-m-height) / 2);
    }
.m :global(.noUi-connects) {
        top: calc(var(--slider-clickable-area-half-size) - var(--slider-progress-m-height) / 2);
        height: var(--slider-progress-m-height);
        border-radius: var(--slider-progress-m-border-radius);
    }
