/* hash: szwqk */
:root {
    --color-light-specialbg-component: rgba(11, 31, 53, 0.07);
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.icon-view__componentWrapper_zxxhz {
    position: relative;
    display: inline-flex;
}
.icon-view__component_zxxhz {
    display: flex;
    position: relative;
    color: var(--color-light-text-secondary);
}
.icon-view__bg_zxxhz {
    fill: #f3f4f5;
}
.icon-view__border_zxxhz {
    stroke: var(--color-light-specialbg-component);
    stroke-width: 1px;
    fill: transparent;
}
.icon-view__children_zxxhz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.icon-view__children_zxxhz svg {
        width: 100%;
        height: 100%;
    }
.icon-view__addons_zxxhz {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    line-height: 0;
}
.icon-view__size_128_zxxhz .icon-view__children_zxxhz {
        width: 64px;
        height: 64px;
    }
.icon-view__size_128_zxxhz .icon-view__addons_zxxhz {
        width: 40px;
        height: 40px;
    }
.icon-view__size_128_zxxhz .icon-view__topAddons_zxxhz {
        top: -8px;
        right: -8px;
    }
.icon-view__size_128_zxxhz .icon-view__bottomAddons_zxxhz {
        bottom: -8px;
        right: -8px;
    }
.icon-view__size_80_zxxhz .icon-view__children_zxxhz {
        width: 48px;
        height: 48px;
    }
.icon-view__size_80_zxxhz .icon-view__addons_zxxhz {
        width: 24px;
        height: 24px;
    }
.icon-view__size_80_zxxhz .icon-view__topAddons_zxxhz {
        top: -3px;
        right: -3px;
    }
.icon-view__size_80_zxxhz .icon-view__bottomAddons_zxxhz {
        bottom: -3px;
        right: -3px;
    }
.icon-view__size_80_zxxhz .icon-view__indicator_zxxhz {
        top: -6px;
        right: -14px;
    }
.icon-view__size_64_zxxhz .icon-view__children_zxxhz {
        width: 32px;
        height: 32px;
    }
.icon-view__size_64_zxxhz .icon-view__addons_zxxhz {
        width: 24px;
        height: 24px;
    }
.icon-view__size_64_zxxhz .icon-view__topAddons_zxxhz {
        top: -7px;
        right: -7px;
    }
.icon-view__size_64_zxxhz .icon-view__bottomAddons_zxxhz {
        bottom: -7px;
        right: -7px;
    }
.icon-view__size_64_zxxhz .icon-view__indicator_zxxhz {
        top: -8px;
        right: -16px;
    }
.icon-view__size_48_zxxhz .icon-view__children_zxxhz {
        width: 24px;
        height: 24px;
    }
.icon-view__size_48_zxxhz .icon-view__addons_zxxhz {
        width: 20px;
        height: 20px;
    }
.icon-view__size_48_zxxhz .icon-view__topAddons_zxxhz {
        top: -7px;
        right: -7px;
    }
.icon-view__size_48_zxxhz .icon-view__bottomAddons_zxxhz {
        bottom: -7px;
        right: -7px;
    }
.icon-view__size_48_zxxhz .icon-view__indicator_zxxhz {
        top: -7px;
        right: -13px;
    }
.icon-view__size_40_zxxhz .icon-view__children_zxxhz {
        width: 24px;
        height: 24px;
    }
.icon-view__size_40_zxxhz .icon-view__addons_zxxhz {
        width: 20px;
        height: 20px;
    }
.icon-view__size_40_zxxhz .icon-view__topAddons_zxxhz {
        top: -7px;
        right: -7px;
    }
.icon-view__size_40_zxxhz .icon-view__bottomAddons_zxxhz {
        bottom: -7px;
        right: -7px;
    }
.icon-view__size_40_zxxhz .icon-view__indicator_zxxhz {
        top: -7px;
        right: -13px;
    }
.icon-view__size_32_zxxhz .icon-view__children_zxxhz {
        width: 24px;
        height: 24px;
    }
.icon-view__size_32_zxxhz .icon-view__indicator_zxxhz {
        top: -2px;
        right: -2px;
    }
.icon-view__size_24_zxxhz .icon-view__children_zxxhz {
        width: 24px;
        height: 24px;
    }
.icon-view__size_24_zxxhz .icon-view__indicator_zxxhz {
        top: -2px;
        right: -2px;
    }
.icon-view__size_20_zxxhz .icon-view__children_zxxhz {
        width: 16px;
        height: 16px;
    }
.icon-view__size_20_zxxhz .icon-view__indicator_zxxhz {
        top: -3px;
        right: -3px;
    }
