/* hash: 1gux1 */
:root {
    --color-light-specialbg-component-shade-7: rgba(10, 29, 49, 0.1351);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.table__field_1jeu8 svg {
        width: 18px;
        height: 18px;
    }
.table__open_1jeu8,
.table__open_1jeu8:hover {
    background-color: var(--color-light-specialbg-component-shade-7);
}
