:root {
    --color-light-border-link: #007aff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
}
:root {
    --focus-color: var(--color-light-border-link);
}
.component {
    display: inline-flex;
    align-items: center;
    position: relative;

    &,
    * {
        box-sizing: border-box;
    }
}
.label {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    cursor: inherit;
    width: 0;
    height: 0;
}
.control {
    opacity: 0;
    cursor: inherit
}
.control::-webkit-file-upload-button {
        cursor: inherit;
    }
/* TODO обновить типографику на новую, когда ее зарелизят */
.xxs .file,
.xxs .noFile,
.xs .file,
.xs .noFile {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.s .file,
.s .noFile {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.m .file,
.m .noFile {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.l .file,
.l .noFile {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
.file,
.noFile {
    display: inline-block;
    margin-left: 0.5em;
    text-align: center;
}
.clear {
    margin: 0 0 0 5px;
    padding: 0;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
            user-select: none;
    color: inherit;
    font: inherit;
    background: none;
    border: none
}
.clear:before {
        content: '×';
    }
.progressBar {
    margin-top: var(--gap-2xs);
}
.disabled .noFile,
.disabled .file,
.disabled .icon {
    opacity: 0.3;
}
.disabled .clear {
    display: none;
}
.focused {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
