/* hash: wt2hx */
:root {
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.pagination__dots_iivmm {
    width: 32px;
    height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-text-secondary);
    cursor: default;
}
