/* hash: yjvam */
:root {
    --color-light-bg-primary: #fff;
    --color-light-text-primary: #0b1f35;
}
:root {
    --shadow-m: 0 0 16px rgba(11, 31, 53, 0.08), 0 8px 16px rgba(11, 31, 53, 0.16);

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --popover-border-color: transparent;
}
.popover__component_1r7wg {
    background-color: transparent;
    color: var(--color-light-text-primary);
}
.popover__inner_1r7wg {
    position: relative;
    background-color: var(--color-light-bg-primary);
    box-shadow: var(--shadow-m);
    border: 1px solid var(--popover-border-color);
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
    box-sizing: border-box;
    will-change: transform;
}
.popover__scrollableContent_1r7wg {
    position: relative;
    z-index: 2;
    overflow-y: auto;
}
.popover__arrow_1r7wg {
    z-index: 1;
}
.popover__arrow_1r7wg:after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--color-light-bg-primary);
    border: 1px solid var(--popover-border-color);
    box-sizing: border-box;
    transform: rotate(45deg);
}
.popover__component_1r7wg[data-popper-placement='left'] .popover__arrow_1r7wg,
.popover__component_1r7wg[data-popper-placement='left-start'] .popover__arrow_1r7wg,
.popover__component_1r7wg[data-popper-placement='left-end'] .popover__arrow_1r7wg {
    right: 5px
}
.popover__component_1r7wg[data-popper-placement='left'] .popover__arrow_1r7wg:after, .popover__component_1r7wg[data-popper-placement='left-start'] .popover__arrow_1r7wg:after, .popover__component_1r7wg[data-popper-placement='left-end'] .popover__arrow_1r7wg:after {
        top: -6px;
        border-bottom: none;
        border-left: none;
    }
.popover__component_1r7wg[data-popper-placement='left-start'].popover__arrowShift_1r7wg .popover__arrow_1r7wg:after {
    top: -7px;
}
.popover__component_1r7wg[data-popper-placement='left-end'].popover__arrowShift_1r7wg .popover__arrow_1r7wg:after {
    top: -5px;
}
.popover__component_1r7wg[data-popper-placement='right'] .popover__arrow_1r7wg,
.popover__component_1r7wg[data-popper-placement='right-start'] .popover__arrow_1r7wg,
.popover__component_1r7wg[data-popper-placement='right-end'] .popover__arrow_1r7wg {
    left: -7px
}
.popover__component_1r7wg[data-popper-placement='right'] .popover__arrow_1r7wg:after, .popover__component_1r7wg[data-popper-placement='right-start'] .popover__arrow_1r7wg:after, .popover__component_1r7wg[data-popper-placement='right-end'] .popover__arrow_1r7wg:after {
        top: -6px;
        border-top: none;
        border-right: none;
    }
.popover__component_1r7wg[data-popper-placement='right-start'].popover__arrowShift_1r7wg .popover__arrow_1r7wg:after {
    top: -7px;
}
.popover__component_1r7wg[data-popper-placement='right-end'].popover__arrowShift_1r7wg .popover__arrow_1r7wg:after {
    top: -5px;
}
.popover__component_1r7wg[data-popper-placement='top'] .popover__arrow_1r7wg,
.popover__component_1r7wg[data-popper-placement='top-start'] .popover__arrow_1r7wg,
.popover__component_1r7wg[data-popper-placement='top-end'] .popover__arrow_1r7wg {
    bottom: 5px
}
.popover__component_1r7wg[data-popper-placement='top'] .popover__arrow_1r7wg:after, .popover__component_1r7wg[data-popper-placement='top-start'] .popover__arrow_1r7wg:after, .popover__component_1r7wg[data-popper-placement='top-end'] .popover__arrow_1r7wg:after {
        left: -6px;
        border-top: none;
        border-left: none;
    }
.popover__component_1r7wg[data-popper-placement='top-start'].popover__arrowShift_1r7wg .popover__arrow_1r7wg:after {
    left: -17px;
}
.popover__component_1r7wg[data-popper-placement='top-end'].popover__arrowShift_1r7wg .popover__arrow_1r7wg:after {
    left: 5px;
}
.popover__component_1r7wg[data-popper-placement='bottom'] .popover__arrow_1r7wg,
.popover__component_1r7wg[data-popper-placement='bottom-start'] .popover__arrow_1r7wg,
.popover__component_1r7wg[data-popper-placement='bottom-end'] .popover__arrow_1r7wg {
    top: -7px
}
.popover__component_1r7wg[data-popper-placement='bottom'] .popover__arrow_1r7wg:after, .popover__component_1r7wg[data-popper-placement='bottom-start'] .popover__arrow_1r7wg:after, .popover__component_1r7wg[data-popper-placement='bottom-end'] .popover__arrow_1r7wg:after {
        left: -6px;
        border-bottom: none;
        border-right: none;
    }
.popover__component_1r7wg[data-popper-placement='bottom-start'].popover__arrowShift_1r7wg .popover__arrow_1r7wg:after {
    left: -17px;
}
.popover__component_1r7wg[data-popper-placement='bottom-end'].popover__arrowShift_1r7wg .popover__arrow_1r7wg:after {
    left: 5px;
}
.popover__enter_1r7wg .popover__inner_1r7wg {
    opacity: 0;
    transform: scale(0.98);
}
.popover__enterActive_1r7wg .popover__inner_1r7wg {
    opacity: 1;
    transform: scale(1);
}
.popover__exit_1r7wg .popover__inner_1r7wg {
    opacity: 1;
    transform: scale(1);
}
.popover__exitActive_1r7wg .popover__inner_1r7wg {
    opacity: 0;
    transform: scale(0.98);
}
