:root {
    --color-light-bg-primary: #fff;
    --color-light-bg-secondary: #f3f4f5;
    --color-light-bg-tertiary: #e7e9eb;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
}
:root {
    --disabled-cursor: not-allowed;
    --size-s-height: 48px;
}
:root {

    /* options list */

    /* option */
    --select-option-background: var(--color-light-bg-primary);
    --select-option-selected-background: var(--color-light-bg-primary);
    --select-option-hover-background: var(--color-light-bg-secondary);
    --select-option-active-background: var(--color-light-bg-tertiary);
    --select-option-disabled-background: var(--color-light-bg-primary);
    --select-option-color: var(--color-light-text-primary);
    --select-option-selected-color: var(--color-light-text-primary);
    --select-option-hover-color: var(--color-light-text-primary);
    --select-option-active-color: var(--color-light-text-primary);
    --select-option-disabled-color: var(--color-light-text-secondary);

    /* checkmark */

    /* optgroup */
}
.option {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    display: flex;
    align-items: center;
    grid-gap: var(--gap-s);
    gap: var(--gap-s);
    transition: background-color 0.2s ease;
    background: var(--select-option-background);
    color: var(--select-option-color);
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    min-height: var(--size-s-height)
}
.option:not(.disabled):active {
        background: var(--select-option-active-background);
        color: var(--select-option-active-color);
    }
.option.checkmarkBefore {
        padding: 0 0 0 var(--gap-s)
    }
.option.checkmarkBefore.mobile {
            padding-left: var(--gap-m);
        }
.option.checkmarkAfter {
        padding: 0 var(--gap-s) 0 0
    }
.option.checkmarkAfter.mobile {
            padding-right: var(--gap-l);
        }
.option.textContent {
        padding: var(--gap-s)
    }
.option.textContent.mobile {
            padding: var(--gap-m) var(--gap-l) var(--gap-m) var(--gap-m);
        }
.selected {
    background: var(--select-option-selected-background);
    color: var(--select-option-selected-color);
    cursor: default;
}
.highlighted {
    background: var(--select-option-hover-background);
    color: var(--select-option-hover-color);
}
.disabled {
    cursor: var(--disabled-cursor);
    background: var(--select-option-disabled-background);
    color: var(--select-option-disabled-color);
}
.content {
    flex: 1;
}
