/* hash: 5khul */
:root {
    --color-light-bg-accent: #ef3124;
    --color-light-bg-primary: #fff;
    --color-light-graphic-attention: #e58933;
    --color-light-graphic-link: #007aff;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-secondary: #6d7986;
    --color-light-graphic-tertiary: #b6bcc3;
    --color-light-text-primary-inverted: #fff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
}
:root {
    --border-radius-circle: 50%;
    --border-radius-pill: 99px;
}
:root {
    --badge-icon-bg-color: var(--color-light-bg-primary);
}
.badge__wrapper_4hd6a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-circle);
    box-sizing: border-box
}
.badge__wrapper_4hd6a.badge__s_4hd6a {
        padding: var(--gap-3xs);
        width: 20px;
        height: 20px;
    }
.badge__wrapper_4hd6a.badge__m_4hd6a {
        padding: var(--gap-3xs);
        width: 24px;
        height: 24px;
    }
.badge__wrapper_4hd6a.badge__xl_4hd6a {
        padding: 5px;
        width: 40px;
        height: 40px;
    }
.badge__component_4hd6a {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;

    position: relative;
    z-index: 2;
    box-sizing: border-box;
    border-radius: var(--border-radius-pill);
    background-color: var(--color-light-bg-accent);
    color: var(--color-light-text-primary-inverted);
    overflow: hidden;
}
.badge__count_4hd6a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-pill);
}
.badge__outlineCount_4hd6a {
    border: 2px solid var(--badge-icon-bg-color);
}
.badge__s_4hd6a {
    height: 16px;
    min-width: 16px;
    padding: 0 var(--gap-2xs);
}
.badge__m_4hd6a {
    height: 20px;
    min-width: 20px;
    padding: 0 6px;
}
.badge__l_4hd6a {
    height: 24px;
    min-width: 24px;
    padding: 0 6px;
}
.badge__heightS_4hd6a {
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    padding: 0 var(--gap-2xs);
}
.badge__heightM_4hd6a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 0 var(--gap-2xs);
}
.badge__heightL_4hd6a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    padding: 0 var(--gap-xs);
}
.badge__heightXL_4hd6a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 0 var(--gap-s);
}
.badge__heightXXL_4hd6a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 0 var(--gap-m);
}
.badge__heightS_4hd6a.badge__outlineCount_4hd6a {
    border: 1px solid var(--badge-icon-bg-color);
}
.badge__icon_4hd6a {
    max-height: 30px;
    min-width: 0;
    padding: 0;
    color: var(--color-light-graphic-positive)
}
.badge__icon_4hd6a.badge__positive_4hd6a {
        color: var(--color-light-graphic-positive);
        background-color: var(--color-light-graphic-positive);
    }
.badge__icon_4hd6a.badge__attention_4hd6a {
        color: var(--color-light-graphic-attention);
        background-color: var(--color-light-graphic-attention);
    }
.badge__icon_4hd6a.badge__negative_4hd6a {
        color: var(--color-light-graphic-negative);
        background-color: var(--color-light-graphic-negative);
    }
.badge__icon_4hd6a.badge__link_4hd6a {
        color: var(--color-light-graphic-link);
        background-color: var(--color-light-graphic-link);
    }
.badge__icon_4hd6a.badge__tertiary_4hd6a {
        color: var(--color-light-graphic-tertiary);
        background-color: var(--color-light-graphic-tertiary);
    }
.badge__icon_4hd6a.badge__secondary_4hd6a {
        color: var(--color-light-graphic-secondary);
        background-color: var(--color-light-graphic-secondary);
    }
.badge__icon_4hd6a.badge__primary_4hd6a {
        color: var(--color-light-graphic-primary);
        background-color: var(--color-light-graphic-primary);
    }
.badge__icon_4hd6a.badge__s_4hd6a {
    width: 16px;
    height: 16px;
}
.badge__icon_4hd6a:before {
    position: absolute;
    z-index: -1;
    left: 18%;
    right: 18%;
    top: 18%;
    bottom: 18%;
    background-color: var(--badge-icon-bg-color);
    border-radius: var(--border-radius-pill);
    content: '';
}
.badge__outline_4hd6a {
    background-color: var(--badge-icon-bg-color);
}
.badge__outlineColor_4hd6a {
    background-color: var(--color-light-bg-accent)
}
.badge__outlineColor_4hd6a.badge__attention_4hd6a {
        background-color: var(--color-light-graphic-attention);
    }
.badge__outlineColor_4hd6a.badge__positive_4hd6a {
        background-color: var(--color-light-graphic-positive);
    }
.badge__outlineColor_4hd6a.badge__negative_4hd6a {
        background-color: var(--color-light-graphic-negative);
    }
.badge__outlineColor_4hd6a.badge__link_4hd6a {
        background-color: var(--color-light-graphic-link);
    }
.badge__outlineColor_4hd6a.badge__tertiary_4hd6a {
        background-color: var(--color-light-graphic-tertiary);
    }
.badge__outlineColor_4hd6a.badge__secondary_4hd6a {
        background-color: var(--color-light-graphic-secondary);
    }
.badge__outlineColor_4hd6a.badge__primary_4hd6a {
        background-color: var(--color-light-graphic-primary);
    }
.badge__dot_4hd6a {
    width: 8px;
    height: 8px;
    min-width: 0;
    padding: 0;
}
.badge__dot_4hd6a.badge__outlineCount_4hd6a {
    border: 1px solid var(--badge-icon-bg-color);
}
.badge__isHidden_4hd6a {
    display: none;
}
.badge__icon_4hd6a svg {
    position: relative;
}
.badge__m_4hd6a svg {
    top: -2px;
    left: -2px;
    width: 24px;
    height: 24px;
}
.badge__xl_4hd6a svg {
    width: 30px;
    height: 30px;
}
