/* hash: 17nza */
:root {
    --color-light-graphic-tertiary: #b6bcc3;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.confirmation__circle_1yd50 {
    fill: transparent;
    stroke: var(--color-light-graphic-tertiary);
    stroke-width: 2px;
}
