:root {
    --color-static-graphic-solitude: #e8f2fe;
}
:root {
    --color-light-bg-primary: #fff;
    --color-light-bg-secondary: #f3f4f5;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.component {
    padding-top: 1px;
    width: 100%;
    transition: background-color 0.2s;
    box-sizing: border-box;
    background: var(--color-light-bg-primary)
}
.component:first-child td {
        border-top: 0;
    }
.withoutBorder td {
        border: none;
    }
.clickable {
    cursor: pointer
}
.clickable:hover {
        background-color: var(--color-light-bg-secondary);
    }
.selected {
    background-color: #f2f8ff /* нет цвета в палитре */
}
.selected:hover {
        background-color: var(--color-static-graphic-solitude);
    }
