/* hash: 1i5bm */
:root {
    --color-light-border-link: #007aff;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --focus-color: var(--color-light-border-link);
    --disabled-cursor: not-allowed;
}
.input-autocomplete__component_17hpw {
    width: 100%;
    outline: none;
}
.input-autocomplete__field_17hpw:not(.input-autocomplete__disabled_17hpw) {
    cursor: pointer;
}
.input-autocomplete__disabled_17hpw {
    cursor: var(--disabled-cursor);
}
.input-autocomplete__placeholder_17hpw {
    color: var(--color-light-text-secondary);
}
.input-autocomplete__contentWrapper_17hpw {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.input-autocomplete__value_17hpw {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.input-autocomplete__focusVisible_17hpw {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
