/* hash: 1pm28 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
}
.loader__component_1u243 {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center
}
.loader__component_1u243 div {
        height: 4px;
        width: 4px;
        margin-right: var(--gap-2xs);
        border-radius: 100%;
        background-color: currentColor;
        animation-name: loader__blink_1u243;
        animation-duration: 950ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        transform: scale(0);
    }
.loader__component_1u243 div:nth-child(1) {
        animation-delay: 0ms;
        transform-origin: 15% 50%;
    }
.loader__component_1u243 div:nth-child(2) {
        animation-delay: 150ms;
        transform-origin: 50% 50%;
    }
.loader__component_1u243 div:nth-child(3) {
        animation-delay: 300ms;
        transform-origin: 85% 50%;
        margin-right: 0;
    }
@keyframes loader__blink_1u243 {
    21% {
        transform: scale(1);
    }

    47% {
        transform: scale(1);
    }

    68% {
        transform: scale(0);
    }
}
