/* hash: 1a6jp */
:root {
    --color-light-border-link: #007aff;
    --color-light-border-primary: #dbdee1;
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-graphic-quaternary: #dbdee1;
    --color-light-text-primary: #0b1f35;
    --color-light-bg-primary-inverted-alpha-7: rgba(11, 31, 53, 0.07);
    --color-light-bg-primary-inverted-alpha-15: rgba(11, 31, 53, 0.15);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
}
:root {
    --border-radius-circle: 50%;
}
:root {
    --focus-color: var(--color-light-border-link);
}
:root {
    --steps-option-svg-color: var(--color-light-graphic-positive);
    --steps-dash-border: 2px solid var(--color-light-graphic-positive);
}
.steps__step_urpih {
    display: flex;
    outline: none
}
.steps__step_urpih:not(.steps__vertical_urpih) {
        align-items: center;
    }
.steps__step_urpih.steps__interactive_urpih:not(.steps__disabled_urpih):hover {
    cursor: pointer;
}
.steps__step_urpih.steps__disabled_urpih:hover .steps__text_urpih {
        background: unset;
    }
.steps__step_urpih.steps__disabled_urpih .steps__indicator_urpih {
        cursor: unset;
    }
.steps__indicator_urpih {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: var(--gap-2xs)
}
.steps__indicator_urpih.steps__vertical_urpih {
        flex-direction: column;
        margin-right: var(--gap-xs);
    }
.steps__option_urpih {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-graphic-primary);
    background: var(--color-light-graphic-quaternary);
    min-width: 24px;
    height: 24px;
    border-radius: var(--border-radius-circle)
}
.steps__option_urpih.steps__vertical_urpih {
        margin-top: var(--gap-xs);
    }
.steps__dash_urpih {
    flex: 1 1 auto;
    min-width: 24px;
    border-top: 2px solid var(--color-light-border-primary);
    margin-right: var(--gap-xs)
}
.steps__dash_urpih.steps__completed_urpih {
        border-top: var(--steps-dash-border);
    }
.steps__dash_urpih.steps__vertical_urpih {
        min-width: unset;
        min-height: 24px;
        margin-right: 0;
        margin-top: var(--gap-xs);
        border-left: 2px solid var(--color-light-border-primary);
        border-top: none;
    }
.steps__dash_urpih.steps__completed_urpih.steps__vertical_urpih {
        border-left: var(--steps-dash-border);
    }
.steps__text_urpih {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    transition: background 0.2s;
    padding: var(--gap-xs);
    color: var(--color-light-text-primary);
    border-radius: var(--gap-xs);
    height: min-content
}
.steps__text_urpih.steps__interactive_urpih:not(.steps__disabled_urpih):hover {
            background: var(--color-light-bg-primary-inverted-alpha-7);
        }
.steps__text_urpih.steps__interactive_urpih:not(.steps__disabled_urpih):active {
            background: var(--color-light-bg-primary-inverted-alpha-15);
        }
.steps__focused_urpih {
    outline: var(--gap-3xs) solid var(--focus-color);
    outline-offset: var(--gap-3xs);
}
.steps__selected_urpih .steps__text_urpih {
        color: var(--color-light-graphic-primary);
    }
.steps__selected_urpih .steps__option_urpih {
        color: var(--color-light-graphic-primary-inverted);
        background: var(--color-light-graphic-primary);
    }
.steps__checkbox_urpih {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-circle);
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-light-graphic-quaternary);
}
.steps__dot_urpih {
    width: 10px;
    height: 10px;
    border-radius: var(--border-radius-circle);
    background: var(--color-light-graphic-quaternary);
}
.steps__selected_urpih .steps__checkbox_urpih {
    border: 2px solid var(--color-light-graphic-primary)
}
.steps__selected_urpih .steps__checkbox_urpih .steps__dot_urpih {
        background: var(--color-light-graphic-primary);
    }
.steps__option_urpih:not(.steps__error_urpih).steps__unordered_urpih {
    background: unset;
}
.steps__completedIndicator_urpih > [class*='positive'] {
    color: var(--steps-option-svg-color);
    background-color: var(--steps-option-svg-color);
}
