/* hash: 17ym5 */
:root {
    --color-light-graphic-primary: #0b1f35;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
    --color-light-text-tertiary: rgba(11, 31, 53, 0.3);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --input-color: var(--color-light-text-primary);
    --input-placeholder-color: var(--color-light-text-secondary);
    --input-focus-placeholder-color: var(--color-light-text-tertiary);
    --input-with-label-placeholder-color: var(--color-light-text-tertiary);
    --input-caret-color: var(--input-color);

    /* disabled */
    --input-disabled-color: var(--color-light-text-secondary);

    /* read-only */
    --input-read-only-color: var(--color-light-text-secondary);

    /* error */
    --input-error-color: var(--color-light-text-primary);

    /* display */

    /* управляет видимостью иконки ошибки, если она стоит рядом с другой иконкой */
}
.input__input_135z1 {
    color: var(--input-color);
    caret-color: var(--input-caret-color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.input__input_135z1:-webkit-autofill {
    -webkit-text-fill-color: var(--input-color);
}
.input__input_135z1::placeholder {
    color: var(--input-placeholder-color);
}
.input__hasInnerLabel_135z1::placeholder {
    color: var(--input-with-label-placeholder-color);
}
.input__clearIcon_135z1 {
    color: var(--color-light-graphic-primary);
}
/* READ-ONLY STATE */
.input__input_135z1:read-only {
    color: var(--input-read-only-color)
}
.input__input_135z1:read-only:focus::placeholder {
        color: var(--input-placeholder-color);
    }
/* DISABLED STATE */
.input__input_135z1:disabled {
    color: var(--input-disabled-color);
    -webkit-text-fill-color: var(--input-disabled-color);
}
/* FOCUS STATE */
.input__input_135z1:focus::placeholder {
    color: var(--input-focus-placeholder-color);
}
/* ERROR STATE */
.input__error_135z1 {
    color: var(--input-error-color);
    caret-color: var(--input-error-color);
}
