/* hash: 19mxr */
:root {
    --color-light-text-negative: #d91d0b;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-xl: 24px;
    --gap-xs-neg: -8px;
    --gap-xl-neg: -24px;
}
:root {
    --checkbox-group-error-color: var(--color-light-text-negative);
    --checkbox-group-hint-color: var(--color-light-text-secondary);
    --checkbox-group-label-color: var(--color-light-text-primary);
    --checkbox-group-error-padding-left: var(--gap-xs);
    --checkbox-group-error-border-left: 1px solid var(--color-light-text-negative);
}
.checkbox-group__component_2ptyx {
    display: flex;
    flex-direction: column;
}
.checkbox-group__error_2ptyx {
    padding-left: var(--checkbox-group-error-padding-left);
    border-left: var(--checkbox-group-error-border-left);
}
.checkbox-group__checkboxList_2ptyx {
    display: flex;
}
.checkbox-group__vertical_2ptyx .checkbox-group__checkboxList_2ptyx {
    flex-direction: column;
    align-items: flex-start;
}
.checkbox-group__vertical_2ptyx .checkbox-group__checkbox_2ptyx {
    margin-bottom: var(--gap-m)
}
.checkbox-group__vertical_2ptyx .checkbox-group__checkbox_2ptyx:last-child {
        margin-bottom: 0;
    }
.checkbox-group__horizontal_2ptyx .checkbox-group__checkboxList_2ptyx {
    flex-wrap: wrap;
    margin-right: var(--gap-xl-neg);
    margin-bottom: var(--gap-xs-neg);
}
.checkbox-group__tag_2ptyx.checkbox-group__horizontal_2ptyx .checkbox-group__checkboxList_2ptyx {
    margin-right: var(--gap-xs-neg);
}
.checkbox-group__horizontal_2ptyx .checkbox-group__checkbox_2ptyx {
    margin-right: var(--gap-xl);
    margin-bottom: var(--gap-xs);
}
.checkbox-group__horizontal_2ptyx .checkbox-group__tagLabel_2ptyx {
    margin-right: var(--gap-xs);
}
.checkbox-group__label_2ptyx {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: var(--gap-s);
    color: var(--checkbox-group-label-color);
}
.checkbox-group__sub_2ptyx {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-top: var(--gap-s);
}
.checkbox-group__errorMessage_2ptyx {
    color: var(--checkbox-group-error-color);
}
.checkbox-group__hint_2ptyx {
    color: var(--checkbox-group-hint-color);
}
.checkbox-group__hiddenInput_2ptyx {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
}
.checkbox-group__tagLabel_2ptyx {
    position: relative;
}
