/* hash: 11wl5 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-m: 16px;
    --gap-xl: 24px;
    --gap-3xl: 40px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    --border-radius-l: 12px;
}
:root {
    --modal-border-radius: var(--border-radius-l);
    --modal-vertical-padding: var(--gap-3xl);

    /* sizes */

    /* paddings */
    --modal-s-header-paddings: var(--gap-xs) var(--gap-xs) var(--gap-m);

    /* scroll */

    /* desktop */
    --modal-s-header-desktop-content-paddings: var(--gap-3xl) var(--gap-m) 0 0;
    --modal-s-header-desktop-font-size: 22px;
    --modal-s-header-desktop-line-height: 26px;
    --modal-l-header-desktop-content-paddings: var(--gap-3xl) var(--gap-m) 0 0;
    --modal-l-header-desktop-font-size: 30px;
    --modal-l-header-desktop-line-height: 36px;
    --modal-header-desktop-font-weight: bold;
    --modal-header-desktop-font-family: var(--font-family-system);

    /* mobile */
}
.modal__header_2m9gw {
    border-top-left-radius: var(--modal-border-radius);
    border-top-right-radius: var(--modal-border-radius);
}
.modal__content_2m9gw {
    font-weight: var(--modal-header-desktop-font-weight);
    font-family: var(--modal-header-desktop-font-family);
}
.modal__s_2m9gw .modal__content_2m9gw,
.modal__m_2m9gw .modal__content_2m9gw {
    padding: var(--modal-s-header-desktop-content-paddings);
    font-size: var(--modal-s-header-desktop-font-size);
    line-height: var(--modal-s-header-desktop-line-height);
}
.modal__l_2m9gw .modal__content_2m9gw,
.modal__xl_2m9gw .modal__content_2m9gw,
.modal__fullscreen_2m9gw .modal__content_2m9gw {
    padding: var(--modal-l-header-desktop-content-paddings);
    font-size: var(--modal-l-header-desktop-font-size);
    line-height: var(--modal-l-header-desktop-line-height);
}
.modal__s_2m9gw,
.modal__m_2m9gw {
    padding: var(--modal-s-header-paddings)
}
.modal__s_2m9gw:not(.modal__hasContent_2m9gw), .modal__m_2m9gw:not(.modal__hasContent_2m9gw) {
        padding-bottom: 0;
    }
.modal__l_2m9gw,
.modal__xl_2m9gw,
.modal__fullscreen_2m9gw {
    padding: var(--gap-xl) var(--gap-xl) var(--gap-m)
}
.modal__l_2m9gw:not(.modal__hasContent_2m9gw), .modal__xl_2m9gw:not(.modal__hasContent_2m9gw), .modal__fullscreen_2m9gw:not(.modal__hasContent_2m9gw) {
        padding-bottom: var(--gap-m);
    }
.modal__sticky_2m9gw {
    top: calc(var(--modal-vertical-padding) * -1)
}
.modal__sticky_2m9gw.modal__fullscreen_2m9gw {
        top: 0;
    }
