:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
}
:root {
    --modal-footer-default-gap: var(--gap-m);

    /* sizes */

    /* paddings */

    /* scroll */

    /* desktop */

    /* mobile */
}
.column {
    display: flex;
    flex-direction: column
}
.column > * {
        margin-bottom: var(--modal-footer-default-gap);
    }
.column > *:last-child,
    .column > *:only-child {
        margin-bottom: 0;
    }
.column.gap-16 > * {
        margin-bottom: var(--gap-m);
    }
.column.gap-24 > * {
        margin-bottom: var(--gap-xl);
    }
.column.gap-32 > * {
        margin-bottom: var(--gap-2xl);
    }
.start {
    justify-content: flex-start;
}
.center {
    justify-content: center;
}
.space-between {
    justify-content: space-between
}
.space-between > * {
        flex: 1;
    }
.start,
.center,
.space-between {
    display: flex
}
.start > *, .center > *, .space-between > * {
        margin-right: var(--modal-footer-default-gap);
    }
.start > *:last-child,
    .start > *:only-child,
    .center > *:last-child,
    .center > *:only-child,
    .space-between > *:last-child,
    .space-between > *:only-child {
        margin-right: 0;
    }
.start.gap-16 > *, .center.gap-16 > *, .space-between.gap-16 > * {
        margin-right: var(--gap-m);
    }
.start.gap-24 > *, .center.gap-24 > *, .space-between.gap-24 > * {
        margin-right: var(--gap-xl);
    }
.start.gap-32 > *, .center.gap-32 > *, .space-between.gap-32 > * {
        margin-right: var(--gap-2xl);
    }
