/* hash: e4ze0 */
:root {
    --color-light-border-link: #007aff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
}
:root {
    --focus-color: var(--color-light-border-link);
}
.attach__component_ttrdg {
    display: inline-flex;
    align-items: center;
    position: relative;

    &,
    * {
        box-sizing: border-box;
    }
}
.attach__label_ttrdg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    cursor: inherit;
    width: 0;
    height: 0;
}
.attach__control_ttrdg {
    opacity: 0;
    cursor: inherit
}
.attach__control_ttrdg::-webkit-file-upload-button {
        cursor: inherit;
    }
/* TODO обновить типографику на новую, когда ее зарелизят */
.attach__xxs_ttrdg .attach__file_ttrdg,
.attach__xxs_ttrdg .attach__noFile_ttrdg,
.attach__xs_ttrdg .attach__file_ttrdg,
.attach__xs_ttrdg .attach__noFile_ttrdg {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}
.attach__s_ttrdg .attach__file_ttrdg,
.attach__s_ttrdg .attach__noFile_ttrdg {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.attach__m_ttrdg .attach__file_ttrdg,
.attach__m_ttrdg .attach__noFile_ttrdg {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.attach__l_ttrdg .attach__file_ttrdg,
.attach__l_ttrdg .attach__noFile_ttrdg {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}
.attach__file_ttrdg,
.attach__noFile_ttrdg {
    display: inline-block;
    margin-left: 0.5em;
    text-align: center;
}
.attach__clear_ttrdg {
    margin: 0 0 0 5px;
    padding: 0;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
            user-select: none;
    color: inherit;
    font: inherit;
    background: none;
    border: none
}
.attach__clear_ttrdg:before {
        content: '\D7';
    }
.attach__progressBar_ttrdg {
    margin-top: var(--gap-2xs);
}
.attach__disabled_ttrdg .attach__noFile_ttrdg,
.attach__disabled_ttrdg .attach__file_ttrdg,
.attach__disabled_ttrdg .attach__icon_ttrdg {
    opacity: 0.3;
}
.attach__disabled_ttrdg .attach__clear_ttrdg {
    display: none;
}
.attach__focused_ttrdg {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
