/* hash: 17970 */
:root {
    --color-light-text-link: #007aff;
    --color-light-text-primary-inverted: #fff;
    --color-light-text-secondary-inverted: rgba(255, 255, 255, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    /* primary */
    --link-inverted-primary-color: var(--color-light-text-primary-inverted);
    --link-inverted-primary-hover-color: rgb(204, 204, 204);
    --link-inverted-primary-active-color: rgb(153, 153, 153);

    /* secondary */
    --link-inverted-secondary-color: var(--color-light-text-secondary-inverted);
    --link-inverted-secondary-hover-color: rgba(204, 204, 204, 0.7);
    --link-inverted-secondary-active-color: rgba(153, 153, 153, 0.7);

    /* default */
    --link-inverted-default-color: var(--color-light-text-link);
    --link-inverted-default-hover-color: rgb(0, 98, 204);
    --link-inverted-default-active-color: rgb(0, 73, 153);
}
.link__primary_1otym {
    color: var(--link-inverted-primary-color);
    border-bottom-color: var(--link-inverted-primary-color)
}
.link__primary_1otym:hover {
        color: var(--link-inverted-primary-hover-color);
    }
.link__primary_1otym:active {
        color: var(--link-inverted-primary-active-color);
    }
.link__secondary_1otym {
    color: var(--link-inverted-secondary-color);
    border-bottom-color: var(--link-inverted-secondary-color)
}
.link__secondary_1otym:hover {
        color: var(--link-inverted-secondary-hover-color);
    }
.link__secondary_1otym:active {
        color: var(--link-inverted-secondary-active-color);
    }
.link__defaultView_1otym {
    color: var(--link-inverted-default-color);
    border-bottom-color: var(--link-inverted-default-color)
}
.link__defaultView_1otym:hover {
        color: var(--link-inverted-default-hover-color);
    }
.link__defaultView_1otym:active {
        color: var(--link-inverted-default-active-color);
    }
