/* hash: 15gez */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --icon-button-xxs-size: 24px;
    --icon-button-xs-size: 32px;
    --icon-button-s-size: 48px;
}
.icon-button__xxs_plhes {
    width: var(--icon-button-xxs-size);
    height: var(--icon-button-xxs-size);
}
.icon-button__xs_plhes {
    width: var(--icon-button-xs-size);
    height: var(--icon-button-xs-size);
}
.icon-button__s_plhes {
    width: var(--icon-button-s-size);
    height: var(--icon-button-s-size);
}
.icon-button__iconWrapper_plhes {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-button__icon_plhes {
    max-width: 100%;
    max-height: 100%;
}
/* Для иконок с заливкой (icons-classic) */
.icon-button__icon_plhes *[fill-rule] {
    fill: currentColor;
}
