/* hash: f3oho */
:root {
    --color-light-graphic-tertiary: #b6bcc3;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.confirmation-v1__circle_bl1nf {
    fill: transparent;
    stroke: var(--color-light-graphic-tertiary);
    stroke-width: 2px;
}
