:root {
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.component {
    width: 100%;
    max-width: 388px;
    margin: 0 auto;
    color: var(--color-light-text-secondary);
}
