:root {
    --color-light-graphic-accent: #ef3124;
    --color-light-graphic-attention: #e58933;
    --color-light-graphic-link: #007aff;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-secondary: #6d7986;
    --color-light-graphic-tertiary: #b6bcc3;
    --color-light-bg-primary-inverted-alpha-10: rgba(11, 31, 53, 0.1);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
}
:root {
    --border-radius-xs: 2px;
}
.bar {
    width: 100%;
    height: var(--gap-2xs);
    margin-right: var(--gap-2xs);
    border-radius: var(--border-radius-xs);
    background: var(--color-light-bg-primary-inverted-alpha-10);
}
.bar:last-child {
    margin-right: 0;
}
.positive {
    background: var(--color-light-graphic-positive);
}
.attention {
    background: var(--color-light-graphic-attention);
}
.negative {
    background: var(--color-light-graphic-negative);
}
.link {
    background: var(--color-light-graphic-link);
}
.tertiary {
    background: var(--color-light-graphic-tertiary);
}
.secondary {
    background: var(--color-light-graphic-secondary);
}
.primary {
    background: var(--color-light-graphic-primary);
}
.accent {
    background: var(--color-light-graphic-accent);
}
