/* hash: 19qo4 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-s-neg: -12px;
    --gap-m-neg: -16px;
}
.password-input__eye_npmr4:last-child {
    margin-right: var(--gap-s-neg);
}
.password-input__xl_npmr4 .password-input__eye_npmr4:last-child {
        margin-right: var(--gap-m-neg);
    }
.password-input__xl_npmr4 .password-input__eye_npmr4 {
        margin-left: var(--gap-2xs);
    }
.password-input__input_npmr4::-ms-reveal {
    display: none;
}
