/* hash: 22g47 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --font-family-styrene: 'Styrene UI', system-ui, -apple-system, 'Segoe UI', Roboto,
        'Helvetica Neue', Helvetica, sans-serif;
}
.typography__styrene-xlarge_1pauw {
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.typography__styrene-large_1pauw {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.typography__styrene-medium_1pauw {
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.typography__styrene-small_1pauw {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.typography__styrene-xsmall_1pauw {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.typography__system-xlarge_1pauw {
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
}
.typography__system-large_1pauw {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
}
.typography__system-medium_1pauw {
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
}
.typography__system-small_1pauw {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}
.typography__system-xsmall_1pauw {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}
