/* hash: x2rxj */
:root {
    --color-static-graphic-solitude: #e8f2fe;
}
:root {
    --color-light-bg-primary: #fff;
    --color-light-bg-secondary: #f3f4f5;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.table__component_zaon3 {
    padding-top: 1px;
    width: 100%;
    transition: background-color 0.2s;
    box-sizing: border-box;
    background: var(--color-light-bg-primary)
}
.table__component_zaon3:first-child td {
        border-top: 0;
    }
.table__withoutBorder_zaon3 td {
        border: none;
    }
.table__clickable_zaon3 {
    cursor: pointer
}
.table__clickable_zaon3:hover {
        background-color: var(--color-light-bg-secondary);
    }
.table__selected_zaon3 {
    background-color: #f2f8ff /* нет цвета в палитре */
}
.table__selected_zaon3:hover {
        background-color: var(--color-static-graphic-solitude);
    }
