:root {
    --color-light-bg-negative-muted: #feebea;
    --color-light-bg-secondary: #f3f4f5;
    --color-light-text-negative: #d91d0b;
    --color-light-text-primary: #0b1f35;
    --color-light-text-tertiary: rgba(11, 31, 53, 0.3);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    --border-radius-s: 4px;
}
:root {
    --code-input-font-size: 30px;
    --code-input-font-weight: 700;
    --code-input-font-family: var(--font-family-system);
    --code-input-text-color: var(--color-light-text-primary);
    --code-input-bg-color: var(--color-light-bg-secondary);
    --code-input-error-bg-color: var(--color-light-bg-negative-muted);
}
.component {
    display: flex;
}
.input {
    flex-shrink: 0;
    width: 36px;
    height: 48px;
    margin-right: var(--gap-xs);
    padding: 0;
    background-color: var(--code-input-bg-color);
    border: none;
    border-radius: var(--border-radius-s);
    box-sizing: border-box;
    outline: none;
    color: var(--code-input-text-color);
    text-align: center;
    font-size: var(--code-input-font-size);
    font-weight: var(--code-input-font-weight);
    font-family: var(--code-input-font-family)
}
.input:last-child {
        margin-right: 0;
    }
.input.hasError {
        color: var(--color-light-text-negative);
        caret-color: var(--code-input-text-color);
        background-color: var(--code-input-error-bg-color);
    }
.input.disabled {
        color: var(--color-light-text-tertiary);
        opacity: 1;
    }
.input:-webkit-autofill {
        -webkit-text-fill-color: var(--code-input-text-color);
    }
.input:-webkit-autofill,
    .input:-webkit-autofill:hover,
    .input:-webkit-autofill:focus,
    .input:-webkit-autofill:active {
        /* Hack from http://stackoverflow.com/a/29350537 */
        -webkit-transition: background-color 999999s ease-in-out 0s;
        transition: background-color 999999s ease-in-out 0s;
    }
.compact {
    width: 32px;
    height: 48px;
    margin-right: var(--gap-2xs);
}
