:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-s: 12px;
}
:root {
    --text-paragraph-margin-bottom: 0 0 var(--gap-s);
}
.paragraph {
    margin: 0;
    padding: 0;
}
.paragraphWithMargins {
    padding: 0;
    margin: var(--text-paragraph-margin-bottom);
}
.primary-large {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.primary-medium {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.primary-small {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.secondary-large {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}
.secondary-medium {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
.secondary-small {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
}
.component {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
.caps {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}
.bold {
    font-weight: bold;
}
.medium {
    font-weight: 500;
}
.regular {
    font-weight: normal;
}
.monospace {
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}
