/* hash: 1ok3s */
:root {
    --color-static-status-red: #d91d0b;
}
:root {
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
    --gap-3xl: 40px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    /* title */
    --confirmation-title-font-size: 22px;
    --confirmation-title-line-height: 26px;
    --confirmation-title-font-weight: 700;
    --confirmation-title-font-family: var(--font-family-system);
    --confirmation-title-color: var(--color-light-text-primary);
    --confirmation-title-font-feature-settings: normal;

    /* text */
    --confirmation-text-font-size: 16px;
    --confirmation-text-line-height: 24px;
    --confirmation-text-font-weight: 400;
    --confirmation-text-font-family: var(--font-family-system);
    --confirmation-text-color: var(--color-light-text-secondary);

    /* error */

    /* input */
}
.confirmation-v1__component_19yys {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.confirmation-v1__title_19yys {
    font-size: var(--confirmation-title-font-size);
    line-height: var(--confirmation-title-line-height);
    font-weight: var(--confirmation-title-font-weight);
    font-family: var(--confirmation-title-font-family);
    color: var(--confirmation-title-color);
    font-feature-settings: var(--confirmation-title-font-feature-settings);

    margin-bottom: var(--gap-3xl);
}
.confirmation-v1__description_19yys {
    font-size: var(--confirmation-text-font-size);
    line-height: var(--confirmation-text-line-height);
    font-weight: var(--confirmation-text-font-weight);
    font-family: var(--confirmation-text-font-family);
    color: var(--confirmation-text-color);
}
.confirmation-v1__countdown_19yys {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--gap-2xs);
}
.confirmation-v1__loader_19yys {
    margin-right: var(--gap-xs);
}
.confirmation-v1__timePassed_19yys {
    display: flex;
    min-width: 3em;
}
.confirmation-v1__getCodeButton_19yys {
    margin-top: var(--gap-2xl);
}
.confirmation-v1__alertIcon_19yys {
    text-align: center;
    margin-bottom: var(--gap-xl);
    color: var(--color-static-status-red);
}
