/* hash: 11d1i */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.table__row_nwlhi {
    cursor: pointer;
}
.table__selected_nwlhi.table__expanded_nwlhi {
    background-color: inherit;
}
.table__expanded_nwlhi:hover {
        background-color: inherit;
    }
.table__expandable_nwlhi td {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
        height: auto;
    }
