/* hash: 1qawm */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
    --gap-xl: 24px;
    --gap-3xl: 40px;
    --gap-4xl: 48px;
}
:root {
    --font-family-styrene: 'Styrene UI', system-ui, -apple-system, 'Segoe UI', Roboto,
        'Helvetica Neue', Helvetica, sans-serif;
}
/* TODO: поменять медиа-запросы на миксины */
.typography__styrene-xlarge_39k3n {
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.typography__styrene-large_39k3n {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.typography__styrene-medium_39k3n {
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.typography__styrene-small_39k3n {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.typography__styrene-xsmall_39k3n {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.typography__system-xlarge_39k3n {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.typography__system-large_39k3n {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}
.typography__system-medium_39k3n {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.typography__system-small_39k3n {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.typography__system-xsmall_39k3n {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.typography__margins-xlarge_39k3n {
    margin: 0 0 var(--gap-xl);
}
.typography__margins-large_39k3n {
    margin: var(--gap-3xl) 0 var(--gap-m);
}
.typography__margins-medium_39k3n {
    margin: var(--gap-3xl) 0 var(--gap-m);
}
.typography__margins-small_39k3n {
    margin: var(--gap-3xl) 0 var(--gap-m);
}
.typography__margins-xsmall_39k3n {
    margin: var(--gap-3xl) 0 var(--gap-m);
}
@media screen and (min-width: 600px) {
    .typography__system-xlarge_39k3n {
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
    }

    .typography__system-large_39k3n {
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
    }

    .typography__system-medium_39k3n {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
    }

    .typography__system-small_39k3n {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
    }

    .typography__system-xsmall_39k3n {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
    }

    .typography__margins-xlarge_39k3n {
        margin: 0 0 var(--gap-xl);
    }

    .typography__margins-large_39k3n {
        margin: var(--gap-4xl) 0 var(--gap-xl);
    }

    .typography__margins-medium_39k3n {
        margin: var(--gap-3xl) 0 var(--gap-m);
    }

    .typography__margins-small_39k3n {
        margin: var(--gap-3xl) 0 var(--gap-m);
    }

    .typography__margins-xsmall_39k3n {
        margin: var(--gap-3xl) 0 var(--gap-m);
    }
}
@media screen and (min-width: 1024px) {
    .typography__styrene-xlarge_39k3n {
        font-size: 48px;
        line-height: 64px;
        font-weight: 500;
        font-feature-settings: 'ss01';
        font-family: var(--font-family-styrene);
    }

    .typography__styrene-large_39k3n {
        font-size: 40px;
        line-height: 48px;
        font-weight: 500;
        font-feature-settings: 'ss01';
        font-family: var(--font-family-styrene);
    }

    .typography__styrene-medium_39k3n {
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;
        font-feature-settings: 'ss01';
        font-family: var(--font-family-styrene);
    }

    .typography__styrene-small_39k3n {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        font-feature-settings: 'ss01';
        font-family: var(--font-family-styrene);
    }

    .typography__styrene-xsmall_39k3n {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        font-feature-settings: 'ss01';
        font-family: var(--font-family-styrene);
    }

    .typography__system-xlarge_39k3n {
        font-size: 48px;
        line-height: 52px;
        font-weight: 700;
    }

    .typography__system-large_39k3n {
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
    }

    .typography__system-medium_39k3n {
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
    }

    .typography__system-small_39k3n {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
    }

    .typography__system-xsmall_39k3n {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
    }

    .typography__margins-xlarge_39k3n {
        margin: 0 0 var(--gap-xl);
    }

    .typography__margins-large_39k3n {
        margin: var(--gap-4xl) 0 var(--gap-xl);
    }

    .typography__margins-medium_39k3n {
        margin: var(--gap-4xl) 0 var(--gap-xl);
    }

    .typography__margins-small_39k3n {
        margin: var(--gap-3xl) 0 var(--gap-m);
    }

    .typography__margins-xsmall_39k3n {
        margin: var(--gap-3xl) 0 var(--gap-m);
    }
}
