/* hash: yrpz8 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
.collapse__collapse_1ohnz {
    font-family: var(--font-family);
}
.collapse__collapse_1ohnz *,
.collapse__collapse_1ohnz:before,
.collapse__collapse_1ohnz:after {
    box-sizing: border-box;
}
.collapse__content_1ohnz {
    position: relative;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    transition: height 0.2s;
}
.collapse__expandedContent_1ohnz {
    visibility: visible;
    height: auto;
}
.collapse__expandedLabel_1ohnz {
    margin-top: 15px;
}
