:root {
    --color-light-text-negative: #d91d0b;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-xl: 24px;
    --gap-xs-neg: -8px;
    --gap-xl-neg: -24px;
}
:root {
    --checkbox-group-error-color: var(--color-light-text-negative);
    --checkbox-group-hint-color: var(--color-light-text-secondary);
    --checkbox-group-label-color: var(--color-light-text-primary);
    --checkbox-group-error-padding-left: var(--gap-xs);
    --checkbox-group-error-border-left: 1px solid var(--color-light-text-negative);
}
.component {
    display: flex;
    flex-direction: column;
}
.error {
    padding-left: var(--checkbox-group-error-padding-left);
    border-left: var(--checkbox-group-error-border-left);
}
.checkboxList {
    display: flex;
}
.vertical .checkboxList {
    flex-direction: column;
    align-items: flex-start;
}
.vertical .checkbox {
    margin-bottom: var(--gap-m)
}
.vertical .checkbox:last-child {
        margin-bottom: 0;
    }
.horizontal .checkboxList {
    flex-wrap: wrap;
    margin-right: var(--gap-xl-neg);
    margin-bottom: var(--gap-xs-neg);
}
.tag.horizontal .checkboxList {
    margin-right: var(--gap-xs-neg);
}
.horizontal .checkbox {
    margin-right: var(--gap-xl);
    margin-bottom: var(--gap-xs);
}
.horizontal .tagLabel {
    margin-right: var(--gap-xs);
}
.label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: var(--gap-s);
    color: var(--checkbox-group-label-color);
}
.sub {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-top: var(--gap-s);
}
.errorMessage {
    color: var(--checkbox-group-error-color);
}
.hint {
    color: var(--checkbox-group-hint-color);
}
.hiddenInput {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
}
.tagLabel {
    position: relative;
}
