/* hash: 4i7bv */
:root {
    --color-light-bg-negative-muted: #feebea;
    --color-light-bg-secondary: #f3f4f5;
    --color-light-text-negative: #d91d0b;
    --color-light-text-primary: #0b1f35;
    --color-light-text-tertiary: rgba(11, 31, 53, 0.3);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    --border-radius-s: 4px;
}
:root {
    /* title */

    /* text */

    /* error */
    --confirmation-error-color: var(--color-light-text-negative);

    /* input */
    --confirmation-input-font-size: 30px;
    --confirmation-input-font-weight: 700;
    --confirmation-input-font-family: var(--font-family-system);
    --confirmation-input-text-color: var(--color-light-text-primary);
    --confirmation-input-bg-color: var(--color-light-bg-secondary);
    --confirmation-input-error-bg-color: var(--color-light-bg-negative-muted);
}
.confirmation-v1__component_xvjxx {
    display: flex;
}
.confirmation-v1__input_xvjxx {
    flex-shrink: 0;
    width: 36px;
    height: 48px;
    margin-right: var(--gap-xs);
    padding: 0;
    background-color: var(--confirmation-input-bg-color);
    border: none;
    border-radius: var(--border-radius-s);
    box-sizing: border-box;
    outline: none;
    color: var(--confirmation-input-text-color);
    text-align: center;
    font-size: var(--confirmation-input-font-size);
    font-weight: var(--confirmation-input-font-weight);
    font-family: var(--confirmation-input-font-family)
}
.confirmation-v1__input_xvjxx.confirmation-v1__hasError_xvjxx {
        color: var(--confirmation-error-color);
        caret-color: var(--confirmation-input-text-color);
        background-color: var(--confirmation-input-error-bg-color);
    }
.confirmation-v1__input_xvjxx.confirmation-v1__center_xvjxx {
        margin: 0 var(--gap-2xs);
    }
.confirmation-v1__input_xvjxx.confirmation-v1__disabled_xvjxx {
        color: var(--color-light-text-tertiary);
        opacity: 1;
    }
.confirmation-v1__compact_xvjxx .confirmation-v1__input_xvjxx {
    width: 28px;
    height: 40px;
}
@keyframes confirmation-v1__shake_xvjxx {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}
.confirmation-v1__shake_xvjxx {
    animation: confirmation-v1__shake_xvjxx 0.15s linear 0s 3;
}
