:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {

    /* options list */

    /* option */

    /* checkmark */

    /* optgroup */
}
.checkmark {
    flex-shrink: 0;
    box-sizing: border-box;
}
.single {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0
}
.single.selected {
        opacity: 1;
    }
