.card-image__cardImage_gjoaj {
    background: #e7e8ea;
}
.card-image__loaded_gjoaj {
    background: transparent
}.backdrop__backdrop_1vo9n {
    -webkit-tap-highlight-color: transparent;
}
.backdrop__appear_1vo9n,
.backdrop__enter_1vo9n {
    background-color: transparent;
}
.backdrop__appearActive_1vo9n,
.backdrop__enterActive_1vo9n,
.backdrop__appearDone_1vo9n,
.backdrop__enterDone_1vo9n {
    background-color: rgba(0, 0, 0, 0.8);
}
.backdrop__exit_1vo9n {
    background-color: rgba(0, 0, 0, 0.8);
}
.backdrop__exitActive_1vo9n,
.backdrop__exitDone_1vo9n {
    background-color: transparent;
}.badge__component_4hd6a {
    background-color: #ef3124;
    color: #000;
}
.badge__outlineCount_4hd6a {
    border: 2px solid #121212;
}
.badge__heightS_4hd6a.badge__outlineCount_4hd6a {
    border: 1px solid #121212;
}
.badge__icon_4hd6a {
    color: #2fc26e
}
.badge__icon_4hd6a.badge__positive_4hd6a {
        color: #2fc26e;
        background-color: #2fc26e;
    }
.badge__icon_4hd6a.badge__attention_4hd6a {
        color: #f6bf65;
        background-color: #f6bf65;
    }
.badge__icon_4hd6a.badge__negative_4hd6a {
        color: #d91d0b;
        background-color: #d91d0b;
    }
.badge__icon_4hd6a.badge__link_4hd6a {
        color: #0072ef;
        background-color: #0072ef;
    }
.badge__icon_4hd6a.badge__tertiary_4hd6a {
        color: #464649;
        background-color: #464649;
    }
.badge__icon_4hd6a.badge__secondary_4hd6a {
        color: #8d8d93;
        background-color: #8d8d93;
    }
.badge__icon_4hd6a.badge__primary_4hd6a {
        color: #fff;
        background-color: #fff;
    }
.badge__icon_4hd6a:before {
    background-color: #121212;
}
.badge__outline_4hd6a {
    background-color: #121212;
}
.badge__outlineColor_4hd6a {
    background-color: #ef3124
}
.badge__outlineColor_4hd6a.badge__attention_4hd6a {
        background-color: #f6bf65;
    }
.badge__outlineColor_4hd6a.badge__positive_4hd6a {
        background-color: #2fc26e;
    }
.badge__outlineColor_4hd6a.badge__negative_4hd6a {
        background-color: #d91d0b;
    }
.badge__outlineColor_4hd6a.badge__link_4hd6a {
        background-color: #0072ef;
    }
.badge__outlineColor_4hd6a.badge__tertiary_4hd6a {
        background-color: #464649;
    }
.badge__outlineColor_4hd6a.badge__secondary_4hd6a {
        background-color: #8d8d93;
    }
.badge__outlineColor_4hd6a.badge__primary_4hd6a {
        background-color: #fff;
    }
.badge__dot_4hd6a.badge__outlineCount_4hd6a {
    border: 1px solid #121212;
}.checkbox-group__error_2ptyx {
    border-left: 1px solid #f15045;
}
.checkbox-group__label_2ptyx {
    color: #fff;
}
.checkbox-group__errorMessage_2ptyx {
    color: #f15045;
}
.checkbox-group__hint_2ptyx {
    color: rgba(235, 235, 245, 0.6);
}.checkbox__box_1osos {
    color: #000;
    background-color: #000;
    border: 1.5px solid #8d8d93;
}
.checkbox__checkedIcon_1osos {
    color: #000;
}
.checkbox__component_1osos:hover:not(.checkbox__disabled_1osos):not(.checkbox__inactive_1osos) .checkbox__box_1osos {
    background-color: #000;
    border-color: #8d8d93;
}
.checkbox__component_1osos:active:not(.checkbox__disabled_1osos):not(.checkbox__inactive_1osos) .checkbox__box_1osos {
    background-color: #000;
    border-color: #fff;
}
.checkbox__checked_1osos .checkbox__box_1osos {
    background-color: #fff;
    border-color: transparent;
}
.checkbox__checked_1osos:hover:not(.checkbox__disabled_1osos):not(.checkbox__inactive_1osos) .checkbox__box_1osos {
    background-color: rgb(255, 255, 255);
    border-color: transparent;
}
.checkbox__checked_1osos:active:not(.checkbox__disabled_1osos):not(.checkbox__inactive_1osos) .checkbox__box_1osos {
    background-color: rgb(255, 255, 255);
    border-color: transparent;
}
.checkbox__indeterminate_1osos .checkbox__box_1osos {
    background-color: #fff;
    border-color: transparent;
}
.checkbox__indeterminate_1osos:hover:not(.checkbox__disabled_1osos):not(.checkbox__inactive_1osos) .checkbox__box_1osos {
    background-color: rgb(255, 255, 255);
    border-color: transparent;
}
.checkbox__indeterminate_1osos:active:not(.checkbox__disabled_1osos):not(.checkbox__inactive_1osos) .checkbox__box_1osos {
    background-color: rgb(255, 255, 255);
    border-color: transparent;
}
.checkbox__disabled_1osos .checkbox__box_1osos {
    background-color: #000;
    border-color: #2a2a2c;
}
.checkbox__disabled_1osos.checkbox__checked_1osos .checkbox__box_1osos {
    background-color: #3a3a3c;
    border-color: transparent;
}
.checkbox__disabled_1osos.checkbox__indeterminate_1osos .checkbox__box_1osos {
    background-color: #3a3a3c;
    border-color: transparent;
}
.checkbox__disabled_1osos .checkbox__label_1osos {
    color: rgba(235, 235, 245, 0.6);
}
.checkbox__disabled_1osos .checkbox__hint_1osos {
    color: rgba(235, 235, 245, 0.6);
}
.checkbox__inactive_1osos .checkbox__box_1osos {
    background-color: #3a3a3c;
    border-color: #464649;
}
.checkbox__inactive_1osos.checkbox__checked_1osos .checkbox__box_1osos {
    color: #464649;
    border-color: transparent;
}
.checkbox__inactive_1osos.checkbox__indeterminate_1osos .checkbox__box_1osos {
    border-color: transparent;
}
.checkbox__focused_1osos .checkbox__box_1osos {
    outline: 2px solid #0072ef;
}
.checkbox__label_1osos {
    color: #fff;
}
.checkbox__errorMessage_1osos {
    color: #f15045;
}
.checkbox__hint_1osos {
    color: rgba(235, 235, 245, 0.6);
}
.checkbox__inactive_1osos .checkbox__indeterminateLine_1osos {
    background-color: #464649;
}
.checkbox__indeterminateLine_1osos {
    background-color: #000;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}.divider__component_1bs2b {
    border-bottom: 1px solid #2b2b2e;
}.dropzone__component_kn1mc {
    border: 2px dashed #464649;
}
.dropzone__component_kn1mc:not(.dropzone__disabled_kn1mc):hover {
    background-color: transparent;
}
.dropzone__dragOver_kn1mc {
    background-color: transparent;
}
.dropzone__error_kn1mc {
    border-color: #ef3124;
}
.dropzone__overlay_1o4ce {
    background: #202022;
}
.dropzone__text_1o4ce {
    color: #fff;
}.code-input__error_1l18u {
    color: #f15045;
}
@keyframes code-input__shake_1l18u {
}
.code-input__input_100i4 {
    background-color: #202022;
    color: #fff
}
.code-input__input_100i4.code-input__hasError_100i4 {
        color: #f15045;
        caret-color: #fff;
        background-color: #35110d;
    }
.code-input__input_100i4.code-input__disabled_100i4 {
        color: rgba(235, 235, 245, 0.3);
    }
.code-input__input_100i4:-webkit-autofill {
        -webkit-text-fill-color: #fff;
    }.form-control__component_p1n34 {
    color: #fff;
}
.form-control__inner_p1n34 {
    background-color: #202022;
}
.form-control__label_p1n34 {
    color: rgba(235, 235, 245, 0.6);
}
.form-control__hint_p1n34 {
    color: rgba(235, 235, 245, 0.6);
}
.form-control__disabled_p1n34 {
    background-color: #202022;
    color: rgba(235, 235, 245, 0.6);
}
.form-control__disabled_p1n34.form-control__hasError_p1n34 {
    background-color: #202022;
}
.form-control__disabled_p1n34.form-control__filled_p1n34 .form-control__label_p1n34 {
    color: rgba(235, 235, 245, 0.6);
}
.form-control__inner_p1n34:not(.form-control__disabled_p1n34):hover {
    background-color: #202022;
}
.form-control__focused_p1n34.form-control__inner_p1n34,
.form-control__focused_p1n34.form-control__inner_p1n34:hover {
    background-color: #202022
}
.form-control__error_p1n34 {
    color: #f15045;
}
.form-control__hasError_p1n34 .form-control__label_p1n34 {
    color: #f15045;
}
.form-control__hasError_p1n34 {
    background-color: #202022;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}
.form-control__component_1sors {
    color: #000;
}
.form-control__inner_1sors {
    background-color: #f3f4f5;
}
.form-control__label_1sors {
    color: rgba(60, 60, 67, 0.6);
}
.form-control__hint_1sors {
    color: rgba(60, 60, 67, 0.6);
}
.form-control__disabled_1sors {
    background-color: #f3f4f5;
    color: rgba(60, 60, 67, 0.6);
}
.form-control__disabled_1sors.form-control__hasError_1sors {
    background-color: #f3f4f5;
}
.form-control__disabled_1sors.form-control__filled_1sors .form-control__label_1sors {
    color: rgba(60, 60, 67, 0.6);
}
.form-control__inner_1sors:not(.form-control__disabled_1sors):hover {
    background-color: #f3f4f5;
}
.form-control__focused_1sors.form-control__inner_1sors,
.form-control__focused_1sors.form-control__inner_1sors:hover {
    background-color: #f3f4f5
}
.form-control__error_1sors {
    color: #ef3124;
}
.form-control__hasError_1sors .form-control__label_1sors {
    color: #ef3124;
}
.form-control__hasError_1sors {
    background-color: #f3f4f5;
}.hatching-progress-bar__container_5y7xn {
    background: rgba(255, 255, 255, 0.1);
}
.hatching-progress-bar__hatch_5y7xn {
    background: repeating-linear-gradient(
        -45deg,
        #464649 6px 10px,
        rgba(255, 255, 255, 0) 10px 18px
    );
}
.hatching-progress-bar__positive_5y7xn {
    background: #2fc26e;
}
.hatching-progress-bar__attention_5y7xn {
    background: #f6bf65;
}
.hatching-progress-bar__negative_5y7xn {
    background: #d91d0b;
}
.hatching-progress-bar__link_5y7xn {
    background: #0072ef;
}
.hatching-progress-bar__tertiary_5y7xn {
    background: #464649;
}
.hatching-progress-bar__secondary_5y7xn {
    background: #8d8d93;
}
.hatching-progress-bar__primary_5y7xn {
    background: #fff;
}
.hatching-progress-bar__accent_5y7xn {
    background: #ef3124;
}@media (max-width: 599px) {
    }
@media (min-width: 360px) {
    }
@media (min-width: 375px) {
    }
@media (min-width: 412px) {
    }
@media (min-width: 600px) and (max-width: 1023px) {
    }
@media (min-width: 600px) {
    }
@media (min-width: 768px) {
    }
@media (min-width: 1024px) {
    }
@media (min-width: 1024px) {
    }
@media (min-width: 1280px) {
    }
@media (min-width: 1440px) {
    }
@media (min-width: 1920px) {
    }
@media (max-width: 599px) {
    }
@media (min-width: 360px) {
    }
@media (min-width: 375px) {
    }
@media (min-width: 412px) {
    }
@media (min-width: 600px) and (max-width: 1023px) {
    }
@media (min-width: 600px) {
    }
@media (min-width: 768px) {
    }
@media (min-width: 1024px) {
    }
@media (min-width: 1024px) {
    }
@media (min-width: 1280px) {
    }
@media (min-width: 1440px) {
    }
@media (min-width: 1920px) {
    }
.icon-view__component_zxxhz {
    color: rgba(235, 235, 245, 0.6);
}
.icon-view__bg_zxxhz {
    fill: #f3f4f5;
}
.icon-view__border_zxxhz {
    stroke: rgba(255, 255, 255, 0.1);
    fill: transparent;
}.list__list_keujd {
    color: #fff;
}
.list__slot_keujd {
    color: #fff;
}.link__primary_lwei2 {
    color: #fff;
    border-bottom-color: #fff
}
.link__primary_lwei2:hover {
        color: rgb(255, 255, 255);
    }
.link__primary_lwei2:active {
        color: rgb(255, 255, 255);
    }
.link__secondary_lwei2 {
    color: rgba(235, 235, 245, 0.6);
    border-bottom-color: rgba(235, 235, 245, 0.6)
}
.link__secondary_lwei2:hover {
        color: rgba(239, 239, 247, 0.68);
    }
.link__secondary_lwei2:active {
        color: rgba(243, 243, 249, 0.76);
    }
.link__defaultView_lwei2 {
    color: #0072ef;
    border-bottom-color: #0072ef
}
.link__defaultView_lwei2:hover {
        color: rgb(51, 142, 242);
    }
.link__defaultView_lwei2:active {
        color: rgb(102, 170, 245);
    }
.link__component_9in55:hover .link__text_9in55,
    .link__component_9in55:active .link__text_9in55 {
        border-bottom-color: rgba(0, 0, 0, 0);
    }
.link__focused_9in55 {
    outline: 2px solid #0072ef;
}
.link__pseudo_9in55 {
    background-color: transparent;
}
.link__primary_1otym {
    color: #000;
    border-bottom-color: #000
}
.link__primary_1otym:hover {
        color: rgb(204, 204, 204);
    }
.link__primary_1otym:active {
        color: rgb(153, 153, 153);
    }
.link__secondary_1otym {
    color: rgba(60, 60, 67, 0.6);
    border-bottom-color: rgba(60, 60, 67, 0.6)
}
.link__secondary_1otym:hover {
        color: rgba(204, 204, 204, 0.7);
    }
.link__secondary_1otym:active {
        color: rgba(153, 153, 153, 0.7);
    }
.link__defaultView_1otym {
    color: #0072ef;
    border-bottom-color: #0072ef
}
.link__defaultView_1otym:hover {
        color: rgb(0, 98, 204);
    }
.link__defaultView_1otym:active {
        color: rgb(0, 73, 153);
    }@keyframes loader__blink_1u243 {
}.progress-bar__container_ocl1l {
    background: rgba(255, 255, 255, 0.1)
}
.progress-bar__filled_ocl1l.progress-bar__positive_ocl1l {
        background: #2fc26e;
    }
.progress-bar__filled_ocl1l.progress-bar__negative_ocl1l {
        background: #d91d0b;
    }
.progress-bar__filled_ocl1l.progress-bar__attention_ocl1l {
        background: #f6bf65;
    }
.progress-bar__filled_ocl1l.progress-bar__link_ocl1l {
        background: #0072ef;
    }
.progress-bar__filled_ocl1l.progress-bar__tertiary_ocl1l {
        background: #464649;
    }
.progress-bar__filled_ocl1l.progress-bar__secondary_ocl1l {
        background: #8d8d93;
    }
.progress-bar__filled_ocl1l.progress-bar__primary_ocl1l {
        background: #fff;
    }
.progress-bar__filled_ocl1l.progress-bar__accent_ocl1l {
        background: #ef3124;
    }.pure-input__input_1uh29 {
    color: #fff;
    caret-color: #0072ef;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pure-input__input_1uh29:-webkit-autofill {
    -webkit-text-fill-color: #fff;
}
.pure-input__input_1uh29::placeholder {
    color: rgba(235, 235, 245, 0.6);
}
.pure-input__hasInnerLabel_1uh29::placeholder {
    color: rgba(235, 235, 245, 0.3);
}
.pure-input__clearIcon_1uh29 {
    color: #fff;
}
.pure-input__input_1uh29:read-only {
    color: rgba(235, 235, 245, 0.6)
}
.pure-input__input_1uh29:read-only:focus::placeholder {
        color: rgba(235, 235, 245, 0.6);
    }
.pure-input__input_1uh29:disabled {
    color: #fff;
    -webkit-text-fill-color: #fff;
}
.pure-input__input_1uh29:focus::placeholder {
    color: rgba(235, 235, 245, 0.3);
}
.pure-input__error_1uh29 {
    color: #f15045;
    caret-color: #f15045;
}
.pure-input__component_1uh29 {
    color: #fff;
    background-color: #202022;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pure-input__component_1uh29::placeholder {
    color: rgba(235, 235, 245, 0.6);
}
.pure-input__component_1uh29:disabled {
    color: #fff;
    background-color: #202022;
}
.pure-input__component_1uh29:not(:disabled):focus::placeholder {
        color: rgba(235, 235, 245, 0.3);
    }
.pure-input__focusVisible_1uh29 {
    outline: 2px solid #0072ef;
}
.pure-input__component_1uh29:not(:disabled):hover {
    background-color: #202022;
}.radio-group__error_pnspl {
    border-left: 1px solid #f15045;
}
.radio-group__label_pnspl {
    color: #fff;
}
.radio-group__errorMessage_pnspl {
    color: #f15045;
}
.radio-group__hint_pnspl {
    color: rgba(235, 235, 245, 0.6);
}.radio__container_ik2c1:not(.radio__checked_ik2c1):not(.radio__disabled_ik2c1):not(.radio__inactive_ik2c1) .radio__circle_ik2c1 {
            background-color: #000;
            border: 1.5px solid #8d8d93;
        }
.radio__container_ik2c1:not(.radio__checked_ik2c1):not(.radio__disabled_ik2c1):not(.radio__inactive_ik2c1):hover:not(:active) .radio__circle_ik2c1 {
            background-color: #000;
            border-color: #8d8d93;
        }
.radio__container_ik2c1:not(.radio__checked_ik2c1):not(.radio__disabled_ik2c1):not(.radio__inactive_ik2c1):active .radio__circle_ik2c1 {
            background-color: #000;
            border-color: #fff;
        }
.radio__container_ik2c1.radio__disabled_ik2c1 .radio__circle_ik2c1 {
            background-color: #000;
            border: 1.5px solid #2a2a2c;
        }
.radio__container_ik2c1.radio__disabled_ik2c1 .radio__label_ik2c1 {
            color: rgba(235, 235, 245, 0.6);
        }
.radio__container_ik2c1.radio__disabled_ik2c1 .radio__hint_ik2c1 {
            color: rgba(235, 235, 245, 0.6);
        }
.radio__container_ik2c1.radio__inactive_ik2c1 .radio__circle_ik2c1 {
            background-color: #3a3a3c;
            border: 1px solid #464649;
        }
.radio__container_ik2c1.radio__inactive_ik2c1.radio__checked_ik2c1 .radio__circle_ik2c1:before {
            background-color: #464649;
        }
.radio__container_ik2c1.radio__checked_ik2c1 .radio__circle_ik2c1 {
            background-color: #fff;
            border: 1.5px solid transparent;
        }
.radio__container_ik2c1.radio__checked_ik2c1:hover .radio__circle_ik2c1 {
            background-color: rgb(255, 255, 255);
            border-color: transparent;
        }
.radio__container_ik2c1.radio__checked_ik2c1:active .radio__circle_ik2c1 {
            background-color: rgb(255, 255, 255);
            border-color: transparent;
        }
.radio__container_ik2c1.radio__focused_ik2c1 .radio__circle_ik2c1 {
        outline: 2px solid #0072ef;
    }
.radio__container_ik2c1.radio__disabled_ik2c1.radio__checked_ik2c1 .radio__circle_ik2c1,
    .radio__container_ik2c1.radio__inactive_ik2c1.radio__checked_ik2c1 .radio__circle_ik2c1 {
        background-color: #3a3a3c;
        border-color: transparent;
    }
.radio__circle_ik2c1:before {
        background-color: #000;
    }
.radio__label_ik2c1 {
    color: #fff;
}
.radio__hint_ik2c1 {
    color: rgba(235, 235, 245, 0.6);
}.skeleton__component_bgmht {
    color: transparent;
    background: rgba(255, 255, 255, 0.1);
}
.skeleton__component_bgmht:before {
    background: transparent;
}
.skeleton__animate_bgmht:after {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.05) 50%,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0)
    );
}
@keyframes skeleton__gradient_bgmht {
}
@keyframes skeleton__background_bgmht {
    0% {
        background: rgb(182, 188, 195);
    }
    100% {
        background: rgb(198, 205, 214);
    }
}.scrollbar__component_2g06a .scrollbar:before {
            background-color: rgba(255, 255, 255, 0.3);
        }
.scrollbar__component_2g06a.dragging .track .scrollbar.visible:before {
            background-color: rgba(255, 255, 255, 0.6);
        }

.scrollbar__component_1kiec .scrollbar:before {
            background-color: rgba(0, 0, 0, 0.3);
        }
.scrollbar__component_1kiec.dragging .track .scrollbar.visible:before {
            background-color: rgba(0, 0, 0, 0.6);
        }.slider__component_14pip .noUi-base:hover .noUi-connects {
            background: #2a2a2c;
        }
.slider__component_14pip .noUi-base:hover .noUi-connect {
            background: #d91d0b;
        }
.slider__component_14pip .noUi-handle:hover .noUi-touch-area {
        background: rgb(240, 63, 51);
    }
.slider__component_14pip .noUi-handle:active .noUi-touch-area {
        background: rgb(241, 80, 69);
    }
.slider__component_14pip .noUi-connects {
        background: #2a2a2c;
    }
.slider__component_14pip .noUi-connect {
        background: #d91d0b;
    }
.slider__component_14pip .noUi-handle {
        border: 2px solid transparent;
    }
.slider__component_14pip .noUi-touch-area {
        background: #ef3124;
    }
.slider__component_14pip .noUi-pips {
        color: rgba(235, 235, 245, 0.6);
    }.spinner__component_15ktg {
    color: #fff;
}
@keyframes spinner__spin_animation_3xla8 {
}
.spinner__component_6zxa5 {
    color: #000;
}.status__soft_1vjgk.status__green_1vjgk {
        background: rgba(19, 164, 99, 0.1);
        color: #13a463;
    }
.status__soft_1vjgk.status__orange_1vjgk {
        background: rgba(222, 106, 0, 0.1);
        color: #de6a00;
    }
.status__soft_1vjgk.status__red_1vjgk {
        background: rgba(217, 29, 11, 0.1);
        color: #d91d0b;
    }
.status__soft_1vjgk.status__blue_1vjgk {
        background: rgba(0, 122, 255, 0.1);
        color: #007aff;
    }
.status__soft_1vjgk.status__grey_1vjgk {
        background: rgba(109, 121, 134, 0.1);
        color: #6d7986;
    }
.status__soft_1vjgk.status__teal_1vjgk {
        background: rgba(33, 145, 135, 0.1);
        color: #219187;
    }
.status__soft_1vjgk.status__purple_1vjgk {
        background: rgba(103, 58, 183, 0.1);
        color: #673ab7;
    }
.status__contrast_1vjgk {
    color: #000
}
.status__contrast_1vjgk.status__green_1vjgk {
        background: #13a463;
    }
.status__contrast_1vjgk.status__orange_1vjgk {
        background: #de6a00;
    }
.status__contrast_1vjgk.status__red_1vjgk {
        background: #d91d0b;
    }
.status__contrast_1vjgk.status__blue_1vjgk {
        background: #007aff;
    }
.status__contrast_1vjgk.status__grey_1vjgk {
        background: #6d7986;
    }
.status__contrast_1vjgk.status__teal_1vjgk {
        background: #219187;
    }
.status__contrast_1vjgk.status__purple_1vjgk {
        background: #673ab7;
    }.switch__component_4pdv6 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.switch__switch_4pdv6 {
    background-color: #8d8d93;
    border: 2px solid #8d8d93;
}
.switch__switch_4pdv6:before {
    background-color: #000;
}
.switch__label_4pdv6 {
    color: #fff;
}
.switch__hint_4pdv6 {
    color: rgba(235, 235, 245, 0.6);
}
.switch__checked_4pdv6 .switch__switch_4pdv6 {
    background-color: #ef3124;
    border-color: #ef3124;
}
.switch__disabled_4pdv6 .switch__switch_4pdv6 {
    background-color: #2a2a2c;
    border-color: #2a2a2c;
}
.switch__disabled_4pdv6 .switch__label_4pdv6 {
    color: rgba(235, 235, 245, 0.6);
}
.switch__disabled_4pdv6 .switch__hint_4pdv6 {
    color: rgba(235, 235, 245, 0.6);
}
.switch__inactive_4pdv6 .switch__switch_4pdv6 {
    background-color: #2a2a2c;
    border-color: #2a2a2c
}
.switch__inactive_4pdv6 .switch__switch_4pdv6:before {
        background-color: #464649;
    }
.switch__focused_4pdv6 .switch__switch_4pdv6 {
    outline: 2px solid #0072ef;
}.tag__component_18740 {
    color: #fff;
    border-color: transparent;
    background-color: #202022
}
.tag__component_18740:disabled {
        border-color: transparent;
        color: rgba(235, 235, 245, 0.3);
        background-color: rgba(32, 32, 34, 0.3);
    }
.tag__component_18740:hover:not(:disabled) {
        border-color: transparent;
        background-color: #202022;
    }
.tag__component_18740:active:not(:disabled) {
        border-color: transparent;
        background-color: rgb(65, 65, 67);
        color: #fff;
    }
.tag__checked_18740 {
    border-color: transparent;
    background-color: #f3f4f5;
    color: #000
}
.tag__checked_18740:disabled {
        background-color: rgba(243, 244, 245, 0.3);
        border-color: transparent;
        color: #000;
    }
.tag__checked_18740:hover:not(:disabled):not(:active) {
        background-color: #f3f4f5;
    }
.tag__checked_18740:active:not(:disabled) {
        background-color: rgb(194, 195, 196);
        color: #000;
    }
.tag__focused_13dwt {
    outline: 2px solid #0072ef;
}
.tag__component_v9s7a {
    color: #fff;
    border-color: #464649;
    background-color: transparent
}
.tag__component_v9s7a:disabled {
        border-color: #2b2b2e;
        color: rgba(235, 235, 245, 0.3);
        background-color: transparent;
    }
.tag__component_v9s7a:hover:not(:disabled) {
        border-color: #fff;
        background-color: transparent;
    }
.tag__component_v9s7a:active:not(:disabled) {
        border-color: #fff;
        background-color: rgba(255, 255, 255, 0.07);
        color: #fff;
    }
.tag__checked_v9s7a {
    border-color: #fff;
    background-color: #fff;
    color: #000
}
.tag__checked_v9s7a:disabled {
        background-color: rgba(255, 255, 255, 0.3);
        border-color: transparent;
        color: #000;
    }
.tag__checked_v9s7a:hover:not(:disabled):not(:active) {
        background-color: rgb(237, 237, 237);
    }
.tag__checked_v9s7a:active:not(:disabled) {
        background-color: rgb(217, 217, 217);
        color: #000;
    }