:root {
    --color-light-border-link: #007aff;
    --color-light-border-primary: #dbdee1;
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-graphic-quaternary: #dbdee1;
    --color-light-text-primary: #0b1f35;
    --color-light-bg-primary-inverted-alpha-7: rgba(11, 31, 53, 0.07);
    --color-light-bg-primary-inverted-alpha-15: rgba(11, 31, 53, 0.15);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
}
:root {
    --border-radius-circle: 50%;
}
:root {
    --focus-color: var(--color-light-border-link);
}
:root {
    --steps-option-svg-color: var(--color-light-graphic-positive);
    --steps-dash-border: 2px solid var(--color-light-graphic-positive);
}
.step {
    display: flex;
    outline: none
}
.step:not(.vertical) {
        align-items: center;
    }
.step.interactive:not(.disabled):hover {
    cursor: pointer;
}
.step.disabled:hover .text {
        background: unset;
    }
.step.disabled .indicator {
        cursor: unset;
    }
.indicator {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: var(--gap-2xs)
}
.indicator.vertical {
        flex-direction: column;
        margin-right: var(--gap-xs);
    }
.option {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-graphic-primary);
    background: var(--color-light-graphic-quaternary);
    min-width: 24px;
    height: 24px;
    border-radius: var(--border-radius-circle)
}
.option.vertical {
        margin-top: var(--gap-xs);
    }
.dash {
    flex: 1 1 auto;
    min-width: 24px;
    border-top: 2px solid var(--color-light-border-primary);
    margin-right: var(--gap-xs)
}
.dash.completed {
        border-top: var(--steps-dash-border);
    }
.dash.vertical {
        min-width: unset;
        min-height: 24px;
        margin-right: 0;
        margin-top: var(--gap-xs);
        border-left: 2px solid var(--color-light-border-primary);
        border-top: none;
    }
.dash.completed.vertical {
        border-left: var(--steps-dash-border);
    }
.text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    transition: background 0.2s;
    padding: var(--gap-xs);
    color: var(--color-light-text-primary);
    border-radius: var(--gap-xs);
    height: min-content
}
.text.interactive:not(.disabled):hover {
            background: var(--color-light-bg-primary-inverted-alpha-7);
        }
.text.interactive:not(.disabled):active {
            background: var(--color-light-bg-primary-inverted-alpha-15);
        }
.focused {
    outline: var(--gap-3xs) solid var(--focus-color);
    outline-offset: var(--gap-3xs);
}
.selected .text {
        color: var(--color-light-graphic-primary);
    }
.selected .option {
        color: var(--color-light-graphic-primary-inverted);
        background: var(--color-light-graphic-primary);
    }
.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-circle);
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-light-graphic-quaternary);
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: var(--border-radius-circle);
    background: var(--color-light-graphic-quaternary);
}
.selected .checkbox {
    border: 2px solid var(--color-light-graphic-primary)
}
.selected .checkbox .dot {
        background: var(--color-light-graphic-primary);
    }
.option:not(.error).unordered {
    background: unset;
}
.completedIndicator > [class*='positive'] {
    color: var(--steps-option-svg-color);
    background-color: var(--steps-option-svg-color);
}
