:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.nativeInput {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
            appearance: none;
    z-index: 1
}
.nativeInput::-webkit-calendar-picker-indicator {
        display: none;
    }
.nativeInput::-webkit-inner-spin-button {
        display: none;
    }
