/* hash: d9zy4 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-s: 12px;
    --gap-m: 16px;
}
:root {
    --border-radius-m: 8px;
    --border-radius-l: 12px;
}
:root {
    --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
    --size-s-height: 48px;
    --size-m-height: 56px;
    --size-l-height: 64px;
    --size-xl-height: 72px;
}
:root {

    /* disabled */

    /* focus */

    /* hover */

    /* error */

    /* height */
    --form-control-s-min-height: var(--size-s-height);
    --form-control-m-min-height: var(--size-m-height);
    --form-control-l-min-height: var(--size-l-height);
    --form-control-xl-min-height: var(--size-xl-height);
    --form-control-bg-backdrop-filter: unset;

    /* paddings */
    --form-control-paddings: 0 var(--gap-s);
    --form-control-xl-paddings: 0 var(--gap-m);
    --form-control-labeled-s-paddings: 24px var(--gap-s) 4px;
    --form-control-labeled-m-paddings: 28px var(--gap-s) 8px;
    --form-control-labeled-l-paddings: 32px var(--gap-s) 12px;
    --form-control-labeled-xl-paddings: 38px var(--gap-m) 14px;
    --form-control-sub-paddings: 0;

    /* disabled */
    --form-control-disabled-opacity: 1;

    /* font */
    --form-control-font-family: var(--font-family);

    /* border-radius */
    --form-control-s-border-radius: var(--border-radius-m);
    --form-control-m-border-radius: var(--border-radius-m);
    --form-control-l-border-radius: var(--border-radius-m);
    --form-control-xl-border-radius: var(--border-radius-l);
}
.form-control__component_4trh7 {
    font-family: var(--form-control-font-family);
    width: max-content;
}
.form-control__inner_4trh7 {
    display: flex;
    position: relative;
    min-height: 100%;
    -webkit-backdrop-filter: var(--form-control-bg-backdrop-filter);
            backdrop-filter: var(--form-control-bg-backdrop-filter);
    transition: background 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
    outline: none;
    transform: translateZ(0);
}
/* Нижняя граница */
.form-control__inner_4trh7:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0;
    transition: transform 0.2s ease, border 0.2s ease;
    transform-origin: bottom;
}
.form-control__inputWrapper_4trh7 {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}
.form-control__input_4trh7 {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.form-control__input_4trh7 > * {
    padding: var(--form-control-paddings);
    font-family: var(--form-control-font-family);
}
.form-control__label_4trh7 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    position: absolute;
    display: flex;
    align-items: center;
    left: var(--gap-s);
    right: 0;
    transform-origin: left top;
    transform: translateY(-50%);
    transition-duration: 200ms;
    transition-property: color, transform;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.form-control__labelInner_4trh7 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form-control__addons_4trh7 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
.form-control__leftAddons_4trh7 {
    padding-left: var(--gap-s);
}
.form-control__rightAddons_4trh7 {
    padding-right: var(--gap-s);
}
.form-control__sub_4trh7 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    display: block;
    /* adjusting overall height 👌 */
    margin-top: 6px;
    padding: var(--form-control-sub-paddings);
}
.form-control__above_4trh7 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    display: block;
    margin-bottom: calc(var(--gap-s) / 2);
    padding: var(--form-control-sub-paddings);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-control__block_4trh7 {
    width: 100%;
}
/* SIZES */
.form-control__s_4trh7 .form-control__inner_4trh7 {
    min-height: var(--form-control-s-min-height);
    border-radius: var(--form-control-s-border-radius);
}
.form-control__s_4trh7 .form-control__hasInnerLabel_4trh7 .form-control__input_4trh7 > * {
    padding: var(--form-control-labeled-s-paddings);
}
.form-control__s_4trh7 .form-control__label_4trh7 {
    top: calc(var(--form-control-s-min-height) / 2);
}
.form-control__m_4trh7 .form-control__inner_4trh7 {
    min-height: var(--form-control-m-min-height);
    border-radius: var(--form-control-m-border-radius);
}
.form-control__m_4trh7 .form-control__hasInnerLabel_4trh7 .form-control__input_4trh7 > * {
    padding: var(--form-control-labeled-m-paddings);
}
.form-control__m_4trh7 .form-control__label_4trh7 {
    top: calc(var(--form-control-m-min-height) / 2);
}
.form-control__l_4trh7 .form-control__inner_4trh7 {
    min-height: var(--form-control-l-min-height);
    border-radius: var(--form-control-l-border-radius);
}
.form-control__l_4trh7 .form-control__hasInnerLabel_4trh7 .form-control__input_4trh7 > * {
    padding: var(--form-control-labeled-l-paddings);
}
.form-control__l_4trh7 .form-control__label_4trh7 {
    top: calc(var(--form-control-l-min-height) / 2);
}
.form-control__xl_4trh7 .form-control__inner_4trh7 {
    min-height: var(--form-control-xl-min-height);
    border-radius: var(--form-control-xl-border-radius);
}
.form-control__xl_4trh7 .form-control__label_4trh7 {
    left: var(--gap-m);
}
.form-control__xl_4trh7 .form-control__input_4trh7 > * {
    padding: var(--form-control-xl-paddings);
}
.form-control__xl_4trh7 .form-control__hasInnerLabel_4trh7 .form-control__input_4trh7 > * {
    padding: var(--form-control-labeled-xl-paddings);
}
.form-control__xl_4trh7 .form-control__leftAddons_4trh7 {
    padding-left: var(--gap-m);
}
.form-control__xl_4trh7 .form-control__rightAddons_4trh7 {
    padding-right: var(--gap-m);
}
.form-control__xl_4trh7.form-control__hasLeftAddons_4trh7 .form-control__label_4trh7 {
    left: var(--gap-s);
}
.form-control__xl_4trh7.form-control__hasLeftAddons_4trh7 .form-control__input_4trh7 > * {
    padding-left: var(--gap-s);
}
.form-control__xl_4trh7.form-control__hasRightAddons_4trh7 .form-control__input_4trh7 > * {
    padding-right: var(--gap-s);
}
.form-control__xl_4trh7 .form-control__label_4trh7 {
    top: calc(var(--form-control-xl-min-height) / 2);
}
/* DISABLED STATE */
.form-control__disabled_4trh7 {
    opacity: var(--form-control-disabled-opacity);
}
/* FOCUS STATE */
.form-control__focused_4trh7:not(.form-control__disabled_4trh7):before,
.form-control__hasError_4trh7:before {
    transform: scaleY(2);
}
.form-control__filled_4trh7 .form-control__label_4trh7 {
    transform: translateY(-100%) scale(0.875);

    /* adjusting position 👌 */
    margin-top: 1px;
}
.form-control__xl_4trh7 .form-control__filled_4trh7 .form-control__label_4trh7 {
    /* adjusting position 👌 */
    margin-top: -1px;
}
.form-control__hiddenLabel_4trh7 {
    opacity: 0;
    height: 0;
    padding: var(--form-control-paddings);
    display: block;
    box-sizing: border-box;
}
.form-control__xl_4trh7 .form-control__hiddenLabel_4trh7 {
    padding: var(--form-control-xl-paddings);
}
/* min-height and width: max-content; fix for IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .form-control__component_4trh7 {
        display: inline-block;
    }

    .form-control__inner_4trh7:after {
        min-height: inherit;
        font-size: 0;
        content: '';
    }
}
