/* hash: 17mug */
:root {
    --color-light-bg-primary: #fff;
    --color-light-border-key-inverted: #fff;
    --color-light-border-link: #007aff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
}
:root {
    --border-radius-m: 8px;
    --border-radius-l: 12px;
}
:root {
    --focus-color: var(--color-light-border-link);
}
.gallery__component_aun8r {
    display: flex;
    padding: var(--gap-2xs);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: var(--border-radius-l);
    overflow: hidden;
    transition: border 0.15s ease-in-out;
    outline: none;
}
.gallery__active_aun8r {
    border-color: var(--color-light-border-key-inverted)
}
.gallery__active_aun8r > .gallery__image_aun8r {
        opacity: 0.7;
    }
.gallery__preview_aun8r {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: var(--border-radius-m);
    cursor: pointer;
    -webkit-user-select: none;
            user-select: none;
}
.gallery__image_aun8r {
    background-color: var(--color-light-bg-primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.15s ease-in-out
}
.gallery__image_aun8r:hover {
        opacity: 0.7;
    }
.gallery__loading_aun8r {
    /* TODO: цвета нет в палитре */
    background-color: #e9eaeb;
}
.gallery__brokenImageWrapper_aun8r {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-bg-primary)
}
.gallery__brokenImageWrapper_aun8r:hover {
        opacity: 0.7;
    }
.gallery__brokenIcon_aun8r {
    width: 40px;
    height: 40px;
}
.gallery__focused_aun8r {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
