:root {
    --color-light-border-link: #007aff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
}
:root {
    --border-radius-s: 4px;
    --border-radius-pill: 99px;
}
:root {
    --focus-color: var(--color-light-border-link);
    --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
    --disabled-cursor: not-allowed;
    --size-xs-height: 32px;
    --size-s-height: 48px;
    --size-m-height: 56px;
    --size-l-height: 64px;
    --size-xl-height: 72px;
}
:root {
    /* border */
    --tag-border-width: 1px;
    --tag-border-radius: var(--border-radius-pill);
    --tag-alt-border-radius: var(--border-radius-s);

    /* background-color */

    /* text color */

    /* inverted */

    /* border */

    /* background-color */

    /* text color */
}
.component {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    font-family: var(--font-family);
    text-decoration: none;
    border-width: var(--tag-border-width);
    border-style: solid;
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    box-sizing: border-box;
    box-shadow: none;
    -webkit-user-select: none;
            user-select: none;
    cursor: pointer;
    outline: none
}
.component:disabled {
        cursor: var(--disabled-cursor);
    }
.focused {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center
}
.addons:first-child {
        margin-right: var(--gap-2xs);
    }
.addons:last-child {
        margin-left: var(--gap-2xs);
    }
.addons:only-child {
        margin: 0;
    }
.s .addons:first-child, .m .addons:first-child {
        margin-right: var(--gap-xs);
    }
.s .addons:last-child, .m .addons:last-child {
        margin-left: var(--gap-xs);
    }
.l .addons:first-child, .xl .addons:first-child {
        margin-right: var(--gap-s);
    }
.l .addons:last-child, .xl .addons:last-child {
        margin-left: var(--gap-s);
    }
.xxs {
    min-width: 60px;
    min-height: var(--size-xs-height);
    padding: 0 var(--gap-m);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.xxs {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 32px
}
    }
.xs {
    min-width: 72px;
    min-height: 40px;
    padding: 0 var(--gap-l);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.xs {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 40px
}
    }
.s {
    min-width: 80px;
    min-height: var(--size-s-height);
    padding: 0 var(--gap-xl);
    font-size: 16px;
    line-height: 20px;
    font-weight: normal
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.s {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 48px
}
    }
.m {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    min-width: 96px;
    min-height: var(--size-m-height);
    padding: 0 28px
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.m {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 56px
}
    }
.l {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    min-width: 120px;
    min-height: var(--size-l-height);
    padding: 0 var(--gap-2xl)
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.l {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 64px
}
    }
.xl {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    min-width: 120px;
    min-height: var(--size-xl-height);
    padding: 0 36px
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.xl {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 72px
}
    }
.withRightAddons.xxs {
        padding-right: var(--gap-s);
    }
.withRightAddons.xs {
        padding-right: var(--gap-m);
    }
.withRightAddons.s {
        padding-right: var(--gap-l);
    }
.withRightAddons.m {
        padding-right: var(--gap-xl);
    }
.withRightAddons.l {
        padding-right: 28px;
    }
.withRightAddons.xl {
        padding-right: var(--gap-2xl);
    }
.withLeftAddons.xxs {
        padding-left: var(--gap-s);
    }
.withLeftAddons.xs {
        padding-left: var(--gap-m);
    }
.withLeftAddons.s {
        padding-left: var(--gap-l);
    }
.withLeftAddons.m {
        padding-left: var(--gap-xl);
    }
.withLeftAddons.l {
        padding-left: 28px;
    }
.withLeftAddons.xl {
        padding-left: var(--gap-2xl);
    }
.defaultVariant {
    border-radius: var(--tag-border-radius);
}
.alt {
    border-radius: var(--tag-alt-border-radius);
}
