/* hash: 1nw7t */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-2xs-neg: -4px;
    --gap-m-neg: -16px;
}
:root {

    /* mobile */

    /* size s */

    /* size m */

    /* size l */

    /* size xl */

    /* mobile */

    /* size xxs */

    /* size xs */

    /* size s */

    /* size m */

    /* size l */

    /* size xl */
}
.tabs__container_1lf44 {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;

    /* focus-outline fix */
    margin: var(--gap-2xs-neg) 0 var(--gap-2xs-neg) var(--gap-2xs-neg);
    padding: var(--gap-2xs) 0 var(--gap-2xs) var(--gap-2xs)
}
.tabs__container_1lf44::-webkit-scrollbar {
        display: none;
    }
.tabs__container_1lf44 > * {
        flex-shrink: 0;
    }
.tabs__fullWidthScroll_1lf44 {
    margin: 0 var(--gap-m-neg);
}
