/* hash: 1pabu */
:root {
    --color-light-text-negative: #d91d0b;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-xl: 24px;
    --gap-xs-neg: -8px;
    --gap-xl-neg: -24px;
}
:root {
    --radio-group-error-color: var(--color-light-text-negative);
    --radio-group-hint-color: var(--color-light-text-secondary);
    --radio-group-label-color: var(--color-light-text-primary);
}
.radio-group__component_pnspl {
    display: flex;
    flex-direction: column;
}
.radio-group__error_pnspl {
    padding-left: var(--gap-xs);
    border-left: 1px solid var(--radio-group-error-color);
}
.radio-group__radioList_pnspl {
    display: flex;
}
.radio-group__vertical_pnspl .radio-group__radioList_pnspl {
    flex-direction: column;
    align-items: flex-start;
}
.radio-group__vertical_pnspl .radio-group__radio_pnspl {
    margin-bottom: var(--gap-m)
}
.radio-group__vertical_pnspl .radio-group__radio_pnspl:last-child {
        margin-bottom: 0;
    }
.radio-group__horizontal_pnspl .radio-group__radioList_pnspl {
    flex-wrap: wrap;
    margin-right: var(--gap-xl-neg);
    margin-bottom: var(--gap-xs-neg);
}
.radio-group__tag_pnspl.radio-group__horizontal_pnspl .radio-group__radioList_pnspl {
    margin-right: var(--gap-xs-neg);
}
.radio-group__horizontal_pnspl .radio-group__radio_pnspl {
    margin-right: var(--gap-xl);
    margin-bottom: var(--gap-xs);
}
.radio-group__horizontal_pnspl .radio-group__tagLabel_pnspl {
    margin-right: var(--gap-xs);
}
.radio-group__label_pnspl {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: var(--gap-s);
    color: var(--radio-group-label-color);
}
.radio-group__sub_pnspl {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-top: var(--gap-s);
}
.radio-group__errorMessage_pnspl {
    color: var(--radio-group-error-color);
}
.radio-group__hint_pnspl {
    color: var(--radio-group-hint-color);
}
.radio-group__hiddenInput_pnspl {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
}
.radio-group__tagLabel_pnspl {
    position: relative;
}
