/* hash: 2gkwy */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xl: 24px;
    --gap-2xl: 32px;
    --gap-3xl: 40px;
    --gap-6xl: 72px;
}
:root {
    --border-radius-l: 12px;
}
:root {
    --modal-border-radius: var(--border-radius-l);
    --modal-vertical-padding: var(--gap-3xl);

    /* sizes */

    /* paddings */
    --modal-s-footer-paddings: var(--gap-xl) 56px 56px;

    /* scroll */

    /* desktop */

    /* mobile */
}
.modal__footer_bz1kd {
    border-bottom-left-radius: var(--modal-border-radius);
    border-bottom-right-radius: var(--modal-border-radius);
}
.modal__sticky_bz1kd {
    bottom: calc(var(--modal-vertical-padding) * -1)
}
.modal__sticky_bz1kd.modal__fullscreen_bz1kd {
        bottom: 0;
    }
.modal__s_bz1kd,
.modal__m_bz1kd {
    padding: var(--modal-s-footer-paddings);
}
.modal__l_bz1kd,
.modal__xl_bz1kd,
.modal__fullscreen_bz1kd {
    padding: var(--gap-2xl) var(--gap-6xl) var(--gap-6xl);
}
