:root {
    --color-light-text-accent: #ef3124;
    --color-light-text-attention: #de6a00;
    --color-light-text-disabled: rgba(11, 31, 53, 0.15);
    --color-light-text-link: #007aff;
    --color-light-text-negative: #d91d0b;
    --color-light-text-positive: #13a463;
    --color-light-text-primary: #0b1f35;
    --color-light-text-primary-inverted: #fff;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
    --color-light-text-secondary-inverted: rgba(255, 255, 255, 0.7);
    --color-light-text-tertiary: rgba(11, 31, 53, 0.3);
    --color-light-text-tertiary-inverted: rgba(255, 255, 255, 0.4);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
/* colors */
.tertiary {
    color: var(--color-light-text-tertiary);
}
.disabled {
    color: var(--color-light-text-disabled);
}
.accent {
    color: var(--color-light-text-accent);
}
.primary {
    color: var(--color-light-text-primary);
}
.attention {
    color: var(--color-light-text-attention);
}
.positive {
    color: var(--color-light-text-positive);
}
.secondary {
    color: var(--color-light-text-secondary);
}
.tertiary-inverted {
    color: var(--color-light-text-tertiary-inverted);
}
.primary-inverted {
    color: var(--color-light-text-primary-inverted);
}
.secondary-inverted {
    color: var(--color-light-text-secondary-inverted);
}
.link {
    color: var(--color-light-text-link);
}
.negative {
    color: var(--color-light-text-negative);
}
