/* hash: 16rj1 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-xl: 24px;
    --gap-4xl: 48px;
    --gap-s-neg: -12px;
}
:root {
    --notification-desktop-content-width: 278px;
}
.notification__notificationComponent_9opt2 {
    visibility: hidden;
    position: fixed;
    right: var(--gap-s);
    transform: translate(0, -500px);
    display: inline-flex;
    width: calc(100% - var(--gap-xl));
    max-width: calc(100vw - var(--gap-xl));
    -webkit-user-select: none;
            user-select: none;
    transition: transform 0.4s ease-out
}
@media screen and (min-width: 600px) {
.notification__notificationComponent_9opt2 {
        right: var(--gap-4xl);
        width: auto;
        transform: translate(calc(100% + var(--gap-4xl)), 0)
}
    }
.notification__notificationComponent_9opt2.notification__isVisible_9opt2 {
        visibility: visible;
        transform: translate(0, 0);
    }
.notification__notificationComponent_9opt2.notification__isClosing_9opt2 {
        transition: transform 0.1s ease-out;
        transform: translate(100vw, 0)
    }
@media screen and (min-width: 600px) {
.notification__notificationComponent_9opt2.notification__isClosing_9opt2 {
            transform: translate(calc(100% + var(--gap-4xl)), 0)
    }
        }
@media screen and (min-width: 600px) {
.notification__toastContent_9opt2 {
        width: var(--notification-desktop-content-width)
}
    }
.notification__actionSection_9opt2 {
    min-width: 104px;
    min-height: 48px;
    padding: 0 var(--gap-xs);
    margin: var(--gap-s-neg) 0;
}
