:root {
    --color-light-text-negative: #d91d0b;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-m: 16px;
    --gap-xl: 24px;
}
:root {
    --pattern-lock-max-width: 500px;
}
.component {
    max-width: var(--pattern-lock-max-width);
    margin: var(--gap-xs) 0 var(--gap-xl) 0
}
.component canvas {
        display: block;
        margin: 0 auto;
    }
.hidden {
    visibility: hidden;
}
.error {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--gap-m);
    min-height: 24px;
    color: var(--color-light-text-negative);
}
