:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
}
.component {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
.component > * {
        justify-content: flex-end;
    }
.component.none {
        padding-left: 0;
    }
.component.default {
        padding-left: var(--gap-m);
    }
.component.addonPadding {
        padding-left: var(--gap-m);
    }
.component.top {
        align-self: flex-start;
    }
.component.center {
        align-self: center;
    }
.component.bottom {
        align-self: flex-end;
    }
