/* hash: eu746 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-2xs-neg: -4px;
}
:root {

    /* mobile */

    /* size s */

    /* size m */

    /* size l */

    /* size xl */

    /* mobile */

    /* size xxs */
    --secondary-tablist-xxs-gaps: var(--gap-xs);

    /* size xs */
    --secondary-tablist-xs-gaps: var(--gap-xs);

    /* size s */
    --secondary-tablist-s-gaps: var(--gap-s);

    /* size m */
    --secondary-tablist-m-gaps: var(--gap-s);

    /* size l */
    --secondary-tablist-l-gaps: var(--gap-m);

    /* size xl */
    --secondary-tablist-xl-gaps: var(--gap-m);
}
.tabs__component_1p09l {
    position: relative;
    display: inline-flex;
}
.tabs__fullWidthScroll_1p09l {
    margin: 0 var(--gap-m);
}
.tabs__container_1p09l {
    overflow: hidden;

    /* focus-outline fix */
    margin: var(--gap-2xs-neg) 0 var(--gap-2xs-neg) var(--gap-2xs-neg);
    padding: var(--gap-2xs) 0 var(--gap-2xs) var(--gap-2xs);
}
.tabs__title_1p09l {
    white-space: nowrap;
}
/* sizes */
.tabs__xxs_1p09l .tabs__title_1p09l + .tabs__title_1p09l {
    margin-left: var(--secondary-tablist-xxs-gaps);
}
.tabs__xs_1p09l .tabs__title_1p09l + .tabs__title_1p09l {
    margin-left: var(--secondary-tablist-xs-gaps);
}
.tabs__s_1p09l .tabs__title_1p09l + .tabs__title_1p09l {
    margin-left: var(--secondary-tablist-s-gaps);
}
.tabs__m_1p09l .tabs__title_1p09l + .tabs__title_1p09l {
    margin-left: var(--secondary-tablist-m-gaps);
}
.tabs__l_1p09l .tabs__title_1p09l + .tabs__title_1p09l {
    margin-left: var(--secondary-tablist-l-gaps);
}
.tabs__xl_1p09l .tabs__title_1p09l + .tabs__title_1p09l {
    margin-left: var(--secondary-tablist-xl-gaps);
}
