/* hash: 3abdp */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
}
.pure-cell__component_fwqxv {
    display: flex;
    flex-direction: column;
    align-items: flex-end
}
.pure-cell__component_fwqxv > * {
        justify-content: flex-end;
    }
.pure-cell__component_fwqxv.pure-cell__none_fwqxv {
        padding-left: 0;
    }
.pure-cell__component_fwqxv.pure-cell__default_fwqxv {
        padding-left: var(--gap-m);
    }
.pure-cell__component_fwqxv.pure-cell__addonPadding_fwqxv {
        padding-left: var(--gap-m);
    }
.pure-cell__component_fwqxv.pure-cell__top_fwqxv {
        align-self: flex-start;
    }
.pure-cell__component_fwqxv.pure-cell__center_fwqxv {
        align-self: center;
    }
.pure-cell__component_fwqxv.pure-cell__bottom_fwqxv {
        align-self: flex-end;
    }
