:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
}
:root {

    /* mobile */

    /* size s */

    /* size m */

    /* size l */

    /* size xl */

    /* mobile */
    --secondary-tablist-mobile-gaps: var(--gap-xs);

    /* size xxs */

    /* size xs */

    /* size s */

    /* size m */

    /* size l */

    /* size xl */
}
.title {
    composes: title from 'index.module.css';
}
.mobile .title + .title {
        margin-left: var(--secondary-tablist-mobile-gaps);
    }
