:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-6xl: 72px;
}
:root {

    /* sizes */

    /* paddings */
    --modal-s-content-paddings: 0 56px;
    --modal-s-content-only-bottom-padding: 56px;

    /* scroll */

    /* desktop */

    /* mobile */
}
.s,
.m {
    padding: var(--modal-s-content-paddings)
}
.s:last-child, .m:last-child {
        padding-bottom: var(--modal-s-content-only-bottom-padding);
    }
.l,
.xl,
.fullscreen {
    padding: 0 var(--gap-6xl)
}
.l:last-child, .xl:last-child, .fullscreen:last-child {
        padding-bottom: var(--gap-6xl);
    }
