:root {
    --color-light-border-link: #007aff;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --focus-color: var(--color-light-border-link);
    --disabled-cursor: not-allowed;
}
:root {
    --select-arrow-hover-opacity: 0.7;

    /* options list */

    /* option */

    /* checkmark */

    /* optgroup */
}
.component {
    width: 100%;
    outline: none;
}
.field:not(.disabled) {
    cursor: pointer
}
.field:not(.disabled):hover .arrow {
            opacity: var(--select-arrow-hover-opacity);
        }
.disabled {
    cursor: var(--disabled-cursor);
}
/* TODO: Заюзать переменные из инпута */
.placeholder {
    color: var(--color-light-text-secondary);
}
.contentWrapper {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.value {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.focusVisible {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
