/* hash: 1hmj3 */
:root {
    --color-light-bg-primary-inverted: #0b1f35;
    --color-light-text-primary-inverted: #fff;
}
:root {

    /* Hard */
    --shadow-m-hard: 0 0 16px rgba(11, 31, 53, 0.08), 0 8px 16px rgba(11, 31, 53, 0.16),
        0 8px 16px rgba(11, 31, 53, 0.16);

    /* Up */

    /* Hard up */
}
:root {
    --border-radius-s: 4px;
}
:root {
    --tooltip-hint-bg-color: var(--color-light-bg-primary-inverted);
    --tooltip-hint-text-color: var(--color-light-text-primary-inverted);
    --tooltip-hint-box-shadow: var(--shadow-m-hard);
}
.tooltip__hint_l2sts {
    border-radius: var(--border-radius-s);
    background-color: var(--tooltip-hint-bg-color);
    box-shadow: var(--tooltip-hint-box-shadow);
    color: var(--tooltip-hint-text-color);
}
.tooltip__hint_l2sts .tooltip__arrow_l2sts:after {
    background-color: var(--tooltip-hint-bg-color);
    border-color: var(--tooltip-hint-bg-color);
}
