/* hash: wf4bd */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-m: 16px;
}
:root {
    --border-radius-m: 8px;
}
:root {
    --disabled-cursor: not-allowed;
}
:root {
    --tooltip-max-width: 368px;
}
.tooltip__component_a14el {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: var(--gap-m);
    max-width: var(--tooltip-max-width);
}
.tooltip__popper_a14el {
    border-radius: var(--border-radius-m);
}
.tooltip__hint_a14el .tooltip__component_a14el {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    padding: var(--gap-xs);
}
.tooltip__target_a14el {
    cursor: pointer;
    width: max-content;
    position: relative
}
.tooltip__target_a14el .tooltip__overlap_a14el {
        cursor: var(--disabled-cursor);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
