:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
}
:root {
    --arrow-transform: rotate(180deg);
}
.iconContainer {
    display: flex;
    transition: transform 0.15s ease-in-out;
}
.addonsContainer {
    display: flex
}
.addonsContainer.showControlIcon {
        margin-right: var(--gap-2xs);
    }
.open {
    transform: var(--arrow-transform);
}
