:root {
    --color-light-bg-primary: #fff;
    --color-light-border-secondary: #e7e9eb;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-s: 12px;
}
:root {

    /* options list */

    /* option */

    /* checkmark */

    /* optgroup */
}
.footer {
    background: var(--color-light-bg-primary);
    padding: var(--gap-s);
    outline: none
}
.footer > * + * {
        margin-left: var(--gap-xs);
    }
.withBorder {
    box-shadow: inset 0 1px 0 var(--color-light-border-secondary);
}
