/* hash: ci2w4 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
}
.pure-cell__component_qk3dg {
    display: flex;
    flex-direction: column;
    align-self: center;

    /* can use /r/n */
    white-space: pre-line
}
.pure-cell__component_qk3dg.pure-cell__vertical_qk3dg {
        grid-row-gap: var(--gap-3xs);
        justify-content: center;
        align-items: center;

        /* for button */
        text-align: center;
    }
.pure-cell__component_qk3dg.pure-cell__reverse_qk3dg {
        flex-direction: column-reverse;
    }
