:root {
    --color-dark-bg-primary: #0b1f35;
    --color-light-text-primary: #0b1f35;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.tickText {
    fill: var(--color-light-text-primary);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.circle {
    opacity: 0.3;
    fill: var(--color-dark-bg-primary);
}
.circle {
    opacity: 0.3;
    fill: var(--color-dark-bg-primary);
}
