/* hash: 16o84 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
}
:root {
    --side-panel-footer-default-gap: var(--gap-m);

    /* sizes */

    /* paddings */

    /* scroll */

    /* desktop */

    /* mobile */
}
.side-panel__column_mrcgc {
    display: flex;
    flex-direction: column
}
.side-panel__column_mrcgc > * {
        margin-bottom: var(--side-panel-footer-default-gap);
    }
.side-panel__column_mrcgc > *:last-child,
    .side-panel__column_mrcgc > *:only-child {
        margin-bottom: 0;
    }
.side-panel__column_mrcgc.side-panel__gap-16_mrcgc > * {
        margin-bottom: var(--gap-m);
    }
.side-panel__column_mrcgc.side-panel__gap-24_mrcgc > * {
        margin-bottom: var(--gap-xl);
    }
.side-panel__column_mrcgc.side-panel__gap-32_mrcgc > * {
        margin-bottom: var(--gap-2xl);
    }
.side-panel__start_mrcgc {
    justify-content: flex-start;
}
.side-panel__center_mrcgc {
    justify-content: center;
}
.side-panel__space-between_mrcgc {
    justify-content: space-between
}
.side-panel__space-between_mrcgc > * {
        flex: 1;
    }
.side-panel__start_mrcgc,
.side-panel__center_mrcgc,
.side-panel__space-between_mrcgc {
    display: flex
}
.side-panel__start_mrcgc > *, .side-panel__center_mrcgc > *, .side-panel__space-between_mrcgc > * {
        margin-right: var(--side-panel-footer-default-gap);
    }
.side-panel__start_mrcgc > *:last-child,
    .side-panel__start_mrcgc > *:only-child,
    .side-panel__center_mrcgc > *:last-child,
    .side-panel__center_mrcgc > *:only-child,
    .side-panel__space-between_mrcgc > *:last-child,
    .side-panel__space-between_mrcgc > *:only-child {
        margin-right: 0;
    }
.side-panel__start_mrcgc.side-panel__gap-16_mrcgc > *, .side-panel__center_mrcgc.side-panel__gap-16_mrcgc > *, .side-panel__space-between_mrcgc.side-panel__gap-16_mrcgc > * {
        margin-right: var(--gap-m);
    }
.side-panel__start_mrcgc.side-panel__gap-24_mrcgc > *, .side-panel__center_mrcgc.side-panel__gap-24_mrcgc > *, .side-panel__space-between_mrcgc.side-panel__gap-24_mrcgc > * {
        margin-right: var(--gap-xl);
    }
.side-panel__start_mrcgc.side-panel__gap-32_mrcgc > *, .side-panel__center_mrcgc.side-panel__gap-32_mrcgc > *, .side-panel__space-between_mrcgc.side-panel__gap-32_mrcgc > * {
        margin-right: var(--gap-2xl);
    }
