:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
}
:root {
    --border-radius-s: 4px;
}
:root {

    /* Кнопки выбора месяцев и годов */

    /* Шапка */

    /* День */

    /* today */

    /* highlighted */

    /* holidays */

    /* range */

    /* selected */

    /* disabled */

    /* marker */
}
.component {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
:global(.cc-calendar) .button {
        border-radius: var(--border-radius-s);
    }
.month {
    flex-basis: 65%
}
@media (max-width: 374px) {
.month {
        flex-grow: 1
}
    }
.year {
    flex-basis: 35%;
    margin-left: var(--gap-xs)
}
@media (max-width: 374px) {
.year {
        width: 90px
}
    }
.buttonContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upDownIcon {
    margin-left: var(--gap-xs)
}
@media (max-width: 374px) {
.upDownIcon {
        margin-left: auto
}
    }
