/* hash: 1nvgj */
:root {
    --color-light-bg-primary-inverted: #0b1f35;
    --color-light-bg-tertiary: #e7e9eb;
    --color-light-border-key: #0b1f35;
    --color-light-text-primary: #0b1f35;
    --color-light-text-primary-inverted: #fff;
    --color-light-bg-tertiary-shade-7: rgb(215, 217, 219);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
}
:root {
    --border-radius-l: 12px;
}
:root {

    /* Кнопки выбора месяцев и годов */
    --calendar-select-button-today-border-color: var(--color-light-border-key);
    --calendar-select-button-selected-background: var(--color-light-bg-primary-inverted);

    /* Шапка */

    /* День */

    /* today */

    /* highlighted */

    /* holidays */

    /* range */

    /* selected */

    /* disabled */

    /* marker */
}
.cc-calendar .calendar__button_9j6vw {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;

        height: 40px;
        position: relative;
        padding: 0 var(--gap-xs);
        background-color: transparent;
        border-radius: var(--border-radius-l)
    }
.cc-calendar .calendar__button_9j6vw:not(:disabled):hover {
            background-color: var(--color-light-bg-tertiary);
            color: var(--color-light-text-primary);
        }
.cc-calendar .calendar__button_9j6vw.calendar__filled_9j6vw {
            background-color: var(--color-light-bg-tertiary)
        }
.cc-calendar .calendar__button_9j6vw.calendar__filled_9j6vw:not(:disabled):hover {
                background-color: var(--color-light-bg-tertiary-shade-7);
            }
.cc-calendar .calendar__button_9j6vw.calendar__outlined_9j6vw {
            border: 1px solid var(--calendar-select-button-today-border-color);
        }
.cc-calendar .calendar__button_9j6vw.calendar__selected_9j6vw,
        .cc-calendar .calendar__button_9j6vw.calendar__selected_9j6vw:disabled {
            background-color: var(--calendar-select-button-selected-background);
            color: var(--color-light-text-primary-inverted)
        }
.cc-calendar .calendar__button_9j6vw.calendar__selected_9j6vw:not(:disabled):hover, .cc-calendar .calendar__button_9j6vw.calendar__selected_9j6vw:disabled:not(:disabled):hover {
                background-color: var(--calendar-select-button-selected-background);
                color: var(--color-light-text-primary-inverted);
            }
.cc-calendar .calendar__button_9j6vw > * {
            flex-grow: 1;
        }
