/* hash: 5ii43 */
:root {
    --color-light-graphic-primary: #0b1f35;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-m: 16px;
}
:root {
    --border-radius-m: 8px;
}
:root {
    --calendar-width: 344px;

    /* Кнопки выбора месяцев и годов */

    /* Шапка */

    /* День */

    /* today */

    /* highlighted */

    /* holidays */

    /* range */

    /* selected */

    /* disabled */

    /* marker */
}
:root {
    --calendar-input-icon-color: var(--color-light-graphic-primary);
    --calendar-input-popover-border-radius: var(--border-radius-m);
}
.calendar-input__component_lskkj {
    display: inline-block;
    outline: none;
    position: relative;
}
.calendar-input__block_lskkj {
    width: 100%;
}
.calendar-input__calendarContainer_lskkj {
    display: inline-block;
    box-sizing: border-box;
    border-radius: var(--calendar-input-popover-border-radius)
}
@media (max-width: 374px) {
.calendar-input__calendarContainer_lskkj {
        width: 100%;
        min-width: 288px
}
    }
.calendar-input__calendarResponsive_lskkj {
    width: var(--calendar-width);
    padding: 0 var(--gap-m);
}
.calendar-input__calendarIcon_lskkj {
    width: 24px;
    height: 24px;
    display: block;
    color: var(--calendar-input-icon-color)
}
.calendar-input__calendarIcon_lskkj:not(:only-child) {
        margin-right: var(--gap-2xs);
    }
.calendar-input__nativeInput_lskkj {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
            appearance: none;
    z-index: 1
}
.calendar-input__nativeInput_lskkj::-webkit-calendar-picker-indicator {
        display: none;
    }
.calendar-input__nativeInput_lskkj::-webkit-inner-spin-button {
        display: none;
    }
