:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xl: 24px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    /* desktop */
    --confirmation-header-desktop-font-size: 22px;
    --confirmation-header-desktop-line-height: 26px;
    --confirmation-header-desktop-font-weight: bold;
    --confirmation-header-desktop-font-family: var(--font-family-system);

    /* mobile */
    --confirmation-header-mobile-font-size: 18px;
    --confirmation-header-mobile-line-height: 22px;
    --confirmation-header-mobile-font-weight: bold;
    --confirmation-header-mobile-font-family: var(--font-family-system);

    /* text */

    /* header */
    --confirmation-header-font-feature-settings: normal
}
.header.header {
    margin-bottom: var(--gap-xl);
}
.typography.typography {
    font-feature-settings: var(--confirmation-header-font-feature-settings);
    font-size: var(--confirmation-header-desktop-font-size);
    line-height: var(--confirmation-header-desktop-line-height);
    font-weight: var(--confirmation-header-desktop-font-weight);
    font-family: var(--confirmation-header-desktop-font-family);
}
.typographyMobile.typographyMobile {
    font-feature-settings: var(--confirmation-header-font-feature-settings);
    font-size: var(--confirmation-header-mobile-font-size);
    line-height: var(--confirmation-header-mobile-line-height);
    font-weight: var(--confirmation-header-mobile-font-weight);
    font-family: var(--confirmation-header-mobile-font-family);
}
