/* hash: ivqm9 */
:root {
    --color-light-border-link: #007aff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
}
:root {
    --focus-color: var(--color-light-border-link);
    --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
.link__component_9in55 {
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font-family);
    cursor: pointer;
    outline: none
}
.link__component_9in55:hover .link__text_9in55,
    .link__component_9in55:active .link__text_9in55 {
        border-bottom-color: rgba(0, 0, 0, 0);
    }
.link__withAddons_9in55 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.link__text_9in55 {
    border-bottom: 1px solid;
    transition: border 0.2s ease, color 0.2s ease;
}
.link__focused_9in55 {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
.link__pseudo_9in55 {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font: inherit;
}
.link__pseudo_9in55 .link__text_9in55 {
    border-bottom-style: dashed;
}
.link__withoutUnderline_9in55 .link__text_9in55 {
    border-bottom: none;
}
.link__addons_9in55 {
    display: flex;
    align-items: center;
    transition: color 0.2s ease;
}
.link__addons_9in55:first-child {
    margin-right: var(--gap-xs);
}
.link__addons_9in55:last-child {
    margin-left: var(--gap-2xs);
}
.link__addons_9in55:only-child {
    margin-right: 0;
    margin-left: 0;
}
