/* hash: m465o */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {

    /* sizes */

    /* paddings */

    /* scroll */

    /* desktop */

    /* mobile */
}
.side-panel__content_1n4gk {
    box-sizing: border-box;
    width: 100%;
}
.side-panel__flex_1n4gk {
    flex: 1 1 auto;
}
