/* hash: 1etwe */
:root {
    --color-light-bg-secondary: #f3f4f5;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
}
:root {
    --border-radius-xl: 16px;
}
.pure-cell__component_9cmgz {
    display: flex;
    overflow: hidden;
    padding: var(--gap-3xs) 0;
}
.pure-cell__categoryName_9cmgz {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.pure-cell__categoryPercent_9cmgz {
    padding: 0 var(--gap-xs);
    background-color: var(--color-light-bg-secondary);
    border-radius: var(--border-radius-xl);
    margin-left: var(--gap-2xs);
}
.pure-cell__rightAddon_9cmgz {
    margin-left: var(--gap-2xs);
}
