/* hash: 6b9xu */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {

    /* sizes */

    /* paddings */

    /* scroll */

    /* desktop */

    /* mobile */
}
.modal__content_nsba3 {
    box-sizing: border-box;
    width: 100%;
}
.modal__flex_nsba3 {
    flex: 1;
}
