/* hash: 16bdc */
.grid__component_g8xez {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
}

.grid__top_g8xez {
    align-items: flex-start;
}

.grid__middle_g8xez {
    align-items: center;
}

.grid__bottom_g8xez {
    align-items: flex-end;
}

.grid__left_g8xez {
    justify-content: flex-start;
}

.grid__center_g8xez {
    justify-content: center;
}

.grid__right_g8xez {
    justify-content: flex-end;
}

.grid__around_g8xez {
    justify-content: space-around;
}

.grid__between_g8xez {
    justify-content: space-between;
}
