:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
    --gap-xl: 24px;
    --gap-3xl: 40px;
    --gap-4xl: 48px;
}
:root {
    --font-family-styrene: 'Styrene UI', system-ui, -apple-system, 'Segoe UI', Roboto,
        'Helvetica Neue', Helvetica, sans-serif;
}
/* TODO: поменять медиа-запросы на миксины */
.styrene-xlarge {
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.styrene-large {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.styrene-medium {
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.styrene-small {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.styrene-xsmall {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    font-feature-settings: 'ss01';
    font-family: var(--font-family-styrene);
}
.system-xlarge {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.system-large {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}
.system-medium {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.system-small {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.system-xsmall {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}
.margins-xlarge {
    margin: 0 0 var(--gap-xl);
}
.margins-large {
    margin: var(--gap-3xl) 0 var(--gap-m);
}
.margins-medium {
    margin: var(--gap-3xl) 0 var(--gap-m);
}
.margins-small {
    margin: var(--gap-3xl) 0 var(--gap-m);
}
.margins-xsmall {
    margin: var(--gap-3xl) 0 var(--gap-m);
}
@media screen and (min-width: 600px) {
    .system-xlarge {
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
    }

    .system-large {
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
    }

    .system-medium {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
    }

    .system-small {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
    }

    .system-xsmall {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
    }

    .margins-xlarge {
        margin: 0 0 var(--gap-xl);
    }

    .margins-large {
        margin: var(--gap-4xl) 0 var(--gap-xl);
    }

    .margins-medium {
        margin: var(--gap-3xl) 0 var(--gap-m);
    }

    .margins-small {
        margin: var(--gap-3xl) 0 var(--gap-m);
    }

    .margins-xsmall {
        margin: var(--gap-3xl) 0 var(--gap-m);
    }
}
@media screen and (min-width: 1024px) {
    .styrene-xlarge {
        font-size: 48px;
        line-height: 64px;
        font-weight: 500;
        font-feature-settings: 'ss01';
        font-family: var(--font-family-styrene);
    }

    .styrene-large {
        font-size: 40px;
        line-height: 48px;
        font-weight: 500;
        font-feature-settings: 'ss01';
        font-family: var(--font-family-styrene);
    }

    .styrene-medium {
        font-size: 32px;
        line-height: 40px;
        font-weight: 500;
        font-feature-settings: 'ss01';
        font-family: var(--font-family-styrene);
    }

    .styrene-small {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        font-feature-settings: 'ss01';
        font-family: var(--font-family-styrene);
    }

    .styrene-xsmall {
        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        font-feature-settings: 'ss01';
        font-family: var(--font-family-styrene);
    }

    .system-xlarge {
        font-size: 48px;
        line-height: 52px;
        font-weight: 700;
    }

    .system-large {
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
    }

    .system-medium {
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
    }

    .system-small {
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
    }

    .system-xsmall {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
    }

    .margins-xlarge {
        margin: 0 0 var(--gap-xl);
    }

    .margins-large {
        margin: var(--gap-4xl) 0 var(--gap-xl);
    }

    .margins-medium {
        margin: var(--gap-4xl) 0 var(--gap-xl);
    }

    .margins-small {
        margin: var(--gap-3xl) 0 var(--gap-m);
    }

    .margins-xsmall {
        margin: var(--gap-3xl) 0 var(--gap-m);
    }
}
