/* hash: wbfyi */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.pure-cell__component_1dpzp {
    flex-basis: auto;
}
.pure-cell__top_1dpzp {
    align-self: flex-start;
}
.pure-cell__center_1dpzp {
    align-self: center;
}
.pure-cell__bottom_1dpzp {
    align-self: flex-end;
}
