/* hash: hy759 */
:root {
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-graphic-secondary-inverted: #b6bcc3;
    --color-light-graphic-tertiary-inverted: #6d7986;
    --color-light-graphic-negative-alpha-30: rgba(241, 80, 69, 0.3);
    --color-light-graphic-negative-shade-7: rgb(224, 74, 64);
    --color-light-graphic-negative-shade-15: rgb(205, 68, 59);
    --color-light-graphic-primary-inverted-shade-7: rgb(237, 237, 237);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    /* primary */
    --icon-button-inverted-primary-base-color: var(--color-light-graphic-primary-inverted);
    --icon-button-inverted-primary-hover-color: var(--color-light-graphic-primary-inverted-shade-7);
    --icon-button-inverted-primary-active-color: var(
        --color-light-graphic-primary-inverted-shade-15
    );
    --icon-button-inverted-primary-disabled-color: var(
        --color-light-graphic-primary-inverted-alpha-30
    );

    /* secondary */
    --icon-button-inverted-secondary-base-color: var(--color-light-graphic-secondary-inverted);
    --icon-button-inverted-secondary-hover-color: var(
        --color-light-graphic-secondary-inverted-tint-15
    );
    --icon-button-inverted-secondary-active-color: var(
        --color-light-graphic-secondary-inverted-tint-20
    );
    --icon-button-inverted-secondary-disabled-color: var(
        --color-light-graphic-secondary-inverted-alpha-30
    );

    /* transparent */
    --icon-button-inverted-transparent-base-color: var(
        --color-light-graphic-primary-inverted-alpha-30
    );
    --icon-button-inverted-transparent-hover-color: var(
        --color-light-graphic-primary-inverted-alpha-40
    );
    --icon-button-inverted-transparent-active-color: var(
        --color-light-graphic-primary-inverted-alpha-50
    );

    /* tertiary */
    --icon-button-inverted-tertiary-base-color: var(--color-light-graphic-tertiary-inverted);
    --icon-button-inverted-tertiary-hover-color: var(
        --color-light-graphic-tertiary-inverted-tint-15
    );
    --icon-button-inverted-tertiary-active-color: var(
        --color-light-graphic-tertiary-inverted-tint-20
    );
    --icon-button-inverted-tertiary-disabled-color: var(
        --color-light-graphic-tertiary-inverted-alpha-30
    );

    /* negative */
    --icon-button-inverted-negative-base-color: var(--color-light-graphic-negative);
    --icon-button-inverted-negative-hover-color: var(--color-light-graphic-negative-shade-7);
    --icon-button-inverted-negative-active-color: var(--color-light-graphic-negative-shade-15);
    --icon-button-inverted-negative-disabled-color: var(--color-light-graphic-negative-alpha-30);
}
.cc-icon-button.icon-button__primary_1xice {
        color: var(--icon-button-inverted-primary-base-color)
    }
.cc-icon-button.icon-button__primary_1xice:hover {
            color: var(--icon-button-inverted-primary-hover-color);
        }
.cc-icon-button.icon-button__primary_1xice:active {
            color: var(--icon-button-inverted-primary-active-color);
        }
.cc-icon-button.icon-button__secondary_1xice {
        color: var(--icon-button-inverted-secondary-base-color)
    }
.cc-icon-button.icon-button__secondary_1xice:hover {
            color: var(--icon-button-inverted-secondary-hover-color);
        }
.cc-icon-button.icon-button__secondary_1xice:active {
            color: var(--icon-button-inverted-secondary-active-color);
        }
.cc-icon-button.icon-button__transparent_1xice {
        color: var(--icon-button-inverted-transparent-base-color)
    }
.cc-icon-button.icon-button__transparent_1xice:hover {
            color: var(--icon-button-inverted-transparent-hover-color);
        }
.cc-icon-button.icon-button__transparent_1xice:active {
            color: var(--icon-button-inverted-transparent-active-color);
        }
.cc-icon-button.icon-button__negative_1xice {
        color: var(--icon-button-inverted-negative-base-color)
    }
.cc-icon-button.icon-button__negative_1xice:hover {
            color: var(--icon-button-inverted-negative-hover-color);
        }
.cc-icon-button.icon-button__negative_1xice:active {
            color: var(--icon-button-inverted-negative-active-color);
        }
.cc-icon-button.icon-button__tertiary_1xice {
        color: var(--icon-button-inverted-tertiary-base-color)
    }
.cc-icon-button.icon-button__tertiary_1xice:hover {
            color: var(--icon-button-inverted-tertiary-hover-color);
        }
.cc-icon-button.icon-button__tertiary_1xice:active {
            color: var(--icon-button-inverted-tertiary-active-color);
        }
.cc-icon-button.icon-button__component_1xice:disabled.icon-button__primary_1xice {
            color: var(--icon-button-inverted-primary-disabled-color)
        }
.cc-icon-button.icon-button__component_1xice:disabled.icon-button__primary_1xice.icon-button__loader_1xice {
                color: var(--icon-button-inverted-primary-base-color);
            }
.cc-icon-button.icon-button__component_1xice:disabled.icon-button__secondary_1xice {
            color: var(--icon-button-inverted-secondary-disabled-color)
        }
.cc-icon-button.icon-button__component_1xice:disabled.icon-button__secondary_1xice.icon-button__loader_1xice {
                color: var(--icon-button-inverted-secondary-base-color);
            }
.cc-icon-button.icon-button__component_1xice:disabled.icon-button__negative_1xice {
            color: var(--icon-button-inverted-negative-disabled-color)
        }
.cc-icon-button.icon-button__component_1xice:disabled.icon-button__negative_1xice.icon-button__loader_1xice {
                color: var(--icon-button-inverted-negative-base-color);
            }
.cc-icon-button.icon-button__component_1xice:disabled.icon-button__tertiary_1xice {
            color: var(--icon-button-inverted-tertiary-disabled-color)
        }
.cc-icon-button.icon-button__component_1xice:disabled.icon-button__tertiary_1xice.icon-button__loader_1xice {
                color: var(--icon-button-inverted-tertiary-base-color);
            }
