:root {
    --color-light-graphic-primary: #0b1f35;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
}
:root {
    --size-s-height: 48px;
    --size-m-height: 56px;
    --size-l-height: 64px;
    --size-xl-height: 72px;
}
:root {

    /* Кнопки выбора месяцев и годов */

    /* Шапка */

    /* День */

    /* today */

    /* highlighted */

    /* holidays */

    /* range */

    /* selected */

    /* disabled */

    /* marker */
}
.component {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    margin: 0 var(--gap-xs)
}
.component:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--color-light-graphic-primary);
    }
.outer {
    position: relative;

    /* FormControl .above height + margin-bottom */
    top: 24px;
}
.s {
    height: var(--size-s-height);
}
.m {
    height: var(--size-m-height);
}
.l {
    height: var(--size-l-height);
}
.xl {
    height: var(--size-xl-height);
}
