/* hash: 5j5xa */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xl: 40px;
}
:root {
    --border-radius-l: 12px;
}
:root {
    --modal-border-radius: var(--border-radius-l);
    --modal-vertical-padding: var(--gap-3xl);

    /* sizes */
    --modal-s-width: 500px;
    --modal-m-width: 600px;
    --modal-l-width: 800px;
    --modal-xl-width: 1140px;

    /* paddings */

    /* scroll */

    /* desktop */

    /* mobile */
}
.modal__wrapper_u2qdw {
    padding-top: var(--modal-vertical-padding);
    padding-bottom: var(--modal-vertical-padding);
}
.modal__component_u2qdw {
    width: 100%;
    max-width: 100%;
    border-radius: var(--modal-border-radius);
}
.modal__fullscreen_u2qdw {
    padding-top: 0;
    padding-bottom: 0
}
.modal__fullscreen_u2qdw .modal__component_u2qdw {
        flex: 1;
        border-radius: 0;
    }
.modal__s_u2qdw {
    width: var(--modal-s-width);
}
.modal__m_u2qdw {
    width: var(--modal-m-width);
}
.modal__l_u2qdw {
    width: var(--modal-l-width);
}
.modal__xl_u2qdw {
    width: var(--modal-xl-width);
}
