/* hash: 86qtd */
:root {
    --color-light-graphic-primary: #0b1f35;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --arrow-transform: rotate(180deg);
}
:root {
    --select-arrow-color: var(--color-light-graphic-primary);

    /* options list */

    /* option */

    /* checkmark */

    /* optgroup */
}
.select__arrow_1c6c2 {
    display: block;
    width: 24px;
    height: 24px;
    color: var(--select-arrow-color);

    transition: transform 0.15s ease-in-out, opacity 0.2s ease;
}
.select__open_1c6c2 {
    transform: var(--arrow-transform);
}
