/* hash: sf1qg */
:root {
    --color-light-graphic-link: #007aff;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-secondary: #6d7986;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
}
.table__component_174gw {
    position: relative;
}
.table__content_174gw {
    display: flex;
    align-items: flex-start;
}
.table__icon_174gw {
    cursor: pointer;
    margin-left: var(--gap-xs);

    /**
     * иконка сортировки должна быть выровнена по верхнему краю,
     * т.к. текст может быть в две строки
     */
    margin-top: 1px;
    color: var(--color-light-graphic-secondary);
    transition: color 0.2s ease;
    flex-shrink: 0
}
.table__icon_174gw:hover {
        color: var(--color-light-graphic-primary);
    }
.table__reverse_174gw {
    flex-direction: row-reverse
}
.table__reverse_174gw .table__icon_174gw {
        margin-left: 0;
        margin-right: var(--gap-xs);
    }
.table__sorted_174gw {
    color: var(--color-light-graphic-link)
}
.table__sorted_174gw:hover {
        color: var(--color-light-graphic-link);
    }
