/* hash: 1na7b */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --calendar-inner-width: 280px;

    /* Кнопки выбора месяцев и годов */

    /* Шапка */

    /* День */

    /* today */

    /* highlighted */

    /* holidays */

    /* range */

    /* selected */

    /* disabled */

    /* marker */
}
.calendar-range__component_19i4n {
    display: flex
}
.calendar-range__component_19i4n button[aria-selected='true'] {
        cursor: pointer;
    }
.calendar-range__component_19i4n *[class*='errorIcon_'] {
        display: none;
    }
.calendar-range__component_19i4n *[class*='calendarIcon_'] {
        margin-right: 0;
    }
.calendar-range__static_19i4n .calendar-range__calendar_19i4n {
        width: var(--calendar-inner-width);
    }
