/* hash: 1sgon */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.pure-cell__component_11qkg {
    flex-basis: 100%;
    display: grid;
    grid-template-columns: 1fr auto
}
.pure-cell__component_11qkg.pure-cell__horizontal_11qkg {
        /* for button */
        align-self: stretch;
    }
