:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {

    /* options list */

    /* option */

    /* checkmark */
    --select-mobile-checkmark-display-icon: block;
    --select-mobile-checkmark-display-badge: none;

    /* optgroup */
}
.checkmark {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    opacity: 0
}
.checkmark:first-child {
        display: none;
    }
.checkmark.selected {
        opacity: 1;
    }
.displayIcon {
    display: var(--select-mobile-checkmark-display-icon);
}
.displayBadge {
    display: var(--select-mobile-checkmark-display-badge);
}
