:root {
    --color-light-border-link: #007aff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
}
:root {
    --border-radius-m: 8px;
    --border-radius-l: 12px;
}
:root {
    --focus-color: var(--color-light-border-link);
    --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
    --disabled-cursor: not-allowed;
    --size-xs-height: 32px;
    --size-s-height: 48px;
    --size-m-height: 56px;
    --size-l-height: 64px;
    --size-xl-height: 72px;
}
:root {
    /* misc */
    --button-active-transform-scale-factor: 1;
    --button-active-transform: scale(var(--button-active-transform-scale-factor));
    --button-font-weight: 500;

    /* border-radius */
    --button-xxs-size-border-radius: 6px;
    --button-xs-size-border-radius: var(--border-radius-m);
    --button-s-size-border-radius: var(--border-radius-m);
    --button-m-size-border-radius: var(--border-radius-l);
    --button-l-size-border-radius: var(--border-radius-l);
    --button-xl-size-border-radius: var(--border-radius-l);
}
.component {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0 23px;
    line-height: 20px;
    font-weight: var(--button-font-weight);
    font-family: var(--font-family);
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    outline: none;
    box-shadow: none;
    -webkit-user-select: none;
            user-select: none;
    cursor: pointer;
    transition: background 0.2s ease, border 0.2s ease, color 0.2s ease, transform 0.12s ease;
    box-sizing: border-box;
    will-change: transform
}
.component:active {
        transform: var(--button-active-transform);
    }
.focused {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
.loading .text,
.loading .addons {
    opacity: 0;
}
.stretchText {
    flex-grow: 1;
}
.loader {
    position: absolute;
}
/* Size */
/* За счет того, что у кнопок есть border 1px,
для полного соответствия макетам padding необходимо уменьшить на 1px (16px -> 15px) */
.xxs {
    min-width: 80px;
    min-height: var(--size-xs-height);
    padding: 0 15px;
    font-size: 14px;
    border-radius: var(--button-xxs-size-border-radius)
}
.xxs.iconOnly {
        min-width: var(--size-xs-height);
    }
.xs {
    min-width: 88px;
    min-height: 40px;
    padding: 0 19px;
    font-size: 14px;
    border-radius: var(--button-xs-size-border-radius)
}
.xs.iconOnly {
        min-width: 40px;
    }
.s {
    min-width: 104px;
    min-height: var(--size-s-height);
    font-size: 16px;
    line-height: 24px;
    border-radius: var(--button-s-size-border-radius)
}
.s.iconOnly {
        min-width: var(--size-s-height);
    }
.m {
    min-width: 128px;
    min-height: var(--size-m-height);
    padding: 0 27px;
    font-size: 16px;
    line-height: 24px;
    border-radius: var(--button-m-size-border-radius)
}
.m.iconOnly {
        min-width: var(--size-m-height);
    }
.l {
    min-width: 160px;
    min-height: var(--size-l-height);
    padding: 0 31px;
    font-size: 18px;
    line-height: 24px;
    border-radius: var(--button-l-size-border-radius)
}
.l.iconOnly {
        min-width: var(--size-l-height);
    }
.xl {
    min-width: 168px;
    min-height: var(--size-xl-height);
    padding: 0 35px;
    font-size: 18px;
    line-height: 24px;
    border-radius: var(--button-xl-size-border-radius)
}
.xl.iconOnly {
        min-width: var(--size-xl-height);
    }
.withRightAddons.xxs {
        padding-right: 11px;
    }
.withRightAddons.xs {
        padding-right: 15px;
    }
.withRightAddons.s {
        padding-right: 19px;
    }
.withRightAddons.m {
        padding-right: 23px;
    }
.withRightAddons.l {
        padding-right: 27px;
    }
.withRightAddons.xl {
        padding-right: 31px;
    }
.withRightAddons.ghost {
        padding-right: 0;
    }
.withLeftAddons.xxs {
        padding-left: 11px;
    }
.withLeftAddons.xs {
        padding-left: 15px;
    }
.withLeftAddons.s {
        padding-left: 19px;
    }
.withLeftAddons.m {
        padding-left: 23px;
    }
.withLeftAddons.l {
        padding-left: 27px;
    }
.withLeftAddons.xl {
        padding-left: 31px;
    }
.withLeftAddons.ghost {
        padding-left: 0;
    }
.link {
    min-width: 0;
}
.ghost {
    min-width: 0;
    min-height: 0;
    padding: 0;
    border: none;
    -webkit-appearance: none;
            appearance: none
}
.ghost.iconOnly {
        min-width: 0;
    }
/* Disabled */
.component[disabled] {
    cursor: var(--disabled-cursor)
}
.component[disabled] * {
        pointer-events: none;
    }
/* Addons */
.addons {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin: 0
}
.addons:first-child {
        margin-right: var(--gap-2xs);
    }
.addons:last-child {
        margin-left: var(--gap-2xs);
    }
.addons:only-child {
        margin: 0;
    }
.s .addons:first-child, .m .addons:first-child {
        margin-right: var(--gap-xs);
    }
.s .addons:last-child, .m .addons:last-child {
        margin-left: var(--gap-xs);
    }
.s .addons:only-child, .m .addons:only-child {
        margin: 0;
    }
.l .addons:first-child, .xl .addons:first-child {
        margin-right: var(--gap-s);
    }
.l .addons:last-child, .xl .addons:last-child {
        margin-left: var(--gap-s);
    }
.l .addons:only-child, .xl .addons:only-child {
        margin: 0;
    }
.iconOnly {
    padding: 0;
}
/* Block */
.block {
    display: flex;
    width: 100%;
}
/* Nowrap */
.nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* IE min-height fix */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .component:after {
        min-height: inherit;
        font-size: 0;
        content: '';
    }
}
