:root {
    --color-dark-bg-quaternary: #485767;
    --color-dark-text-primary: #fff;
    --color-light-bg-accent: #ef3124;
    --color-light-border-underline: #b6bcc3;
    --color-light-border-underline-inverted: #6d7986;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-graphic-tertiary-inverted: #6d7986;
    --color-light-text-primary-inverted: #fff;
    --color-light-text-tertiary-inverted: rgba(255, 255, 255, 0.4);
    --color-static-graphic-light: #fff;
    --color-static-text-primary-light: #fff;
    --color-light-bg-accent-tint-15: rgb(241, 80, 69);
    --color-light-bg-accent-tint-20: rgb(242, 90, 80);
    --color-light-bg-primary-alpha-15: rgba(255, 255, 255, 0.15);
    --color-light-bg-primary-alpha-20: rgba(255, 255, 255, 0.2);
    --color-light-text-primary-inverted-shade-24: rgb(194, 194, 194);
    --color-light-text-primary-inverted-shade-40: rgb(153, 153, 153);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    /* primary */
    --button-inverted-primary-base-bg-color: var(--color-light-bg-accent);
    --button-inverted-primary-hover-bg-color: var(--color-light-bg-accent-tint-15);
    --button-inverted-primary-active-bg-color: var(--color-light-bg-accent-tint-20);
    --button-inverted-primary-disabled-bg-color: var(
        --color-light-specialbg-secondary-transparent-inverted
    );
    --button-inverted-primary-disabled-color: var(--color-light-text-tertiary-inverted);
    --button-inverted-primary-color: var(--color-static-text-primary-light);

    /* secondary */
    --button-inverted-secondary-base-bg-color: var(
        --color-light-specialbg-tertiary-transparent-inverted
    );
    --button-inverted-secondary-hover-bg-color: var(
        --color-light-specialbg-tertiary-transparent-inverted-tint-15
    );
    --button-inverted-secondary-active-bg-color: var(
        --color-light-specialbg-tertiary-transparent-inverted-tint-20
    );
    --button-inverted-secondary-disabled-bg-color: var(
        --color-light-specialbg-secondary-transparent-inverted
    );
    --button-inverted-secondary-base-border-color: transparent;
    --button-inverted-secondary-disabled-border-color: transparent;
    --button-inverted-secondary-color: var(--color-light-text-primary-inverted);
    --button-inverted-secondary-disabled-color: var(--color-light-text-tertiary-inverted);

    /* tertiary */
    --button-inverted-tertiary-base-bg-color: transparent;
    --button-inverted-tertiary-hover-bg-color: var(--color-light-bg-primary-alpha-15);
    --button-inverted-tertiary-active-bg-color: var(--color-light-bg-primary-alpha-20);
    --button-inverted-tertiary-hover-border-color: var(--color-light-border-underline);
    --button-inverted-tertiary-disabled-bg-color: transparent;
    --button-inverted-tertiary-base-border-color: var(--color-light-border-underline);
    --button-inverted-tertiary-disabled-border-color: var(--color-light-graphic-tertiary-inverted);
    --button-inverted-tertiary-color: var(--color-light-text-primary-inverted);
    --button-inverted-tertiary-disabled-color: var(--color-light-text-tertiary-inverted);

    /* outlined */
    --button-inverted-outlined-base-bg-color: transparent;
    --button-inverted-outlined-hover-bg-color: rgba(255, 255, 255, 0.15);
    --button-inverted-outlined-active-bg-color: rgba(0, 0, 0, 0.15);
    --button-inverted-outlined-disabled-bg-color: transparent;
    --button-inverted-outlined-base-border-color: var(--color-light-border-underline-inverted);
    --button-inverted-outlined-disabled-border-color: rgba(35, 53, 73, 0.3);
    --button-inverted-outlined-color: var(--color-dark-text-primary);
    --button-inverted-outlined-disabled-color: rgba(255, 255, 255, 0.3);

    /* ghost */
    --button-inverted-ghost-base-color: var(--color-light-text-primary-inverted);
    --button-inverted-ghost-hover-color: var(--color-light-text-primary-inverted-shade-24);
    --button-inverted-ghost-active-color: var(--color-light-text-primary-inverted-shade-40);
    --button-inverted-ghost-disabled-color: var(--color-light-text-tertiary-inverted);

    /* link */
    --button-inverted-link-base-color: var(--color-light-text-primary-inverted);
    --button-inverted-link-hover-bg-color: var(--color-light-bg-primary-alpha-15);
    --button-inverted-link-active-bg-color: var(--color-light-bg-primary-alpha-20);
    --button-inverted-link-disabled-color: var(--color-light-text-tertiary-inverted);

    /* loader */
    --button-spinner-static-color: var(--color-static-graphic-light);
    --button-spinner-inverted-color: var(--color-light-graphic-primary-inverted);
}
.primary {
    color: var(--button-inverted-primary-color);
    background-color: var(--button-inverted-primary-base-bg-color);
    border: 1px solid transparent
}
.primary:hover {
        background-color: var(--button-inverted-primary-hover-bg-color)
    }
@media (hover: none) {
.primary:hover {
            background-color: var(--button-inverted-primary-base-bg-color)
    }
        }
.primary:active {
        background-color: var(--button-inverted-primary-active-bg-color);
    }
.primary > .loader {
        color: var(--button-spinner-static-color);
    }
.secondary {
    color: var(--button-inverted-secondary-color);
    background-color: var(--button-inverted-secondary-base-bg-color);
    border: 1px solid var(--button-inverted-secondary-base-border-color)
}
.secondary:hover {
        background-color: var(--button-inverted-secondary-hover-bg-color)
    }
@media (hover: none) {
.secondary:hover {
            background-color: var(--button-inverted-secondary-base-bg-color)
    }
        }
.secondary:active {
        background-color: var(--button-inverted-secondary-active-bg-color);
    }
.secondary > .loader {
        color: var(--button-spinner-inverted-color);
    }
.outlined {
    color: var(--button-inverted-outlined-color);
    background-color: var(--button-inverted-outlined-base-bg-color);
    border: 1px solid var(--button-inverted-outlined-base-border-color)
}
.outlined:hover {
        background-color: var(--button-inverted-outlined-hover-bg-color)
    }
@media (hover: none) {
.outlined:hover {
            background-color: var(--button-inverted-outlined-base-bg-color)
    }
        }
.outlined:active {
        background-color: var(--button-inverted-outlined-active-bg-color);
    }
.tertiary {
    color: var(--button-inverted-tertiary-color);
    background-color: var(--button-inverted-tertiary-base-bg-color);
    border: 1px solid var(--button-inverted-tertiary-base-border-color)
}
.tertiary:hover {
        background-color: var(--button-inverted-tertiary-hover-bg-color);
        border-color: var(--button-inverted-tertiary-hover-border-color)
    }
@media (hover: none) {
.tertiary:hover {
            background-color: var(--button-inverted-tertiary-base-bg-color);
            border-color: var(--button-inverted-tertiary-base-border-color)
    }
        }
.tertiary:active {
        background-color: var(--button-inverted-tertiary-active-bg-color);
    }
.tertiary > .loader {
        color: var(--button-spinner-inverted-color);
    }
.filled {
    color: var(--color-dark-text-primary);
    background-color: var(--color-dark-bg-quaternary)
}
.filled:hover {
        background-color: rgb(99, 112, 126)
    }
@media (hover: none) {
.filled:hover {
            background-color: var(--color-dark-bg-quaternary)
    }
        }
.filled:active {
        background-color: rgb(61, 74, 88);
    }
.transparent {
    color: var(--color-light-text-primary-inverted);
    background-color: rgba(255, 255, 255, 0.1)
}
.transparent:hover {
        background-color: rgba(255, 255, 255, 0.2)
    }
@media (hover: none) {
.transparent:hover {
            background-color: rgba(255, 255, 255, 0.1)
    }
        }
.transparent:active {
        /* TODO: какой цвет? */
        background-color: rgba(255, 255, 255, 0.05);
    }
.link {
    color: var(--button-inverted-link-base-color);
    background-color: transparent;
    border: 1px solid transparent
}
.link:hover {
        background-color: var(--button-inverted-link-hover-bg-color)
    }
@media (hover: none) {
.link:hover {
            background-color: transparent
    }
        }
.link:active {
        /* TODO: какой цвет? */
        background-color: var(--button-inverted-link-active-bg-color);
    }
.link > .loader {
        color: var(--button-spinner-inverted-color);
    }
.ghost {
    color: var(--button-inverted-ghost-base-color)
}
.ghost:hover {
        color: var(--button-inverted-ghost-hover-color)
    }
@media (hover: none) {
.ghost:hover {
            color: var(--button-inverted-ghost-base-color)
    }
        }
.ghost:active {
        color: var(--button-inverted-ghost-active-color);
    }
.ghost > .loader {
        color: var(--button-spinner-inverted-color);
    }
.component[disabled].primary {
        color: var(--button-inverted-primary-disabled-color);
        background-color: var(--button-inverted-primary-disabled-bg-color)
    }
.component[disabled].primary.loading {
            background-color: var(--button-inverted-primary-base-bg-color);
        }
.component[disabled].secondary {
        color: var(--button-inverted-secondary-disabled-color);
        background-color: var(--button-inverted-secondary-disabled-bg-color);
        border-color: var(--button-inverted-secondary-disabled-border-color)
    }
.component[disabled].secondary.loading {
            color: var(--button-inverted-secondary-color);
            background-color: var(--button-inverted-secondary-base-bg-color);
            border-color: var(--button-inverted-secondary-base-border-color);
        }
.component[disabled].outlined {
        color: var(--button-inverted-outlined-disabled-color);
        background-color: var(--button-inverted-outlined-disabled-bg-color);
        border-color: var(--button-inverted-outlined-disabled-border-color)
    }
.component[disabled].outlined.loading {
            color: var(--button-inverted-outlined-color);
        }
.component[disabled].tertiary {
        color: var(--button-inverted-tertiary-disabled-color);
        background-color: var(--button-inverted-tertiary-disabled-bg-color);
        border-color: var(--button-inverted-tertiary-disabled-border-color)
    }
.component[disabled].tertiary.loading {
            color: var(--button-inverted-tertiary-color);
        }
.component[disabled].filled {
        color: rgba(255, 255, 255, 0.3);
        background-color: rgba(72, 87, 103, 0.3);
        border-color: transparent
    }
.component[disabled].filled.loading {
            color: var(--color-dark-text-primary);
            background-color: var(--color-dark-bg-quaternary);
            border-color: transparent;
        }
.component[disabled].transparent {
        color: rgba(255, 255, 255, 0.3);
        background-color: rgba(255, 255, 255, 0.03)
    }
.component[disabled].transparent.loading {
            color: var(--color-light-text-primary-inverted);
            background-color: rgba(255, 255, 255, 0.1);
        }
.component[disabled].link {
        color: var(--button-inverted-link-disabled-color);
        background-color: transparent
    }
.component[disabled].link.loading {
            color: var(--button-inverted-link-base-color);
        }
.component[disabled].ghost {
        color: var(--button-inverted-ghost-disabled-color)
    }
.component[disabled].ghost.loading {
            color: var(--button-inverted-ghost-base-color);
        }
