/* hash: rrwpt */
:root {
    --color-light-bg-primary-inverted: #0b1f35;
    --color-light-bg-secondary: #f3f4f5;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-text-primary: #0b1f35;
    --color-light-bg-primary-inverted-tint-15: rgb(48, 65, 83);
    --color-light-bg-primary-inverted-tint-20: rgb(60, 76, 93);
    --color-light-bg-secondary-shade-7: rgb(226, 227, 228);
    --color-light-bg-secondary-shade-15: rgb(207, 207, 208);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    /* primary */
    --action-button-primary-base-color: var(--color-light-text-primary);
    --action-button-primary-base-icon-color: var(--color-light-graphic-primary-inverted);
    --action-button-primary-base-bg-color: var(--color-light-bg-primary-inverted);
    --action-button-primary-hover-color: var(--color-light-bg-primary-inverted-tint-15);
    --action-button-primary-active-color: var(--color-light-bg-primary-inverted-tint-20);

    /* secondary */
    --action-button-secondary-base-color: var(--color-light-text-primary);
    --action-button-secondary-base-icon-color: var(--color-light-graphic-primary);
    --action-button-secondary-base-bg-color: var(--color-light-bg-secondary);
    --action-button-secondary-hover-color: var(--color-light-bg-secondary-shade-7);
    --action-button-secondary-active-color: var(--color-light-bg-secondary-shade-15);
}
.action-button__primary_1fonb {
    color: var(--action-button-primary-base-color)
}
.action-button__primary_1fonb .action-button__iconWrapper_1fonb {
        color: var(--action-button-primary-base-icon-color);
        background-color: var(--action-button-primary-base-bg-color);
    }
.action-button__primary_1fonb:hover .action-button__iconWrapper_1fonb {
        background-color: var(--action-button-primary-hover-color);
    }
.action-button__primary_1fonb:active .action-button__iconWrapper_1fonb {
        background-color: var(--action-button-primary-active-color);
    }
.action-button__secondary_1fonb {
    color: var(--action-button-secondary-base-color)
}
.action-button__secondary_1fonb .action-button__iconWrapper_1fonb {
        color: var(--action-button-secondary-base-icon-color);
        background-color: var(--action-button-secondary-base-bg-color);
    }
.action-button__secondary_1fonb:hover .action-button__iconWrapper_1fonb {
        background-color: var(--action-button-secondary-hover-color);
    }
.action-button__secondary_1fonb:active .action-button__iconWrapper_1fonb {
        background-color: var(--action-button-secondary-active-color);
    }
