/* hash: dfj2w */
:root {
    --shadow-s: 0 0 8px rgba(11, 31, 53, 0.04), 0 4px 8px rgba(11, 31, 53, 0.08);

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-s: 12px;
    --gap-m: 16px;
}
:root {

    /* Кнопки выбора месяцев и годов */

    /* Шапка */

    /* День */

    /* today */

    /* highlighted */

    /* holidays */

    /* range */

    /* selected */

    /* disabled */

    /* marker */
}
.calendar__header_1tc94 {
    width: 100%;
    box-sizing: border-box;
    padding: var(--gap-m) 0 var(--gap-s);
    transition: box-shadow 0.2s ease;
    display: flex;
    justify-content: center;
}
.calendar__withShadow_1tc94 {
    box-shadow: var(--shadow-s);
}
