:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-m: 16px;
    --gap-xl: 24px;
    --gap-3xl: 40px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    --border-radius-l: 12px;
}
:root {
    --modal-border-radius: var(--border-radius-l);
    --modal-vertical-padding: var(--gap-3xl);

    /* sizes */

    /* paddings */
    --modal-s-header-paddings: var(--gap-xs) var(--gap-xs) var(--gap-m);

    /* scroll */

    /* desktop */
    --modal-s-header-desktop-content-paddings: var(--gap-3xl) var(--gap-m) 0 0;
    --modal-s-header-desktop-font-size: 22px;
    --modal-s-header-desktop-line-height: 26px;
    --modal-l-header-desktop-content-paddings: var(--gap-3xl) var(--gap-m) 0 0;
    --modal-l-header-desktop-font-size: 30px;
    --modal-l-header-desktop-line-height: 36px;
    --modal-header-desktop-font-weight: bold;
    --modal-header-desktop-font-family: var(--font-family-system);

    /* mobile */
}
.header {
    border-top-left-radius: var(--modal-border-radius);
    border-top-right-radius: var(--modal-border-radius);
}
.content {
    font-weight: var(--modal-header-desktop-font-weight);
    font-family: var(--modal-header-desktop-font-family);
}
.s .content,
.m .content {
    padding: var(--modal-s-header-desktop-content-paddings);
    font-size: var(--modal-s-header-desktop-font-size);
    line-height: var(--modal-s-header-desktop-line-height);
}
.l .content,
.xl .content,
.fullscreen .content {
    padding: var(--modal-l-header-desktop-content-paddings);
    font-size: var(--modal-l-header-desktop-font-size);
    line-height: var(--modal-l-header-desktop-line-height);
}
.s,
.m {
    padding: var(--modal-s-header-paddings)
}
.s:not(.hasContent), .m:not(.hasContent) {
        padding-bottom: 0;
    }
.l,
.xl,
.fullscreen {
    padding: var(--gap-xl) var(--gap-xl) var(--gap-m)
}
.l:not(.hasContent), .xl:not(.hasContent), .fullscreen:not(.hasContent) {
        padding-bottom: var(--gap-m);
    }
.sticky {
    top: calc(var(--modal-vertical-padding) * -1)
}
.sticky.fullscreen {
        top: 0;
    }
