/* hash: 1wrj1 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
}
:root {

    /* sizes */

    /* paddings */

    /* scroll */

    /* desktop */

    /* mobile */
}
.side-panel__footer_cw0sg {
    padding: var(--gap-m);
}
.side-panel__sticky_cw0sg {
    bottom: 0;
}
