/* hash: 1be8g */
:root {
    --color-light-border-link: #007aff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
}
:root {
    --focus-color: var(--color-light-border-link);
}
.pure-cell__component_1ifaa {
    text-align: unset;

    /** line-height наследуется. Если его не обнулить, то все иконки внутри будут иметь неверный размер */
    line-height: 0;
    box-sizing: border-box;
}
.pure-cell__horizontal_1ifaa {
    display: flex;
    width: 100%
}
.pure-cell__horizontal_1ifaa > section:not(:last-child) {
        margin-right: var(--gap-m);
    }
.pure-cell__vertical_1ifaa {
    display: flex;
    align-items: center;
    flex-direction: column
}
.pure-cell__vertical_1ifaa > section:not(:last-child) {
        margin-bottom: var(--gap-s);
    }
.pure-cell__button_1ifaa {
    font-family: inherit;
    background: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    padding: 0
}
.pure-cell__button_1ifaa:hover {
        opacity: 0.8;
    }
.pure-cell__button_1ifaa:active {
        opacity: 0.6;
    }
.pure-cell__link_1ifaa {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out
}
.pure-cell__link_1ifaa:hover {
        opacity: 0.8;
    }
.pure-cell__link_1ifaa:active {
        opacity: 0.6;
    }
.pure-cell__none_1ifaa {
    padding: 0;
}
.pure-cell__airy_1ifaa {
    padding: var(--gap-m) 0;
}
.pure-cell__defaultPadding_1ifaa {
    padding: var(--gap-s) 0;
}
.pure-cell__compact_1ifaa {
    padding: var(--gap-xs) 0;
}
.pure-cell__tiny_1ifaa {
    padding: var(--gap-2xs) 0;
}
.pure-cell__left_1ifaa {
    padding-left: var(--gap-m);
}
.pure-cell__right_1ifaa {
    padding-right: var(--gap-m);
}
.pure-cell__both_1ifaa {
    padding-right: var(--gap-m);
    padding-left: var(--gap-m);
}
.pure-cell__focused_1ifaa {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
