:root {
    --shadow-m: 0 0 16px rgba(11, 31, 53, 0.08), 0 8px 16px rgba(11, 31, 53, 0.16);

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xl: 32px;
}
:root {
    --border-radius-m: 8px;
}
:root {
    /* default */
    --toast-plate-border-radius: var(--border-radius-m);

    /* inverted */
}
:root {
    --toast-box-shadow: var(--shadow-m);
}
.toastPlate {
    box-shadow: var(--toast-box-shadow);
    word-break: break-word;
}
.title {
    font-weight: 400;
}
.popoverInner {
    border: none;
    border-radius: var(--toast-plate-border-radius);
    box-shadow: var(--toast-box-shadow);
    background-color: transparent;
}
.block {
    width: 100%;
}
.fixed {
    position: fixed;
    bottom: var(--gap-2xl);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out
}
.fixed.enter {
        opacity: 0;
        transform: scale(0.98);
    }
.fixed.enterActive {
        opacity: 1;
        transform: scale(1);
    }
.fixed.exit {
        opacity: 1;
        transform: scale(1);
    }
.fixed.exitActive {
        opacity: 0;
        transform: scale(0.98);
    }
