/* hash: 1audr */
:root {
    --color-light-border-accent: #ef3124;
    --color-light-border-link: #007aff;
    --color-light-border-primary: #dbdee1;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
    --color-light-text-tertiary: rgba(11, 31, 53, 0.3);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-2xl: 32px;
    --gap-2xs-neg: -4px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    --focus-color: var(--color-light-border-link);
    --disabled-cursor: not-allowed;
}
:root {
    --primary-tablist-color: var(--color-light-text-secondary);
    --primary-tablist-hover-color: var(--color-light-text-primary);
    --primary-tablist-selected-color: var(--color-light-text-primary);
    --primary-tablist-disabled-color: var(--color-light-text-tertiary);
    --primary-tablist-bottom-border-color: var(--color-light-border-primary);
    --primary-tablist-line-color: var(--color-light-border-accent);
    --primary-tablist-font-feature-settings: normal;

    /* mobile */

    /* size s */
    --primary-tablist-s-gaps: var(--gap-2xl);
    --primary-tablist-s-font-size: 18px;
    --primary-tablist-s-font-weight: 400;
    --primary-tablist-s-font-family: var(--font-family-system);
    --primary-tablist-s-padding: 0 0 var(--gap-s);

    /* size m */
    --primary-tablist-m-gaps: var(--gap-2xl);
    --primary-tablist-m-font-size: 18px;
    --primary-tablist-m-font-weight: 400;
    --primary-tablist-m-font-family: var(--font-family-system);
    --primary-tablist-m-padding: 0 0 var(--gap-m);

    /* size l */
    --primary-tablist-l-gaps: var(--gap-2xl);
    --primary-tablist-l-font-size: 18px;
    --primary-tablist-l-font-weight: 400;
    --primary-tablist-l-font-family: var(--font-family-system);
    --primary-tablist-l-padding: 0 0 var(--gap-l);

    /* size xl */
    --primary-tablist-xl-gaps: var(--gap-2xl);
    --primary-tablist-xl-font-size: 18px;
    --primary-tablist-xl-font-weight: 400;
    --primary-tablist-xl-font-family: var(--font-family-system);
    --primary-tablist-xl-padding: 0 0 var(--gap-l);

    /* mobile */

    /* size xxs */

    /* size xs */

    /* size s */

    /* size m */

    /* size l */

    /* size xl */
}
.tabs__component_1w0vv {
    position: relative;
    display: inline-flex;
    min-width: 100%
}
.tabs__component_1w0vv:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 1px;
        height: 1px;
        width: 100%;
        background-color: var(--primary-tablist-bottom-border-color);
    }
.tabs__fullWidthScroll_1w0vv {
    min-width: calc(100% - 2 * var(--gap-m));
    margin: 0 var(--gap-m);
}
.tabs__container_1w0vv {
    position: relative;
    overflow: hidden;

    /* focus-outline fix */
    margin: var(--gap-2xs-neg) 0 var(--gap-2xs-neg) var(--gap-2xs-neg);
    padding: var(--gap-2xs) 0 var(--gap-2xs) var(--gap-2xs);
}
.tabs__title_1w0vv {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    cursor: pointer;
    color: var(--primary-tablist-color);
    font-feature-settings: var(--primary-tablist-font-feature-settings);
    transition: color 0.2s ease;
    border: 0;
    background: none;
    white-space: nowrap;
    box-shadow: none;
    -webkit-user-select: none;
            user-select: none;
    cursor: pointer;
    outline: none
}
.tabs__title_1w0vv:not(.tabs__disabled_1w0vv):hover {
        color: var(--primary-tablist-hover-color);
    }
.tabs__focused_1w0vv {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
.tabs__collapsed_1w0vv {
    order: 99;
    visibility: collapse;
}
.tabs__selected_1w0vv {
    cursor: default;
    color: var(--primary-tablist-selected-color);
}
.tabs__disabled_1w0vv {
    cursor: var(--disabled-cursor);
    color: var(--primary-tablist-disabled-color);
}
.tabs__line_1w0vv {
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-tablist-line-color);
    transition: transform 0.2s ease, width 0.2s ease;
}
/* sizes */
.tabs__s_1w0vv .tabs__title_1w0vv, .tabs__xs_1w0vv .tabs__title_1w0vv, .tabs__xxs_1w0vv .tabs__title_1w0vv {
        padding: var(--primary-tablist-s-padding);
        font-size: var(--primary-tablist-s-font-size);
        font-weight: var(--primary-tablist-s-font-weight);
        font-family: var(--primary-tablist-s-font-family);
        line-height: 24px;
    }
.tabs__s_1w0vv .tabs__title_1w0vv + .tabs__title_1w0vv, .tabs__xs_1w0vv .tabs__title_1w0vv + .tabs__title_1w0vv, .tabs__xxs_1w0vv .tabs__title_1w0vv + .tabs__title_1w0vv {
        margin-left: var(--primary-tablist-s-gaps);
    }
.tabs__s_1w0vv .tabs__pickerWrapper_1w0vv, .tabs__xs_1w0vv .tabs__pickerWrapper_1w0vv, .tabs__xxs_1w0vv .tabs__pickerWrapper_1w0vv {
        margin-left: var(--primary-tablist-s-gaps);
    }
.tabs__s_1w0vv .tabs__option_1w0vv, .tabs__xs_1w0vv .tabs__option_1w0vv, .tabs__xxs_1w0vv .tabs__option_1w0vv {
        padding: 0;
    }
.tabs__m_1w0vv .tabs__title_1w0vv {
        padding: var(--primary-tablist-m-padding);
        font-size: var(--primary-tablist-m-font-size);
        font-weight: var(--primary-tablist-m-font-weight);
        font-family: var(--primary-tablist-m-font-family);
        line-height: 24px;
    }
.tabs__m_1w0vv .tabs__title_1w0vv + .tabs__title_1w0vv {
        margin-left: var(--primary-tablist-m-gaps);
    }
.tabs__m_1w0vv .tabs__pickerWrapper_1w0vv {
        margin-left: var(--primary-tablist-m-gaps);
    }
.tabs__m_1w0vv .tabs__option_1w0vv {
        padding: 0;
    }
.tabs__l_1w0vv .tabs__title_1w0vv {
        padding: var(--primary-tablist-l-padding);
        font-size: var(--primary-tablist-l-font-size);
        font-weight: var(--primary-tablist-l-font-weight);
        font-family: var(--primary-tablist-l-font-family);
        line-height: 24px;
    }
.tabs__l_1w0vv .tabs__title_1w0vv + .tabs__title_1w0vv {
        margin-left: var(--primary-tablist-l-gaps);
    }
.tabs__l_1w0vv .tabs__pickerWrapper_1w0vv {
        margin-left: var(--primary-tablist-l-gaps);
    }
.tabs__l_1w0vv .tabs__option_1w0vv {
        padding: 0;
    }
.tabs__xl_1w0vv .tabs__title_1w0vv {
        padding: var(--primary-tablist-xl-padding);
        font-size: var(--primary-tablist-xl-font-size);
        font-weight: var(--primary-tablist-xl-font-weight);
        font-family: var(--primary-tablist-xl-font-family);
        line-height: 32px;
    }
.tabs__xl_1w0vv .tabs__title_1w0vv + .tabs__title_1w0vv {
        margin-left: var(--primary-tablist-xl-gaps);
    }
.tabs__xl_1w0vv .tabs__pickerWrapper_1w0vv {
        margin-left: var(--primary-tablist-xl-gaps);
    }
.tabs__xl_1w0vv .tabs__option_1w0vv {
        padding: 0;
    }
.tabs__rightAddons_1w0vv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--gap-xs);
}
