:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
}
:root {
    --calendar-height: 340px;
    --calendar-width: 344px;
    --calendar-inner-width: 280px;
    --calendar-mobile-inner-width: 256px;

    /* Кнопки выбора месяцев и годов */

    /* Шапка */

    /* День */

    /* today */

    /* highlighted */

    /* holidays */

    /* range */

    /* selected */

    /* disabled */

    /* marker */
}
.component {
    width: var(--calendar-width);
    height: var(--calendar-height);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    outline: none
}
@media (max-width: 374px) {
.component {
        align-items: center;
        width: 100%;
        height: 320px
}
    }
.component.responsive {
        width: 100%
    }
.component.responsive .period {
            width: 100%;
        }
.component.responsive .monthYear {
            width: 100%;
        }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--gap-m);
    box-sizing: border-box;
    flex-grow: 1;
    overflow: hidden
}
@media (max-width: 374px) {
.container {
        width: 288px
}
    }
.sixWeeks {
    height: 379px
}
@media (max-width: 374px) {
.sixWeeks {
        height: 360px
}
    }
.period {
    width: var(--calendar-inner-width)
}
@media (max-width: 374px) {
.period {
        justify-content: space-between;
        width: var(--calendar-mobile-inner-width);
        margin: 0 auto
}
    }
.monthYear {
    width: var(--calendar-inner-width)
}
@media (max-width: 374px) {
.monthYear {
        justify-content: space-between;
        width: var(--calendar-mobile-inner-width);
        margin: 0 auto
}
    }
