:root {
    --color-light-border-primary: #dbdee1;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-positive: #2fc26e;
    --color-light-text-accent: #ef3124;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-xl: 24px;
}
.component {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;

    display: flex;
    width: 100%;
    padding: var(--gap-xs);
    color: var(--color-light-text-secondary);
    box-shadow: 0 -1px 0 0 var(--color-light-border-primary) inset;
    box-sizing: border-box
}
.component svg {
        display: block;
    }
.infoSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: var(--gap-2xs);
    margin-left: var(--gap-s);
    min-width: 40%;
}
.info {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow: hidden;
}
.icon {
    display: block;
    flex-shrink: 0;
    color: var(--color-light-text-primary);
}
.errorIcon {
    flex-shrink: 0;
    color: var(--color-light-graphic-negative);
}
.successIcon {
    flex-shrink: 0;
    color: var(--color-light-graphic-positive);
}
.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-light-text-primary)
}
.name a {
        display: block;
        margin-bottom: 1px;
    }
.meta {
    display: flex;
    white-space: nowrap;
    margin-right: var(--gap-2xs);
    margin-left: var(--gap-xl);
    padding: var(--gap-2xs) 0
}
.meta > * {
        margin-right: var(--gap-s)
    }
.meta > *:last-child {
            margin-right: 0;
        }
.size {
    text-align: right;
}
.delete,
.download {
    height: 24px;
    width: 24px;
    margin-left: var(--gap-xs);
}
.errorWrapper {
    margin-top: var(--gap-s);
    color: var(--color-light-text-accent)
}
@media (--small-only) {
.errorWrapper {
        flex: 1 0 100%;
        margin-top: var(--gap-3xs)
}
    }
.restore {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    margin-left: var(--gap-s);
}
.spinnerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}
.spinner {
    width: 20px;
    height: 20px;
}
.uploadPercent {
    margin-top: var(--gap-2xs);
    margin-left: var(--gap-xl);
}
