:root {
    --color-light-bg-primary: #fff;
    --color-light-bg-quaternary: #dbdee1;
    --color-light-border-key: #0b1f35;
    --color-light-border-link: #007aff;
    --color-light-border-underline: #b6bcc3;
    --color-light-border-underline-inverted: #6d7986;
    --color-light-graphic-accent: #ef3124;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-graphic-quaternary: #dbdee1;
    --color-light-graphic-tertiary: #b6bcc3;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
    --color-light-graphic-accent-shade-10: rgb(215, 44, 32);
    --color-light-graphic-accent-shade-30: rgb(167, 34, 25);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
}
:root {
    --border-radius-circle: 50%;
}
:root {
    --focus-color: var(--color-light-border-link);
    --disabled-cursor: not-allowed;
}
:root {
    --radio-hint-color: var(--color-light-text-secondary);
    --radio-label-color: var(--color-light-text-primary);

    /* unchecked */
    --radio-bg-color: var(--color-light-graphic-primary-inverted);
    --radio-border-color: var(--color-light-border-underline-inverted);
    --radio-hover-bg-color: var(--color-light-graphic-tertiary);
    --radio-hover-border-color: var(--color-light-border-underline-inverted);
    --radio-active-bg-color: var(--color-light-graphic-tertiary);
    --radio-active-border-color: var(--color-light-border-key);

    /* checked */
    --radio-checked-bg-color: var(--color-light-graphic-accent);
    --radio-checked-border-color: transparent;
    --radio-checked-hover-bg-color: var(--color-light-graphic-accent-shade-10);
    --radio-checked-hover-border-color: transparent;
    --radio-checked-active-bg-color: var(--color-light-graphic-accent-shade-30);
    --radio-checked-active-border-color: transparent;

    /* disabled */
    --radio-disabled-color: var(--color-light-text-secondary);
    --radio-disabled-bg-color: var(--color-light-graphic-primary-inverted);
    --radio-disabled-border-color: var(--color-light-graphic-quaternary);

    /* inactive */
    --radio-inactive-border-color: var(--color-light-border-underline);
    --radio-checked-inactive-color: var(--color-light-graphic-tertiary);

    /* disabled and checked */
    --radio-checked-disabled-bg-color: var(--color-light-bg-quaternary);
    --radio-checked-disabled-border-color: transparent;

    /* icon */
    --radio-icon-color: var(--color-light-bg-primary);
}
.container {
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer
}
.container:not(.checked):not(.disabled):not(.inactive) .circle {
            background-color: var(--radio-bg-color);
            border: 1.5px solid var(--radio-border-color);
        }
.container:not(.checked):not(.disabled):not(.inactive):hover:not(:active) .circle {
            background-color: var(--radio-hover-bg-color);
            border-color: var(--radio-hover-border-color);
        }
.container:not(.checked):not(.disabled):not(.inactive):active .circle {
            background-color: var(--radio-active-bg-color);
            border-color: var(--radio-active-border-color);
        }
.container.disabled {
        cursor: var(--disabled-cursor)
    }
.container.disabled .circle {
            background-color: var(--radio-disabled-bg-color);
            border: 1.5px solid var(--radio-disabled-border-color);
        }
.container.disabled .label {
            color: var(--radio-disabled-color);
        }
.container.disabled .hint {
            color: var(--radio-disabled-color);
        }
.container.inactive {
        cursor: var(--disabled-cursor)
    }
.container.inactive .circle {
            background-color: var(--radio-checked-disabled-bg-color);
            border: 1px solid var(--radio-inactive-border-color);
        }
.container.inactive.checked .circle:before {
            background-color: var(--radio-checked-inactive-color);
        }
.container.checked:not(:active) .circle:before,
    .container.checked.disabled:active .circle:before {
        opacity: 1;
    }
.container.checked .circle {
            background-color: var(--radio-checked-bg-color);
            border: 1.5px solid var(--radio-checked-border-color);
        }
.container.checked:hover .circle {
            background-color: var(--radio-checked-hover-bg-color);
            border-color: var(--radio-checked-hover-border-color);
        }
.container.checked:active .circle {
            background-color: var(--radio-checked-active-bg-color);
            border-color: var(--radio-checked-active-border-color);
        }
.container.focused .circle {
        outline: 2px solid var(--focus-color);
        outline-offset: 2px;
    }
.container.disabled.checked .circle,
    .container.inactive.checked .circle {
        background-color: var(--radio-checked-disabled-bg-color);
        border-color: var(--radio-checked-disabled-border-color);
    }
.container input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.circle {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: var(--border-radius-circle);
    position: relative;
    margin: var(--gap-3xs);
    transition: background-color 0.2s ease, border 0.2s ease
}
.circle:before {
        content: '';
        background-color: var(--radio-icon-color);
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: opacity 0.2s ease;
        opacity: 0;
    }
.s .circle {
    width: 16px;
    height: 16px;
    margin: var(--gap-2xs) var(--gap-3xs);
}
.content {
    display: flex;
    flex-direction: column;
    margin-left: var(--gap-s);
}
.s .content {
    margin-left: var(--gap-xs);
}
.start {
    align-items: flex-start;
}
.center {
    align-items: center;
}
.addons {
    margin-left: auto;
    padding-left: var(--gap-m);
    line-height: 24px;
}
.block {
    width: 100%;
}
.label {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--radio-label-color);
}
.hint {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-top: var(--gap-2xs);
    color: var(--radio-hint-color);
}
