:root {
    --color-light-bg-primary: #fff;
}
:root {

    /* Hard */
    --shadow-xs-hard: 0 0 4px rgba(11, 31, 53, 0.02), 0 2px 4px rgba(11, 31, 53, 0.04),
        0 2px 4px rgba(11, 31, 53, 0.16);

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
}
:root {
    --border-radius-m: 8px;
}
.component {
    box-sizing: border-box;
}
.wrapper {
    padding: 0 var(--gap-m) var(--gap-m);
    background: var(--color-light-bg-primary);
    box-shadow: var(--shadow-xs-hard);
    border-radius: var(--border-radius-m);
    overflow: auto;
}
.stickyHeader {
    max-height: 100%;
}
.hasPagination {
    padding-bottom: 0;
}
.table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box

    /* TODO: Хак для выравнивания чекбокса */
}
.table td:first-child label > *[class^='box'], .table th:first-child label > *[class^='box'] {
            margin-top: 0;
        }
