/* hash: 1gi8b */
.modal__appear_12hcv,
.modal__enter_12hcv {
    opacity: 0;
    transform: translateY(15px);
}

.modal__appearActive_12hcv,
.modal__enterActive_12hcv {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.modal__exit_12hcv {
    opacity: 1;
    transform: translateY(0);
}

.modal__exitActive_12hcv,
.modal__exitDone_12hcv {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 200ms ease-out, transform 200ms ease-out;
}
