/* hash: 1b1jz */
:root {
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
    --gap-2xs-neg: -4px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    /* desktop */

    /* mobile */

    /* text */
    --confirmation-text-font-size: 16px;
    --confirmation-text-line-height: 24px;
    --confirmation-text-font-weight: 400;
    --confirmation-text-font-family: var(--font-family-system);
    --confirmation-text-color: var(--color-light-text-primary)

    /* header */
}
.confirmation__component_pteqq {
    display: flex;
    flex-direction: column;
}
.confirmation__typographyTheme_pteqq.confirmation__typographyTheme_pteqq {
    font-size: var(--confirmation-text-font-size);
    line-height: var(--confirmation-text-line-height);
    font-weight: var(--confirmation-text-font-weight);
    font-family: var(--confirmation-text-font-family);
    color: var(--confirmation-text-color);
}
.confirmation__phone_pteqq.confirmation__phone_pteqq {
    color: var(--color-light-text-primary);
    margin-bottom: var(--gap-2xl);
}
.confirmation__compact_pteqq {
    margin-bottom: var(--gap-xl);
}
.confirmation__loaderWrap_pteqq {
    display: flex;
    align-items: center;
}
.confirmation__left_pteqq {
    align-items: flex-start;
}
.confirmation__center_pteqq {
    align-items: center;
    text-align: center
}
.confirmation__center_pteqq .confirmation__loaderWrap_pteqq {
        justify-content: center;
    }
.confirmation__center_pteqq input {
        margin: 0 var(--gap-2xs);
    }
.confirmation__codeInput_pteqq {
    margin-bottom: var(--gap-s);
}
.confirmation__smsComeLink_pteqq.confirmation__smsComeLink_pteqq {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.confirmation__countdownContainer_pteqq.confirmation__countdownContainer_pteqq {
    color: var(--color-light-text-secondary);
    margin-bottom: var(--gap-xl);
}
.confirmation__countdownMobile_pteqq.confirmation__countdownMobile_pteqq {
    margin-bottom: var(--gap-l);
}
.confirmation__countdownLoaderMobile_pteqq.confirmation__countdownLoaderMobile_pteqq {
    margin-bottom: var(--gap-m);
}
.confirmation__getCodeButton_pteqq {
    position: relative;
    top: var(--gap-2xs-neg);
    margin-bottom: var(--gap-m);
}
.confirmation__getCodeButtonMobile_pteqq {
    margin-bottom: 0;
}
.confirmation__containerInput_pteqq {
    min-height: 80px;
}
