/* hash: cp1al */
:root {
    --color-light-bg-tertiary: #e7e9eb;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-graphic-secondary: #6d7986;
    --color-light-graphic-tertiary: #b6bcc3;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    /* bg */
    --circular-progress-bar-bg-color: var(--color-light-bg-tertiary);

    /* positive */
    --circular-progress-bar-positive-color: var(--color-light-graphic-positive);

    /* negative */
    --circular-progress-bar-negative-color: var(--color-light-graphic-negative);

    /* theme */
    --circular-progress-bar-font-family: var(--font-family-system);
    --circular-progress-bar-font-weight: 600;
}
.circular-progress-bar__component_17fl7 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circular-progress-bar__svg_17fl7 {
    display: block;
    width: 100%;
}
.circular-progress-bar__title_17fl7,
.circular-progress-bar__subtitle_17fl7 {
    overflow: hidden;
    word-break: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 6px;
}
.circular-progress-bar__subtitle_17fl7 {
    max-height: 40px;
}
.circular-progress-bar__labelWrapper_17fl7 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%)
}
.circular-progress-bar__labelWrapper_17fl7.circular-progress-bar__label_17fl7 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
.circular-progress-bar__typography_17fl7 {
    font-feature-settings: 'ss01';
    font-weight: var(--circular-progress-bar-font-weight);
    font-family: var(--circular-progress-bar-font-family);
}
.circular-progress-bar__xxl_17fl7 {
    width: 144px;
    height: 144px
}
.circular-progress-bar__xxl_17fl7 .circular-progress-bar__labelWrapper_17fl7 {
        max-width: 128px;
    }
.circular-progress-bar__xxl_17fl7 .circular-progress-bar__title_17fl7 {
        max-height: 32px;
    }
.circular-progress-bar__xl_17fl7 {
    width: 128px;
    height: 128px
}
.circular-progress-bar__xl_17fl7 .circular-progress-bar__labelWrapper_17fl7 {
        max-width: 108px;
    }
.circular-progress-bar__xl_17fl7 .circular-progress-bar__title_17fl7 {
        max-height: 32px;
    }
.circular-progress-bar__l_17fl7 {
    width: 80px;
    height: 80px
}
.circular-progress-bar__l_17fl7 .circular-progress-bar__labelWrapper_17fl7 {
        max-width: 64px;
    }
.circular-progress-bar__l_17fl7 .circular-progress-bar__title_17fl7 {
        max-height: 24px;
    }
.circular-progress-bar__m_17fl7 {
    width: 64px;
    height: 64px
}
.circular-progress-bar__m_17fl7 .circular-progress-bar__labelWrapper_17fl7 {
        max-width: 48px;
    }
.circular-progress-bar__m_17fl7 .circular-progress-bar__title_17fl7 {
        max-height: 16px;
        margin: 0;
    }
.circular-progress-bar__s_17fl7 {
    width: 48px;
    height: 48px
}
.circular-progress-bar__s_17fl7 .circular-progress-bar__labelWrapper_17fl7 {
        max-width: 40px;
    }
.circular-progress-bar__s_17fl7 .circular-progress-bar__title_17fl7 {
        max-height: 16px;
        margin: 0;
    }
.circular-progress-bar__xs_17fl7 {
    width: 24px;
    height: 24px
}
.circular-progress-bar__xs_17fl7 .circular-progress-bar__labelWrapper_17fl7 {
        max-width: 24px;
    }
.circular-progress-bar__backgroundCircle_17fl7,
.circular-progress-bar__progressCircle_17fl7 {
    width: 100%;
    height: 100%;
    fill: transparent;
}
.circular-progress-bar__positive_17fl7 {
    stroke: var(--circular-progress-bar-positive-color);
}
.circular-progress-bar__negative_17fl7 {
    stroke: var(--circular-progress-bar-negative-color);
}
.circular-progress-bar__backgroundCircle_17fl7 {
    stroke: var(--circular-progress-bar-bg-color)
}
.circular-progress-bar__backgroundCircle_17fl7.circular-progress-bar__stroke_17fl7 {
        stroke: transparent;
    }
.circular-progress-bar__progressCircle_17fl7 {
    stroke-linecap: round
}
.circular-progress-bar__progressCircle_17fl7.circular-progress-bar__bg-positive_17fl7 {
        fill: var(--circular-progress-bar-positive-color);
    }
.circular-progress-bar__progressCircle_17fl7.circular-progress-bar__bg-negative_17fl7 {
        fill: var(--circular-progress-bar-negative-color);
    }
.circular-progress-bar__iconWrapper_17fl7 {
    display: flex;
    align-items: center;
    justify-content: center
}
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__xxl_17fl7 {
        max-width: 64px;
        max-height: 64px;
    }
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__xl_17fl7 {
        max-width: 64px;
        max-height: 64px;
    }
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__l_17fl7 {
        max-width: 48px;
        max-height: 48px;
    }
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__m_17fl7 {
        max-width: 36px;
        max-height: 36px;
    }
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__s_17fl7 {
        max-width: 24px;
        max-height: 24px;
    }
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__xs_17fl7 {
        max-width: 16px;
        max-height: 16px;
    }
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__icon-tertiary_17fl7 {
        color: var(--color-light-graphic-tertiary);
    }
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__icon-positive_17fl7 {
        color: var(--color-light-graphic-positive);
    }
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__icon-negative_17fl7 {
        color: var(--color-light-graphic-negative);
    }
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__icon-primary-inverted_17fl7 {
        color: var(--color-light-graphic-primary-inverted);
    }
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__icon-primary_17fl7 {
        color: var(--color-light-graphic-primary);
    }
.circular-progress-bar__iconWrapper_17fl7.circular-progress-bar__icon-secondary_17fl7 {
        color: var(--color-light-graphic-secondary);
    }
.circular-progress-bar__icon_17fl7 {
    width: 100%;
    height: 100%;
}
