:root {
    --color-light-text-primary: #0b1f35;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    /* desktop */

    /* mobile */

    /* text */
    --confirmation-text-font-size: 16px;
    --confirmation-text-line-height: 24px;
    --confirmation-text-font-weight: 400;
    --confirmation-text-font-family: var(--font-family-system);
    --confirmation-text-color: var(--color-light-text-primary)

    /* header */
}
.component {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.component span:last-of-type {
        margin-bottom: 0;
    }
.center {
    align-items: center;
    text-align: center;
}
.text.text {
    margin-bottom: var(--gap-xl);
}
.typographyTheme.typographyTheme {
    font-size: var(--confirmation-text-font-size);
    line-height: var(--confirmation-text-line-height);
    font-weight: var(--confirmation-text-font-weight);
    font-family: var(--confirmation-text-font-family);
    color: var(--confirmation-text-color);
}
.phonesWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap-xl);
}
.phoneWrap {
    margin-bottom: var(--gap-xs)
}
.phoneWrap:last-child {
        margin-bottom: 0;
    }
.phoneLink.phoneLink {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.hintButton {
    margin-top: var(--gap-2xl);
}
.phoneContentMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
