/* hash: 12gay */
:root {
    --color-light-border-primary: #dbdee1;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-m: 16px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
}
.table__component_14fx1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: var(--gap-xl) var(--gap-m) var(--gap-2xl);
    border-top: 1px solid var(--color-light-border-primary);
    box-sizing: border-box;
}
.table__pagesWrapper_14fx1 {
    display: flex;
}
.table__tag_14fx1.table__tag_14fx1 {
    flex-shrink: 0;
    margin-right: var(--gap-xs);
    padding: 0 var(--gap-xs);
    min-width: 32px
}
.table__tag_14fx1.table__tag_14fx1:last-child {
        margin-right: 0;
    }
.table__tag_14fx1.table__tag_14fx1.table__tagActive_14fx1 {
        cursor: default;
    }
.table__menu_14fx1 {
    margin: var(--gap-2xs) 0;
}
.table__option_14fx1 {
    min-width: 208px;
}
