/* hash: 1a193 */
:root {
    --color-light-text-negative: #d91d0b;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-l: 20px;
    --gap-3xl: 40px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {
    /* title */
    --confirmation-title-font-size: 22px;
    --confirmation-title-line-height: 26px;
    --confirmation-title-font-weight: 700;
    --confirmation-title-font-family: var(--font-family-system);
    --confirmation-title-color: var(--color-light-text-primary);
    --confirmation-title-font-feature-settings: normal;

    /* text */
    --confirmation-text-font-size: 16px;
    --confirmation-text-line-height: 24px;
    --confirmation-text-font-weight: 400;
    --confirmation-text-font-family: var(--font-family-system);
    --confirmation-text-color: var(--color-light-text-secondary);

    /* error */
    --confirmation-error-color: var(--color-light-text-negative);

    /* input */
}
.confirmation-v1__component_19wlo {
    display: flex;
    flex-direction: column;
}
.confirmation-v1__countdown_19wlo {
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.15s ease;
}
.confirmation-v1__hidden_19wlo {
    opacity: 0;
    max-height: 0;
}
.confirmation-v1__header_19wlo {
    font-size: var(--confirmation-title-font-size);
    line-height: var(--confirmation-title-line-height);
    font-weight: var(--confirmation-title-font-weight);
    font-family: var(--confirmation-title-font-family);
    color: var(--confirmation-title-color);
    font-feature-settings: var(--confirmation-title-font-feature-settings);

    margin-bottom: var(--gap-3xl);
    color: var(--confirmation-title-color);
}
.confirmation-v1__inputContainer_19wlo {
    display: flex;
    flex-direction: column;
}
.confirmation-v1__smsComeLinkWrap_19wlo {
    margin-top: var(--gap-l);
}
.confirmation-v1__smsComeLink_19wlo {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.confirmation-v1__error_19wlo {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    margin-top: var(--gap-xs);
    color: var(--confirmation-error-color);
}
.confirmation-v1__loaderWrap_19wlo {
    display: flex;
    align-items: center;
    margin: var(--gap-3xl) 0 var(--gap-xs);
}
.confirmation-v1__loaderText_19wlo {
    font-size: var(--confirmation-text-font-size);
    line-height: var(--confirmation-text-line-height);
    font-weight: var(--confirmation-text-font-weight);
    font-family: var(--confirmation-text-font-family);
    color: var(--confirmation-text-color);

    margin-left: var(--gap-s);
    color: var(--confirmation-text-color);
}
.confirmation-v1__center_19wlo .confirmation-v1__codeInput_19wlo,
    .confirmation-v1__center_19wlo .confirmation-v1__loaderWrap_19wlo {
        justify-content: center;
    }
