/* hash: big5n */
:root {
    --color-light-specialbg-secondary-transparent: rgba(11, 31, 53, 0.05);
    --color-light-specialbg-tertiary-transparent: rgba(11, 31, 53, 0.1);
    --color-light-text-primary: #0b1f35;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --border-radius-circle: 50%;
}
:root {
    --button-bg-color: var(--color-light-specialbg-secondary-transparent);
    --button-bg-color-active: var(--color-light-specialbg-tertiary-transparent);
}
.pass-code__component_1y7g6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.pass-code__button_1y7g6.pass-code__button_1y7g6 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;

    border-radius: var(--border-radius-circle);
    padding: 0;
    min-width: 64px;
    width: 64px;
    height: 64px;
    text-align: center
}
.pass-code__button_1y7g6.pass-code__button_1y7g6 > span {
        vertical-align: middle
    }
.pass-code__button_1y7g6.pass-code__button_1y7g6 > span > * {
            vertical-align: middle;
        }
.pass-code__secondary_1y7g6.pass-code__secondary_1y7g6 {
    color: var(--color-light-text-primary);
    background: var(--button-bg-color)
}
.pass-code__secondary_1y7g6.pass-code__secondary_1y7g6:hover {
        color: var(--color-light-text-primary);
    }
.pass-code__secondary_1y7g6.pass-code__secondary_1y7g6:active {
        background: var(--button-bg-color-active);
    }
.pass-code__ghost_1y7g6.pass-code__ghost_1y7g6 {
    color: var(--color-light-text-primary)
}
.pass-code__ghost_1y7g6.pass-code__ghost_1y7g6:hover {
        color: var(--color-light-text-primary);
    }
.pass-code__ghost_1y7g6.pass-code__ghost_1y7g6:active {
        background: var(--button-bg-color-active);
    }
@media screen and (min-width: 360px) {
    .pass-code__button_1y7g6.pass-code__button_1y7g6 {
        min-width: 76px;
        height: 76px;
        width: 76px;
    }
}
@media screen and (min-width: 390px) {
    .pass-code__button_1y7g6.pass-code__button_1y7g6 {
        min-width: 86px;
        width: 86px;
        height: 86px;
    }
}
