/* hash: n2dc9 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.cdn-icon__component_osgab {
    display: inline-flex;
}
.cdn-icon__component_osgab svg {
    fill: currentColor;
}
.cdn-icon__component_osgab path {
    fill: inherit;
}
