/* hash: 1n0zh */
:root {
    --color-light-border-link: #007aff;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-positive: #2fc26e;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
}
:root {
    --focus-color: var(--color-light-border-link);
    --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
    --disabled-cursor: not-allowed;
    --size-s-height: 48px;
    --size-m-height: 56px;
    --size-l-height: 64px;
    --size-xl-height: 72px;
}
:root {

    /* disabled */

    /* focus */

    /* hover */

    /* error */

    /* height */
    --form-control-s-min-height: var(--size-s-height);
    --form-control-m-min-height: var(--size-m-height);
    --form-control-l-min-height: var(--size-l-height);
    --form-control-xl-min-height: var(--size-xl-height);

    /* paddings */

    /* disabled */

    /* font */
    --form-control-font-family: var(--font-family);

    /* border-radius */
}
:root {

    /* disabled */

    /* read-only */

    /* error */

    /* display */
    --input-error-icon-display: none;
    --input-success-icon-display: block;

    /* управляет видимостью иконки ошибки, если она стоит рядом с другой иконкой */
    --input-error-icon-not-alone-display: none;
}
.input__input_1r9af {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    margin: 0;
    outline: none;
    text-overflow: ellipsis;
    box-sizing: border-box;
    -webkit-appearance: none;
}
.input__input_1r9af::placeholder {
    transition: opacity 0.2s ease, color 0.2s ease;
}
.input__hasInnerLabel_1r9af::placeholder {
        opacity: 0;
    }
.input__hasInnerLabel_1r9af.input__s_1r9af {
        height: var(--form-control-s-min-height);
    }
.input__hasInnerLabel_1r9af.input__m_1r9af {
        height: var(--form-control-m-min-height);
    }
.input__hasInnerLabel_1r9af.input__l_1r9af {
        height: var(--form-control-l-min-height);
    }
.input__hasInnerLabel_1r9af.input__xl_1r9af {
        height: var(--form-control-xl-min-height);
    }
.input__block_1r9af {
    width: 100%;
}
.input__clearIcon_1r9af {
    display: block;
    opacity: 0.3;
    transition: opacity 0.2s ease
}
.input__clearIcon_1r9af:hover {
        opacity: 0.6;
    }
.input__clearIcon_1r9af:active {
        opacity: 1;
    }
.input__errorIcon_1r9af {
    display: var(--input-error-icon-display)
}
.input__errorIcon_1r9af:not(:only-child) {
        margin-left: var(--gap-2xs);
    }
* + .input__errorIcon_1r9af {
    display: var(--input-error-icon-not-alone-display);
}
.input__errorColorIcon_1r9af {
    color: var(--color-light-graphic-negative);
}
.input__clearButton_1r9af + * {
    margin-left: var(--gap-2xs);
}
.input__clearButton_1r9af + .input__errorIcon_1r9af {
    display: var(--input-error-icon-display);
}
.input__successIcon_1r9af {
    display: var(--input-success-icon-display)
}
.input__successIcon_1r9af:not(:only-child) {
        margin-left: var(--gap-2xs);
    }
.input__successColorIcon_1r9af {
    color: var(--color-light-graphic-positive);
}
/* DISABLED STATE */
.input__input_1r9af:disabled {
    cursor: var(--disabled-cursor);
    opacity: 1;
}
/* FOCUS STATE */
.input__input_1r9af:focus.input__hasInnerLabel_1r9af::placeholder {
    opacity: 1;
}
.input__focusVisible_1r9af {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
/* READ-ONLY STATE */
.input__hasInnerLabel_1r9af:read-only:focus::placeholder {
    opacity: 0;
}
/* IE hide clear */
.input__input_1r9af::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
/* Убирает синюю заливку при автокомплите */
.input__input_1r9af:-webkit-autofill:first-line, .input__input_1r9af:-webkit-autofill:hover:first-line, .input__input_1r9af:-webkit-autofill:focus:first-line, .input__input_1r9af:-webkit-autofill:active:first-line {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            font-family: var(--form-control-font-family);
        }
.input__input_1r9af:-webkit-autofill,
    .input__input_1r9af:-webkit-autofill:hover,
    .input__input_1r9af:-webkit-autofill:focus,
    .input__input_1r9af:-webkit-autofill:active {

        /* Hack from http://stackoverflow.com/a/29350537 */
        -webkit-transition: background-color 999999s ease-in-out 0s;
        transition: background-color 999999s ease-in-out 0s;
    }
.input__input_1r9af:-webkit-autofill {
        animation: input__onautofillstart_1r9af 999999s forwards;
    }
.input__input_1r9af:not(:-webkit-autofill) {
        /* Позволяет отслеживать autofill через js */
        animation: input__onautofillcancel_1r9af 999999s;
    }
/* Убирает нативные стрелочки при type=number */
.input__input_1r9af::-webkit-outer-spin-button,
    .input__input_1r9af::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
.input__input_1r9af {

    /* Firefox */
}
.input__input_1r9af[type='number'] {
        -moz-appearance: textfield;
    }
@keyframes input__onautofillstart_1r9af {
    from {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    to {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.01);
    }
}
@keyframes input__onautofillcancel_1r9af {
    from {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    to {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.01);
    }
}
