/* hash: n03r7 */
:root {
    --color-light-border-link: #007aff;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --focus-color: var(--color-light-border-link);
    --disabled-cursor: not-allowed;
}
:root {
    --select-arrow-hover-opacity: 0.7;

    /* options list */

    /* option */

    /* checkmark */

    /* optgroup */
}
.select__component_1kuji {
    width: 100%;
    outline: none;
}
.select__field_1kuji:not(.select__disabled_1kuji) {
    cursor: pointer
}
.select__field_1kuji:not(.select__disabled_1kuji):hover .select__arrow_1kuji {
            opacity: var(--select-arrow-hover-opacity);
        }
.select__disabled_1kuji {
    cursor: var(--disabled-cursor);
}
/* TODO: Заюзать переменные из инпута */
.select__placeholder_1kuji {
    color: var(--color-light-text-secondary);
}
.select__contentWrapper_1kuji {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.select__value_1kuji {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.select__focusVisible_1kuji {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
