/* hash: yj3f9 */
:root {
    --color-light-bg-primary-inverted: #0b1f35;
    --color-light-text-primary-inverted: #fff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-m: 16px;
}
:root {
    /* border */

    /* background-color */
    --tag-background-color-checked: var(--color-light-bg-primary-inverted);

    /* text color */
    --tag-text-color-checked: var(--color-light-text-primary-inverted);

    /* inverted */

    /* border */

    /* background-color */

    /* text color */
}
.select-with-tags__tag_m6n5j {
    padding: 0;
    padding-left: var(--gap-m);
    margin: var(--gap-2xs);
    cursor: default
}
.select-with-tags__tag_m6n5j:active:not(:disabled) {
        background-color: var(--tag-background-color-checked);
        color: var(--tag-text-color-checked);
    }
.select-with-tags__tag_m6n5j:hover:not(:disabled):not(:active) {
        background-color: var(--tag-background-color-checked);
        color: var(--tag-text-color-checked);
    }
.select-with-tags__tag_m6n5j > span {
        width: 100%;
        height: 100%;
    }
.select-with-tags__tagNoClose_m6n5j {
    padding-right: var(--gap-m);
}
.select-with-tags__tagContentWrap_m6n5j {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
.select-with-tags__tagCross_m6n5j {
    padding-right: var(--gap-xs);
    height: 100%
}
.select-with-tags__tagCross_m6n5j:hover {
        opacity: 0.7;
    }
.select-with-tags__tagCross_m6n5j:active {
        opacity: 0.5;
    }
.select-with-tags__tagCross_m6n5j svg {
        height: 100%;
    }
