/* hash: 1gs87 */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-xl: 24px;
}
.generic-wrapper__component_11ffm {
    display: flex;
}
.generic-wrapper__column_11ffm {
    display: flex;
    flex-direction: column;
}
.generic-wrapper__align-stretch_11ffm {
    align-items: stretch;
}
.generic-wrapper__align-start_11ffm {
    align-items: flex-start;
}
.generic-wrapper__align-end_11ffm {
    align-items: flex-end;
}
.generic-wrapper__align-center_11ffm {
    align-items: center;
}
.generic-wrapper__align-baseline_11ffm {
    align-items: baseline;
}
.generic-wrapper__justify-center_11ffm {
    justify-content: center;
}
.generic-wrapper__justify-between_11ffm {
    justify-content: space-between;
}
.generic-wrapper__justify-around_11ffm {
    justify-content: space-around;
}
.generic-wrapper__justify-evenly_11ffm {
    justify-content: space-evenly;
}
.generic-wrapper__justify-start_11ffm {
    justify-content: flex-start;
}
.generic-wrapper__justify-end_11ffm {
    justify-content: flex-end;
}
.generic-wrapper__grow_11ffm {
    flex-grow: 1;
}
.generic-wrapper__padding-top-3xs_11ffm {
        padding-top: var(--gap-3xs);
    }
.generic-wrapper__padding-top-2xs_11ffm {
        padding-top: var(--gap-2xs);
    }
.generic-wrapper__padding-top-xs_11ffm {
        padding-top: var(--gap-xs);
    }
.generic-wrapper__padding-top-s_11ffm {
        padding-top: var(--gap-s);
    }
.generic-wrapper__padding-top-m_11ffm {
        padding-top: var(--gap-m);
    }
.generic-wrapper__padding-top-l_11ffm {
        padding-top: var(--gap-l);
    }
.generic-wrapper__padding-top-xl_11ffm {
        padding-top: var(--gap-xl);
    }
.generic-wrapper__padding-right-3xs_11ffm {
        padding-right: var(--gap-3xs);
    }
.generic-wrapper__padding-right-2xs_11ffm {
        padding-right: var(--gap-2xs);
    }
.generic-wrapper__padding-right-xs_11ffm {
        padding-right: var(--gap-xs);
    }
.generic-wrapper__padding-right-s_11ffm {
        padding-right: var(--gap-s);
    }
.generic-wrapper__padding-right-m_11ffm {
        padding-right: var(--gap-m);
    }
.generic-wrapper__padding-right-l_11ffm {
        padding-right: var(--gap-l);
    }
.generic-wrapper__padding-right-xl_11ffm {
        padding-right: var(--gap-xl);
    }
.generic-wrapper__padding-bottom-3xs_11ffm {
        padding-bottom: var(--gap-3xs);
    }
.generic-wrapper__padding-bottom-2xs_11ffm {
        padding-bottom: var(--gap-2xs);
    }
.generic-wrapper__padding-bottom-xs_11ffm {
        padding-bottom: var(--gap-xs);
    }
.generic-wrapper__padding-bottom-s_11ffm {
        padding-bottom: var(--gap-s);
    }
.generic-wrapper__padding-bottom-m_11ffm {
        padding-bottom: var(--gap-m);
    }
.generic-wrapper__padding-bottom-l_11ffm {
        padding-bottom: var(--gap-l);
    }
.generic-wrapper__padding-bottom-xl_11ffm {
        padding-bottom: var(--gap-xl);
    }
.generic-wrapper__padding-left-3xs_11ffm {
        padding-left: var(--gap-3xs);
    }
.generic-wrapper__padding-left-2xs_11ffm {
        padding-left: var(--gap-2xs);
    }
.generic-wrapper__padding-left-xs_11ffm {
        padding-left: var(--gap-xs);
    }
.generic-wrapper__padding-left-s_11ffm {
        padding-left: var(--gap-s);
    }
.generic-wrapper__padding-left-m_11ffm {
        padding-left: var(--gap-m);
    }
.generic-wrapper__padding-left-l_11ffm {
        padding-left: var(--gap-l);
    }
.generic-wrapper__padding-left-xl_11ffm {
        padding-left: var(--gap-xl);
    }
