:root {
    --color-light-text-link: #007aff;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
    --color-light-text-link-shade-20: rgb(0, 98, 204);
    --color-light-text-link-shade-40: rgb(0, 73, 153);
    --color-light-text-primary-shade-20: rgb(9, 25, 42);
    --color-light-text-primary-shade-40: rgb(7, 19, 32);
    --color-light-text-secondary-shade-20: rgba(9, 25, 42, 0.76);
    --color-light-text-secondary-shade-40: rgba(7, 19, 32, 0.82);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    /* primary */
    --link-primary-color: var(--color-light-text-primary);
    --link-primary-hover-color: var(--color-light-text-primary-shade-20);
    --link-primary-active-color: var(--color-light-text-primary-shade-40);

    /* secondary */
    --link-secondary-color: var(--color-light-text-secondary);
    --link-secondary-hover-color: var(--color-light-text-secondary-shade-20);
    --link-secondary-active-color: var(--color-light-text-secondary-shade-40);

    /* default */
    --link-default-color: var(--color-light-text-link);
    --link-default-hover-color: var(--color-light-text-link-shade-20);
    --link-default-active-color: var(--color-light-text-link-shade-40);
}
.primary {
    color: var(--link-primary-color);
    border-bottom-color: var(--link-primary-color)
}
.primary:hover {
        color: var(--link-primary-hover-color);
    }
.primary:active {
        color: var(--link-primary-active-color);
    }
.secondary {
    color: var(--link-secondary-color);
    border-bottom-color: var(--link-secondary-color)
}
.secondary:hover {
        color: var(--link-secondary-hover-color);
    }
.secondary:active {
        color: var(--link-secondary-active-color);
    }
.defaultView {
    color: var(--link-default-color);
    border-bottom-color: var(--link-default-color)
}
.defaultView:hover {
        color: var(--link-default-hover-color);
    }
.defaultView:active {
        color: var(--link-default-active-color);
    }
