:root {
    --color-light-border-link: #007aff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
}
:root {
    --focus-color: var(--color-light-border-link);
    --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
.component {
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font-family);
    cursor: pointer;
    outline: none
}
.component:hover .text,
    .component:active .text {
        border-bottom-color: rgba(0, 0, 0, 0);
    }
.withAddons {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.text {
    border-bottom: 1px solid;
    transition: border 0.2s ease, color 0.2s ease;
}
.focused {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
.pseudo {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font: inherit;
}
.pseudo .text {
    border-bottom-style: dashed;
}
.withoutUnderline .text {
    border-bottom: none;
}
.addons {
    display: flex;
    align-items: center;
    transition: color 0.2s ease;
}
.addons:first-child {
    margin-right: var(--gap-xs);
}
.addons:last-child {
    margin-left: var(--gap-2xs);
}
.addons:only-child {
    margin-right: 0;
    margin-left: 0;
}
