:root {
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
}
:root {
    --font-family-system: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
}
:root {

    /* Кнопки выбора месяцев и годов */

    /* Шапка */
    --calendar-month-only-header-font-family: var(--font-family-system);
    --calendar-month-only-header-font-size: 18px;
    --calendar-month-only-header-font-weight: 500;

    /* День */

    /* today */

    /* highlighted */

    /* holidays */

    /* range */

    /* selected */

    /* disabled */

    /* marker */
}
.component {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.period {
    font-family: var(--calendar-month-only-header-font-family);
    font-size: var(--calendar-month-only-header-font-size);
    font-weight: var(--calendar-month-only-header-font-weight);
    line-height: 24px;
    text-align: center
}
@media (max-width: 374px) {
.period {
        width: auto;
        flex-grow: 1
}
    }
.empty {
    color: var(--color-light-text-secondary);
}
.arrow {
    position: absolute;
    top: 4px
}
.arrow:first-child {
        left: 0;
    }
.arrow:last-child {
        right: 0;
        transform: rotateY(180deg);
    }
@media (max-width: 374px) {
.full .arrow {
        display: none
}
    }
.yearSelectorButton {
    margin-left: var(--gap-xs);
}
