/* hash: ykjby */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xl: 32px;
}
:root {

    /* sizes */

    /* paddings */
    --side-panel-s-content-paddings: 0 56px;

    /* scroll */

    /* desktop */

    /* mobile */
}
.side-panel__s_8a8xv {
    padding: var(--side-panel-s-content-paddings)
}
.side-panel__s_8a8xv:last-child {
        padding-bottom: var(--gap-2xl);
    }
