/* hash: infkj */
:root {
    --color-light-border-accent: #ef3124;
    --color-light-border-underline: #b6bcc3;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --border-radius-s: 4px;
}
:root {
    --disabled-cursor: not-allowed;
}
:root {
    --dropzone-active-bg: transparent;
    --dropzone-border-radius: var(--border-radius-s);
}
.dropzone__component_kn1mc {
    display: inline-block;
    position: relative;
    transition: border-color 0.2s ease, background-color 0.2s ease;
    border-radius: var(--dropzone-border-radius);
    border: 2px dashed var(--color-light-border-underline);
}
.dropzone__disabled_kn1mc {
    cursor: var(--disabled-cursor);
}
.dropzone__component_kn1mc:not(.dropzone__disabled_kn1mc):hover {
    background-color: var(--dropzone-active-bg);
}
.dropzone__block_kn1mc {
    width: 100%;
}
.dropzone__dragOver_kn1mc {
    background-color: var(--dropzone-active-bg);
}
.dropzone__error_kn1mc {
    border-color: var(--color-light-border-accent);
}
