/* hash: 4tf1o */
:root {
    --shadow-m: 0 0 16px rgba(11, 31, 53, 0.08), 0 8px 16px rgba(11, 31, 53, 0.16);

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xl: 32px;
}
:root {
    --border-radius-m: 8px;
}
:root {
    /* default */
    --toast-plate-border-radius: var(--border-radius-m);

    /* inverted */
}
:root {
    --toast-box-shadow: var(--shadow-m);
}
.toast__toastPlate_uykqw {
    box-shadow: var(--toast-box-shadow);
    word-break: break-word;
}
.toast__title_uykqw {
    font-weight: 400;
}
.toast__popoverInner_uykqw {
    border: none;
    border-radius: var(--toast-plate-border-radius);
    box-shadow: var(--toast-box-shadow);
    background-color: transparent;
}
.toast__block_uykqw {
    width: 100%;
}
.toast__fixed_uykqw {
    position: fixed;
    bottom: var(--gap-2xl);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out
}
.toast__fixed_uykqw.toast__enter_uykqw {
        opacity: 0;
        transform: scale(0.98);
    }
.toast__fixed_uykqw.toast__enterActive_uykqw {
        opacity: 1;
        transform: scale(1);
    }
.toast__fixed_uykqw.toast__exit_uykqw {
        opacity: 1;
        transform: scale(1);
    }
.toast__fixed_uykqw.toast__exitActive_uykqw {
        opacity: 0;
        transform: scale(0.98);
    }
