/* stylelint-disable comment-empty-line-before */
.row.gutter-8 {
        /* prettier-ignore */
        margin-left: calc(-8px / 2);

        /* prettier-ignore */
        margin-right: calc(-8px / 2)
    }
.row.gutter-8 > .col {
            /* prettier-ignore */
            padding-left: calc(8px / 2);

            /* prettier-ignore */
            padding-right: calc(8px / 2);
        }
.row.gutter-16 {
        /* prettier-ignore */
        margin-left: calc(-16px / 2);

        /* prettier-ignore */
        margin-right: calc(-16px / 2)
    }
.row.gutter-16 > .col {
            /* prettier-ignore */
            padding-left: calc(16px / 2);

            /* prettier-ignore */
            padding-right: calc(16px / 2);
        }
.row.gutter-24 {
        /* prettier-ignore */
        margin-left: calc(-24px / 2);

        /* prettier-ignore */
        margin-right: calc(-24px / 2)
    }
.row.gutter-24 > .col {
            /* prettier-ignore */
            padding-left: calc(24px / 2);

            /* prettier-ignore */
            padding-right: calc(24px / 2);
        }
@media (max-width: 599px) {
            .row.gutter-mobile-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-mobile-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-mobile-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-mobile-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-mobile-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-mobile-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
@media (min-width: 360px) {
            .row.gutter-mobile-s-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-mobile-s-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-mobile-s-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-mobile-s-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-mobile-s-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-mobile-s-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
@media (min-width: 375px) {
            .row.gutter-mobile-m-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-mobile-m-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-mobile-m-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-mobile-m-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-mobile-m-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-mobile-m-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
@media (min-width: 412px) {
            .row.gutter-mobile-l-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-mobile-l-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-mobile-l-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-mobile-l-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-mobile-l-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-mobile-l-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
@media (min-width: 600px) and (max-width: 1023px) {
            .row.gutter-tablet-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-tablet-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-tablet-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-tablet-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-tablet-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-tablet-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
@media (min-width: 600px) {
            .row.gutter-tablet-s-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-tablet-s-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-tablet-s-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-tablet-s-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-tablet-s-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-tablet-s-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
@media (min-width: 768px) {
            .row.gutter-tablet-m-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-tablet-m-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-tablet-m-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-tablet-m-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-tablet-m-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-tablet-m-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
@media (min-width: 1024px) {
            .row.gutter-desktop-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-desktop-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-desktop-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-desktop-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-desktop-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-desktop-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
@media (min-width: 1024px) {
            .row.gutter-desktop-s-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-desktop-s-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-desktop-s-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-desktop-s-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-desktop-s-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-desktop-s-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
@media (min-width: 1280px) {
            .row.gutter-desktop-m-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-desktop-m-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-desktop-m-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-desktop-m-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-desktop-m-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-desktop-m-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
@media (min-width: 1440px) {
            .row.gutter-desktop-l-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-desktop-l-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-desktop-l-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-desktop-l-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-desktop-l-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-desktop-l-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
@media (min-width: 1920px) {
            .row.gutter-desktop-xl-8 {
                /* prettier-ignore */
                margin-left: calc(-8px / 2);

                /* prettier-ignore */
                margin-right: calc(-8px / 2)
            }

                .row.gutter-desktop-xl-8 > .col {
                    /* prettier-ignore */
                    padding-left: calc(8px / 2);

                    /* prettier-ignore */
                    padding-right: calc(8px / 2);
                }
            .row.gutter-desktop-xl-16 {
                /* prettier-ignore */
                margin-left: calc(-16px / 2);

                /* prettier-ignore */
                margin-right: calc(-16px / 2)
            }

                .row.gutter-desktop-xl-16 > .col {
                    /* prettier-ignore */
                    padding-left: calc(16px / 2);

                    /* prettier-ignore */
                    padding-right: calc(16px / 2);
                }
            .row.gutter-desktop-xl-24 {
                /* prettier-ignore */
                margin-left: calc(-24px / 2);

                /* prettier-ignore */
                margin-right: calc(-24px / 2)
            }

                .row.gutter-desktop-xl-24 > .col {
                    /* prettier-ignore */
                    padding-left: calc(24px / 2);

                    /* prettier-ignore */
                    padding-right: calc(24px / 2);
                }
    }
