/* hash: 1v0s7 */
:root {
    --color-light-graphic-primary: #0b1f35;
    --color-light-bg-primary-inverted-alpha-3: rgba(11, 31, 53, 0.03);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --bottom-sheet-backer-bg-color: var(--color-light-bg-primary-inverted-alpha-3);
}
.bottom-sheet__backer_1k990 {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-light-graphic-primary);
}
.bottom-sheet__button_1k990 {
    background: var(--bottom-sheet-backer-bg-color);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 50px;
}
