/* hash: 5j49g */
:root {
    --color-light-text-primary: #0b1f35;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-l: 20px;
}
:root {
    --list-marker-color: var(--color-light-text-primary);
    --list-item-margin: var(--gap-s);
}
.list__list_keujd {
    margin: 0;
    padding: 0;
    color: var(--color-light-text-primary);

    font-size: 16px;

    line-height: 24px;

    font-weight: 400;
}
.list__orderedList_keujd {
    padding-left: var(--gap-l);
}
.list__lowerAlpha_keujd {
    list-style-type: lower-alpha;
}
.list__decimal_keujd {
    list-style-type: decimal;
}
.list__item_keujd {
    margin-top: var(--list-item-margin)
}
.list__item_keujd:first-child {
        margin-top: 0;
    }
.list__unorderedItem_keujd {
    display: flex;
}
.list__orderedItem_keujd {
    padding-left: var(--gap-2xs);
}
.list__slot_keujd {
    margin-right: var(--gap-xs);
    color: var(--list-marker-color);
}
