/* hash: 1thvb */
:root {
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {

    /* disabled */
    --input-disabled-color: var(--color-light-text-secondary);

    /* read-only */
    --input-read-only-color: var(--color-light-text-secondary);

    /* error */

    /* display */

    /* управляет видимостью иконки ошибки, если она стоит рядом с другой иконкой */
}
.with-suffix__suffixContainer_1bn4d {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    display: none;
    pointer-events: none;
}
input:focus:not(:read-only) + .with-suffix__suffixContainer_1bn4d,
.with-suffix__suffixVisible_1bn4d .with-suffix__suffixContainer_1bn4d {
    display: inline-flex;
}
.with-suffix__hasSuffix_1bn4d input:focus::placeholder {
    color: transparent;
    transition: none;
}
.with-suffix__spacer_1bn4d {
    visibility: hidden;
    flex-shrink: 0;
    white-space: pre;
}
.with-suffix__suffix_1bn4d {
    white-space: pre;
}
.with-suffix__disabled_1bn4d {
    color: var(--input-disabled-color);
}
.with-suffix__readOnly_1bn4d {
    color: var(--input-read-only-color);
}
