/* hash: 190df */
.typography__component_1c381 {
    margin: 0;
    padding: 0
}
.typography__component_1c381.typography__bold_1c381 {
        font-weight: bold;
    }
.typography__component_1c381.typography__medium_1c381 {
        font-weight: 500;
    }
.typography__component_1c381.typography__regular_1c381 {
        font-weight: normal;
    }
