/* hash: 1lbdu */
:root {
    --color-light-bg-primary: #fff;
    --color-light-bg-secondary: #f3f4f5;
    --color-light-bg-tertiary: #e7e9eb;
    --color-light-border-primary: #dbdee1;
    --color-light-text-primary: #0b1f35;
    --color-light-text-secondary: rgba(11, 31, 53, 0.7);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-s: 12px;
    --gap-m: 16px;
}
:root {
    --disabled-cursor: not-allowed;
    --size-s-height: 48px;
    --size-m-height: 56px;
    --size-l-height: 64px;
    --size-xl-height: 72px;
}
:root {

    /* options list */
    --select-option-divider-display: none;
    --select-option-divider-background: var(--color-light-border-primary);

    /* option */

    --select-option-left-padding: var(--gap-s);
    --select-option-right-padding: var(--gap-s);
    --select-option-l-left-padding: var(--gap-m);
    --select-option-l-right-padding: var(--gap-m);
    --select-option-background: var(--color-light-bg-primary);
    --select-option-selected-background: var(--color-light-bg-primary);
    --select-option-hover-background: var(--color-light-bg-secondary);
    --select-option-active-background: var(--color-light-bg-tertiary);
    --select-option-disabled-background: var(--color-light-bg-primary);
    --select-option-color: var(--color-light-text-primary);
    --select-option-selected-color: var(--color-light-text-primary);
    --select-option-hover-color: var(--color-light-text-primary);
    --select-option-active-color: var(--color-light-text-primary);
    --select-option-disabled-color: var(--color-light-text-secondary);

    /* checkmark */

    /* optgroup */
}
.select__option_4qdvw {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    display: flex;
    align-items: center;
    padding-left: var(--select-option-left-padding);
    padding-right: var(--select-option-right-padding);
    transition: background-color 0.2s ease;
    background: var(--select-option-background);
    color: var(--select-option-color);
    box-sizing: border-box;
    position: relative;
    cursor: pointer
}
.select__option_4qdvw:not(.select__disabled_4qdvw):active {
        background: var(--select-option-active-background);
        color: var(--select-option-active-color);
    }
.select__option_4qdvw:before {
        content: '';
        position: absolute;
        left: var(--select-option-left-padding);
        right: var(--select-option-right-padding);
        top: 0;
        height: 1px;
        background: var(--select-option-divider-background);
        display: var(--select-option-divider-display);
        transition: opacity 0.2s ease;
    }
.select__option_4qdvw:first-child:before {
        display: none;
    }
.select__s_4qdvw {
    min-height: var(--size-s-height);
}
.select__m_4qdvw {
    min-height: var(--size-m-height);
}
.select__l_4qdvw {
    min-height: var(--size-l-height);
}
.select__xl_4qdvw {
    min-height: var(--size-xl-height);
}
.select__l_4qdvw,
.select__xl_4qdvw {
    padding-left: var(--select-option-l-left-padding);
    padding-right: var(--select-option-l-right-padding)
}
.select__l_4qdvw:before, .select__xl_4qdvw:before {
        left: var(--select-option-l-left-padding);
        right: var(--select-option-l-right-padding);
    }
.select__selected_4qdvw {
    background: var(--select-option-selected-background);
    color: var(--select-option-selected-color);
    cursor: default;
}
.select__highlighted_4qdvw {
    background: var(--select-option-hover-background);
    color: var(--select-option-hover-color)
}
.select__highlighted_4qdvw:before,
    .select__highlighted_4qdvw + .select__option_4qdvw:before {
        opacity: 0;
    }
.select__disabled_4qdvw {
    cursor: var(--disabled-cursor);
    background: var(--select-option-disabled-background);
    color: var(--select-option-disabled-color);
}
.select__content_4qdvw {
    overflow: hidden;
    flex: 1;
    text-overflow: ellipsis;
}
.select__textContent_4qdvw {
    padding-top: var(--gap-s);
    padding-bottom: var(--gap-s);
}
/* IE min-height fix */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .select__option_4qdvw:after {
        min-height: inherit;
        font-size: 0;
        content: '';
    }
}
