:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-m: 16px;
}
.bottomSheetInput {
    padding: 0 var(--gap-xs) var(--gap-xs);
    box-sizing: border-box;
}
.footer {
    display: flex
}
.footer > button + button {
        margin-left: var(--gap-m);
    }
