/* hash: 1sxvd */
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
/*
* Задача:
* 1) Отобразить символ валюты сразу за последним введенным символом
* 2) Не дать возможность попасть кареткой за валюту
* 3) Не дать выделить символ валюты при выделении денежного значения
* 4) Отображать символ валюты другим цветом
* 5) Отображать копейки другим цветом
*
* Решение
* Делаем скрытый текст где держим то же значение, добавляем символ валюты
* Важно расположить этот текст ровно на месте инпута и чтобы он имел те же параметры что и текст в инпуте
*/
.amount-input__container_osp33 {
    position: relative;
}
.amount-input__bold_osp33 .amount-input__input_osp33,
.amount-input__bold_osp33 .amount-input__suffixContainer_osp33 {
    font-weight: bold;
}
/* суффикс = текст в поле. Скрываем спейсер, чтобы суффикс выглядел как введенное в поле значение */
.amount-input__suffixContainer_osp33 > *:first-child {
    display: none;
}
.amount-input__filled_osp33 .amount-input__input_osp33,
.amount-input__input_osp33:focus {
    -webkit-text-fill-color: transparent;
}
