/* hash: 6ou5a */
:root {
    --color-static-text-primary-dark: #0b1f35;
    --color-static-text-primary-light: #fff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.custom-button__customButton_z7axf {
    overflow: hidden;
    position: relative
}
.custom-button__customButton_z7axf.custom-button__white_z7axf * {
        color: var(--color-static-text-primary-light);
    }
.custom-button__customButton_z7axf.custom-button__black_z7axf * {
        color: var(--color-static-text-primary-dark);
    }
.custom-button__customButton_z7axf span {
        position: relative;
        z-index: 3;
    }
.custom-button__customButton_z7axf:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        content: '';
        transition: 0.2s;
        opacity: 1;
        pointer-events: none;
    }
.custom-button__customButton_z7axf.custom-button__darkening_z7axf:hover:before {
            background-color: rgba(0, 0, 0, 0.07);
        }
.custom-button__customButton_z7axf.custom-button__darkening_z7axf:active:before {
            background-color: rgba(0, 0, 0, 0.15);
        }
.custom-button__customButton_z7axf.custom-button__lightening_z7axf:hover:before {
            background-color: rgba(255, 255, 255, 0.15);
        }
.custom-button__customButton_z7axf.custom-button__lightening_z7axf:active:before {
            background-color: rgba(255, 255, 255, 0.2);
        }
/* Disabled */
.custom-button__customButton_z7axf:disabled {
    opacity: 0.3
}
.custom-button__customButton_z7axf:disabled.custom-button__customLoading_z7axf {
        opacity: 1;
    }
.custom-button__customButton_z7axf:disabled.custom-button__white_z7axf * {
        color: var(--color-static-text-primary-light);
    }
.custom-button__customButton_z7axf:disabled.custom-button__black_z7axf * {
        color: var(--color-static-text-primary-dark);
    }
