/* hash: 1rbb0 */
:root {
    --color-light-bg-primary-alpha-40: rgba(255, 255, 255, 0.4);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xl: 40px;
}
:root {
    --modal-vertical-padding: var(--gap-3xl);

    /* sizes */

    /* paddings */

    /* scroll */

    /* desktop */

    /* mobile */
}
:root {
    --modal-closer-bg-color: var(--color-light-bg-primary-alpha-40);
}
.modal__closer_dywtt {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal__button_dywtt {
    background: var(--modal-closer-bg-color);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 50px;
}
.modal__sticky_dywtt {
    position: sticky;
    top: calc(var(--modal-vertical-padding) * -1);
}
