/* hash: eo9fc */
:root {
    --color-light-bg-primary: #fff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-m: 16px;
    --gap-l: 20px;
}
:root {
    --calendar-height: 340px;
    --calendar-width: 344px;

    /* Кнопки выбора месяцев и годов */

    /* Шапка */

    /* День */

    /* today */

    /* highlighted */

    /* holidays */

    /* range */

    /* selected */

    /* disabled */

    /* marker */
}
.calendar-with-skeleton__component_c6fbh {
    width: var(--calendar-width);
    height: var(--calendar-height);
    position: relative;
}
.calendar-with-skeleton__calendarVisible_c6fbh {
    height: auto;
}
.calendar-with-skeleton__skeleton_c6fbh {
    display: flex;
    flex-direction: column;
    padding: var(--gap-m);
    pointer-events: all;
    box-sizing: border-box;
    position: absolute;
    transition: 0.2s ease;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-light-bg-primary);
    background-clip: content-box;
}
.calendar-with-skeleton__header_c6fbh {
    height: 48px;
    margin-bottom: var(--gap-l);
}
.calendar-with-skeleton__weekDays_c6fbh {
    height: 12px;
    margin-bottom: var(--gap-m);
}
.calendar-with-skeleton__row_c6fbh {
    height: 32px
}
.calendar-with-skeleton__row_c6fbh + .calendar-with-skeleton__row_c6fbh {
        margin-top: 10px;
    }
.calendar-with-skeleton__enter_c6fbh,
.calendar-with-skeleton__enterActive_c6fbh,
.calendar-with-skeleton__exit_c6fbh {
    opacity: 1;
}
.calendar-with-skeleton__exitActive_c6fbh {
    opacity: 0;
}
