:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xl: 24px;
    --gap-2xl: 32px;
}
:root {

    /* sizes */

    /* paddings */
    --side-panel-s-footer-paddings: var(--gap-xl) 56px var(--gap-2xl);

    /* scroll */

    /* desktop */

    /* mobile */
}
.sticky {
    bottom: 0;
}
.s {
    padding: var(--side-panel-s-footer-paddings);
}
