/* hash: o81x0 */
:root {
    --color-light-graphic-primary-inverted: #fff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --spinner-inverted-color: var(--color-light-graphic-primary-inverted);
}
.spinner__component_6zxa5 {
    color: var(--spinner-inverted-color);
}
