/* hash: uwijl */
:root {
    --color-static-status-blue: #007aff;
    --color-static-status-green: #13a463;
    --color-static-status-grey: #6d7986;
    --color-static-status-orange: #de6a00;
    --color-static-status-purple: #673ab7;
    --color-static-status-red: #d91d0b;
    --color-static-status-teal: #219187;
    --color-static-status-blue-alpha-10: rgba(0, 122, 255, 0.1);
    --color-static-status-green-alpha-10: rgba(19, 164, 99, 0.1);
    --color-static-status-grey-alpha-10: rgba(109, 121, 134, 0.1);
    --color-static-status-orange-alpha-10: rgba(222, 106, 0, 0.1);
    --color-static-status-purple-alpha-10: rgba(103, 58, 183, 0.1);
    --color-static-status-red-alpha-10: rgba(217, 29, 11, 0.1);
    --color-static-status-teal-alpha-10: rgba(33, 145, 135, 0.1);
}
:root {
    --color-light-text-primary-inverted: #fff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
}
:root {
    --border-radius-s: 4px;
}
.status__component_1vjgk {
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 0 var(--gap-xs);
    border-radius: var(--border-radius-s);
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.5px
}
.status__component_1vjgk:empty {
        padding: 0;
    }
.status__soft_1vjgk.status__green_1vjgk {
        background: var(--color-static-status-green-alpha-10);
        color: var(--color-static-status-green);
    }
.status__soft_1vjgk.status__orange_1vjgk {
        background: var(--color-static-status-orange-alpha-10);
        color: var(--color-static-status-orange);
    }
.status__soft_1vjgk.status__red_1vjgk {
        background: var(--color-static-status-red-alpha-10);
        color: var(--color-static-status-red);
    }
.status__soft_1vjgk.status__blue_1vjgk {
        background: var(--color-static-status-blue-alpha-10);
        color: var(--color-static-status-blue);
    }
.status__soft_1vjgk.status__grey_1vjgk {
        background: var(--color-static-status-grey-alpha-10);
        color: var(--color-static-status-grey);
    }
.status__soft_1vjgk.status__teal_1vjgk {
        background: var(--color-static-status-teal-alpha-10);
        color: var(--color-static-status-teal);
    }
.status__soft_1vjgk.status__purple_1vjgk {
        background: var(--color-static-status-purple-alpha-10);
        color: var(--color-static-status-purple);
    }
.status__contrast_1vjgk {
    color: var(--color-light-text-primary-inverted)
}
.status__contrast_1vjgk.status__green_1vjgk {
        background: var(--color-static-status-green);
    }
.status__contrast_1vjgk.status__orange_1vjgk {
        background: var(--color-static-status-orange);
    }
.status__contrast_1vjgk.status__red_1vjgk {
        background: var(--color-static-status-red);
    }
.status__contrast_1vjgk.status__blue_1vjgk {
        background: var(--color-static-status-blue);
    }
.status__contrast_1vjgk.status__grey_1vjgk {
        background: var(--color-static-status-grey);
    }
.status__contrast_1vjgk.status__teal_1vjgk {
        background: var(--color-static-status-teal);
    }
.status__contrast_1vjgk.status__purple_1vjgk {
        background: var(--color-static-status-purple);
    }
