/* hash: 16i6x */
.chart__dotUnfocused_1k2nr {
    opacity: 0.3;
}

.chart__dot_1k2nr,
.chart__dotItem_1k2nr,
.chart__dotWrap_1k2nr {
    transition: all 0.2s ease;
}

.chart__dot_1k2nr {
    animation: chart__showDot_1k2nr 0.5s ease;
}

@keyframes chart__showDot_1k2nr {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
