:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-3xs: 2px;
    --gap-m: 16px;
}
.horizontal {
    padding: var(--gap-3xs) 0;
}
.rowLimit1 {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.rowLimit2 {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.component {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: var(--gap-3xs) 0;
    word-break: break-word;
}
.component .vertical {
        justify-content: center;
    }
.title + .value {
    margin-left: var(--gap-m);
    flex-shrink: 0;
}
