:root {
    --color-static-text-primary-dark: #0b1f35;
    --color-static-text-primary-light: #fff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.customButton {
    overflow: hidden;
    position: relative
}
.customButton.white * {
        color: var(--color-static-text-primary-light);
    }
.customButton.black * {
        color: var(--color-static-text-primary-dark);
    }
.customButton span {
        position: relative;
        z-index: 3;
    }
.customButton:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        content: '';
        transition: 0.2s;
        opacity: 1;
        pointer-events: none;
    }
.customButton.darkening:hover:before {
            background-color: rgba(0, 0, 0, 0.07);
        }
.customButton.darkening:active:before {
            background-color: rgba(0, 0, 0, 0.15);
        }
.customButton.lightening:hover:before {
            background-color: rgba(255, 255, 255, 0.15);
        }
.customButton.lightening:active:before {
            background-color: rgba(255, 255, 255, 0.2);
        }
/* Disabled */
.customButton:disabled {
    opacity: 0.3
}
.customButton:disabled.customLoading {
        opacity: 1;
    }
.customButton:disabled.white * {
        color: var(--color-static-text-primary-light);
    }
.customButton:disabled.black * {
        color: var(--color-static-text-primary-dark);
    }
