:root {
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-secondary: #6d7986;
    --color-light-graphic-tertiary: #b6bcc3;
    --color-light-graphic-negative-alpha-30: rgba(241, 80, 69, 0.3);
    --color-light-graphic-negative-shade-7: rgb(224, 74, 64);
    --color-light-graphic-negative-shade-15: rgb(205, 68, 59);
    --color-light-graphic-primary-alpha-30: rgba(11, 31, 53, 0.3);
    --color-light-graphic-primary-alpha-40: rgba(11, 31, 53, 0.4);
    --color-light-graphic-primary-alpha-50: rgba(11, 31, 53, 0.5);
    --color-light-graphic-primary-tint-20: rgb(60, 76, 93);
    --color-light-graphic-primary-tint-30: rgb(84, 98, 114);
    --color-light-graphic-secondary-alpha-30: rgba(109, 121, 134, 0.3);
    --color-light-graphic-secondary-shade-30: rgb(76, 85, 94);
    --color-light-graphic-secondary-shade-50: rgb(55, 61, 67);
    --color-light-graphic-tertiary-alpha-30: rgba(182, 188, 195, 0.3);
    --color-light-graphic-tertiary-shade-7: rgb(169, 175, 181);
    --color-light-graphic-tertiary-shade-15: rgb(155, 160, 166);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    /* primary */
    --icon-button-primary-base-color: var(--color-light-graphic-primary);
    --icon-button-primary-hover-color: var(--color-light-graphic-primary-tint-20);
    --icon-button-primary-active-color: var(--color-light-graphic-primary-tint-30);
    --icon-button-primary-disabled-color: var(--color-light-graphic-primary-alpha-30);

    /* secondary */
    --icon-button-secondary-base-color: var(--color-light-graphic-secondary);
    --icon-button-secondary-hover-color: var(--color-light-graphic-secondary-shade-30);
    --icon-button-secondary-active-color: var(--color-light-graphic-secondary-shade-50);
    --icon-button-secondary-disabled-color: var(--color-light-graphic-secondary-alpha-30);

    /* transparent */
    --icon-button-transparent-base-color: var(--color-light-graphic-primary-alpha-30);
    --icon-button-transparent-hover-color: var(--color-light-graphic-primary-alpha-40);
    --icon-button-transparent-active-color: var(--color-light-graphic-primary-alpha-50);

    /* tertiary */
    --icon-button-tertiary-base-color: var(--color-light-graphic-tertiary);
    --icon-button-tertiary-hover-color: var(--color-light-graphic-tertiary-shade-7);
    --icon-button-tertiary-active-color: var(--color-light-graphic-tertiary-shade-15);
    --icon-button-tertiary-disabled-color: var(--color-light-graphic-tertiary-alpha-30);

    /* negative */
    --icon-button-negative-base-color: var(--color-light-graphic-negative);
    --icon-button-negative-hover-color: var(--color-light-graphic-negative-shade-7);
    --icon-button-negative-active-color: var(--color-light-graphic-negative-shade-15);
    --icon-button-negative-disabled-color: var(--color-light-graphic-negative-alpha-30);
}
:global(.cc-icon-button).primary {
        color: var(--icon-button-primary-base-color)
    }
:global(.cc-icon-button).primary:hover {
            color: var(--icon-button-primary-hover-color);
        }
:global(.cc-icon-button).primary:active {
            color: var(--icon-button-primary-active-color);
        }
:global(.cc-icon-button).secondary {
        color: var(--icon-button-secondary-base-color)
    }
:global(.cc-icon-button).secondary:hover {
            color: var(--icon-button-secondary-hover-color);
        }
:global(.cc-icon-button).secondary:active {
            color: var(--icon-button-secondary-active-color);
        }
:global(.cc-icon-button).transparent {
        color: var(--icon-button-transparent-base-color)
    }
:global(.cc-icon-button).transparent:hover {
            color: var(--icon-button-transparent-hover-color);
        }
:global(.cc-icon-button).transparent:active {
            color: var(--icon-button-transparent-active-color);
        }
:global(.cc-icon-button).negative {
        color: var(--icon-button-negative-base-color)
    }
:global(.cc-icon-button).negative:hover {
            color: var(--icon-button-negative-hover-color);
        }
:global(.cc-icon-button).negative:active {
            color: var(--icon-button-negative-active-color);
        }
:global(.cc-icon-button).tertiary {
        color: var(--icon-button-tertiary-base-color)
    }
:global(.cc-icon-button).tertiary:hover {
            color: var(--icon-button-tertiary-hover-color);
        }
:global(.cc-icon-button).tertiary:active {
            color: var(--icon-button-tertiary-active-color);
        }
:global(.cc-icon-button).component:disabled.primary {
            color: var(--icon-button-primary-disabled-color)
        }
:global(.cc-icon-button).component:disabled.primary.loader {
                color: var(--icon-button-primary-base-color);
            }
:global(.cc-icon-button).component:disabled.secondary {
            color: var(--icon-button-secondary-disabled-color)
        }
:global(.cc-icon-button).component:disabled.secondary.loader {
                color: var(--icon-button-secondary-base-color);
            }
:global(.cc-icon-button).component:disabled.negative {
            color: var(--icon-button-negative-disabled-color)
        }
:global(.cc-icon-button).component:disabled.negative.loader {
                color: var(--icon-button-negative-base-color);
            }
:global(.cc-icon-button).component:disabled.tertiary {
            color: var(--icon-button-tertiary-disabled-color)
        }
:global(.cc-icon-button).component:disabled.tertiary.loader {
                color: var(--icon-button-tertiary-base-color);
            }
