:root {
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-primary-inverted: #fff;
    --color-light-graphic-secondary-inverted: #b6bcc3;
    --color-light-graphic-tertiary-inverted: #6d7986;
    --color-light-graphic-negative-alpha-30: rgba(241, 80, 69, 0.3);
    --color-light-graphic-negative-shade-7: rgb(224, 74, 64);
    --color-light-graphic-negative-shade-15: rgb(205, 68, 59);
    --color-light-graphic-primary-inverted-shade-7: rgb(237, 237, 237);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    /* primary */
    --icon-button-inverted-primary-base-color: var(--color-light-graphic-primary-inverted);
    --icon-button-inverted-primary-hover-color: var(--color-light-graphic-primary-inverted-shade-7);
    --icon-button-inverted-primary-active-color: var(
        --color-light-graphic-primary-inverted-shade-15
    );
    --icon-button-inverted-primary-disabled-color: var(
        --color-light-graphic-primary-inverted-alpha-30
    );

    /* secondary */
    --icon-button-inverted-secondary-base-color: var(--color-light-graphic-secondary-inverted);
    --icon-button-inverted-secondary-hover-color: var(
        --color-light-graphic-secondary-inverted-tint-15
    );
    --icon-button-inverted-secondary-active-color: var(
        --color-light-graphic-secondary-inverted-tint-20
    );
    --icon-button-inverted-secondary-disabled-color: var(
        --color-light-graphic-secondary-inverted-alpha-30
    );

    /* transparent */
    --icon-button-inverted-transparent-base-color: var(
        --color-light-graphic-primary-inverted-alpha-30
    );
    --icon-button-inverted-transparent-hover-color: var(
        --color-light-graphic-primary-inverted-alpha-40
    );
    --icon-button-inverted-transparent-active-color: var(
        --color-light-graphic-primary-inverted-alpha-50
    );

    /* tertiary */
    --icon-button-inverted-tertiary-base-color: var(--color-light-graphic-tertiary-inverted);
    --icon-button-inverted-tertiary-hover-color: var(
        --color-light-graphic-tertiary-inverted-tint-15
    );
    --icon-button-inverted-tertiary-active-color: var(
        --color-light-graphic-tertiary-inverted-tint-20
    );
    --icon-button-inverted-tertiary-disabled-color: var(
        --color-light-graphic-tertiary-inverted-alpha-30
    );

    /* negative */
    --icon-button-inverted-negative-base-color: var(--color-light-graphic-negative);
    --icon-button-inverted-negative-hover-color: var(--color-light-graphic-negative-shade-7);
    --icon-button-inverted-negative-active-color: var(--color-light-graphic-negative-shade-15);
    --icon-button-inverted-negative-disabled-color: var(--color-light-graphic-negative-alpha-30);
}
:global(.cc-icon-button).primary {
        color: var(--icon-button-inverted-primary-base-color)
    }
:global(.cc-icon-button).primary:hover {
            color: var(--icon-button-inverted-primary-hover-color);
        }
:global(.cc-icon-button).primary:active {
            color: var(--icon-button-inverted-primary-active-color);
        }
:global(.cc-icon-button).secondary {
        color: var(--icon-button-inverted-secondary-base-color)
    }
:global(.cc-icon-button).secondary:hover {
            color: var(--icon-button-inverted-secondary-hover-color);
        }
:global(.cc-icon-button).secondary:active {
            color: var(--icon-button-inverted-secondary-active-color);
        }
:global(.cc-icon-button).transparent {
        color: var(--icon-button-inverted-transparent-base-color)
    }
:global(.cc-icon-button).transparent:hover {
            color: var(--icon-button-inverted-transparent-hover-color);
        }
:global(.cc-icon-button).transparent:active {
            color: var(--icon-button-inverted-transparent-active-color);
        }
:global(.cc-icon-button).negative {
        color: var(--icon-button-inverted-negative-base-color)
    }
:global(.cc-icon-button).negative:hover {
            color: var(--icon-button-inverted-negative-hover-color);
        }
:global(.cc-icon-button).negative:active {
            color: var(--icon-button-inverted-negative-active-color);
        }
:global(.cc-icon-button).tertiary {
        color: var(--icon-button-inverted-tertiary-base-color)
    }
:global(.cc-icon-button).tertiary:hover {
            color: var(--icon-button-inverted-tertiary-hover-color);
        }
:global(.cc-icon-button).tertiary:active {
            color: var(--icon-button-inverted-tertiary-active-color);
        }
:global(.cc-icon-button).component:disabled.primary {
            color: var(--icon-button-inverted-primary-disabled-color)
        }
:global(.cc-icon-button).component:disabled.primary.loader {
                color: var(--icon-button-inverted-primary-base-color);
            }
:global(.cc-icon-button).component:disabled.secondary {
            color: var(--icon-button-inverted-secondary-disabled-color)
        }
:global(.cc-icon-button).component:disabled.secondary.loader {
                color: var(--icon-button-inverted-secondary-base-color);
            }
:global(.cc-icon-button).component:disabled.negative {
            color: var(--icon-button-inverted-negative-disabled-color)
        }
:global(.cc-icon-button).component:disabled.negative.loader {
                color: var(--icon-button-inverted-negative-base-color);
            }
:global(.cc-icon-button).component:disabled.tertiary {
            color: var(--icon-button-inverted-tertiary-disabled-color)
        }
:global(.cc-icon-button).component:disabled.tertiary.loader {
                color: var(--icon-button-inverted-tertiary-base-color);
            }
