:root {
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #0b1f35;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-s: 12px;
}
:root {
    --border-radius-circle: 50%;
}
:root {

    /* options list */

    /* option */

    /* checkmark */

    --select-checkmark-margin: 0 var(--gap-xs) 0 0;
    --select-checkmark-size: 4px;
    --select-checkmark-before-display: 'flex';
    --select-checkmark-after-display: none;
    --select-checkmark-unselected-opacity: 0;
    --select-checkmark-background: var(--color-light-graphic-primary);
    --select-checkmark-border-radius: var(--border-radius-circle);

    /* optgroup */
}
.checkmark {
    flex-shrink: 0;
    margin: var(--select-checkmark-margin);
}
.single {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: var(--select-checkmark-unselected-opacity);
    background: var(--select-checkmark-background);
    background-size: cover;
    border-radius: var(--select-checkmark-border-radius);
    width: var(--select-checkmark-size);
    height: var(--select-checkmark-size)
}
.single.selected {
        opacity: 1;
    }
.before {
    display: var(--select-checkmark-before-display)
}
.before.multiple {
        margin-right: var(--gap-s);
    }
.after {
    display: var(--select-checkmark-after-display);
}
.colorIcon {
    color: var(--color-light-graphic-positive);
}
