/* hash: v4fn3 */
:root {
    --color-light-graphic-accent: #ef3124;
    --color-light-graphic-attention: #e58933;
    --color-light-graphic-link: #007aff;
    --color-light-graphic-negative: #f15045;
    --color-light-graphic-positive: #2fc26e;
    --color-light-graphic-primary: #0b1f35;
    --color-light-graphic-secondary: #6d7986;
    --color-light-graphic-tertiary: #b6bcc3;
    --color-light-bg-primary-inverted-alpha-10: rgba(11, 31, 53, 0.1);
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --border-radius-s: 4px;
    --border-radius-m: 8px;
}
:root {
    /* bg */
    --progressbar-bg-color: var(--color-light-bg-primary-inverted-alpha-10);

    /* positive */
    --progressbar-positive-color: var(--color-light-graphic-positive);

    /* negative */
    --progressbar-negative-color: var(--color-light-graphic-negative);

    /* attention */
    --progressbar-attention-color: var(--color-light-graphic-attention);

    /* link */
    --progressbar-link-color: var(--color-light-graphic-link);

    /* tertiary */
    --progressbar-tertiary-color: var(--color-light-graphic-tertiary);

    /* secondary */
    --progressbar-secondary-color: var(--color-light-graphic-secondary);

    /* primary */
    --progressbar-primary-color: var(--color-light-graphic-primary);

    /* accent */
    --progressbar-accent-color: var(--color-light-graphic-accent);
}
.progress-bar__container_ocl1l {
    background: var(--progressbar-bg-color);

    display: flex;
    overflow: hidden
}
.progress-bar__container_ocl1l.progress-bar__s_ocl1l {
        border-radius: var(--border-radius-s);
        height: 4px;
    }
.progress-bar__container_ocl1l.progress-bar__m_ocl1l {
        border-radius: var(--border-radius-m);
        height: 8px;
    }
.progress-bar__filled_ocl1l {
    border-radius: inherit;
    width: 100%;
    transition: transform 0.4s ease
}
.progress-bar__filled_ocl1l.progress-bar__positive_ocl1l {
        background: var(--progressbar-positive-color);
    }
.progress-bar__filled_ocl1l.progress-bar__negative_ocl1l {
        background: var(--progressbar-negative-color);
    }
.progress-bar__filled_ocl1l.progress-bar__attention_ocl1l {
        background: var(--progressbar-attention-color);
    }
.progress-bar__filled_ocl1l.progress-bar__link_ocl1l {
        background: var(--progressbar-link-color);
    }
.progress-bar__filled_ocl1l.progress-bar__tertiary_ocl1l {
        background: var(--progressbar-tertiary-color);
    }
.progress-bar__filled_ocl1l.progress-bar__secondary_ocl1l {
        background: var(--progressbar-secondary-color);
    }
.progress-bar__filled_ocl1l.progress-bar__primary_ocl1l {
        background: var(--progressbar-primary-color);
    }
.progress-bar__filled_ocl1l.progress-bar__accent_ocl1l {
        background: var(--progressbar-accent-color);
    }
