:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --calendar-inner-width: 280px;

    /* Кнопки выбора месяцев и годов */

    /* Шапка */

    /* День */

    /* today */

    /* highlighted */

    /* holidays */

    /* range */

    /* selected */

    /* disabled */

    /* marker */
}
.component {
    display: flex
}
.component button[aria-selected='true'] {
        cursor: pointer;
    }
.component *[class*='errorIcon_'] {
        display: none;
    }
.component *[class*='calendarIcon_'] {
        margin-right: 0;
    }
.static .calendar {
        width: var(--calendar-inner-width);
    }
