:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
.component {
    flex-basis: auto;
}
.top {
    align-self: flex-start;
}
.center {
    align-self: center;
}
.bottom {
    align-self: flex-end;
}
