/* hash: 143jb */
:root {
    --color-light-border-link: #007aff;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
}
:root {
    --border-radius-s: 4px;
    --border-radius-pill: 99px;
}
:root {
    --focus-color: var(--color-light-border-link);
    --font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica,
        sans-serif;
    --disabled-cursor: not-allowed;
    --size-xs-height: 32px;
    --size-s-height: 48px;
    --size-m-height: 56px;
    --size-l-height: 64px;
    --size-xl-height: 72px;
}
:root {
    /* border */
    --tag-border-width: 1px;
    --tag-border-radius: var(--border-radius-pill);
    --tag-alt-border-radius: var(--border-radius-s);

    /* background-color */

    /* text color */

    /* inverted */

    /* border */

    /* background-color */

    /* text color */
}
.tag__component_13dwt {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    font-family: var(--font-family);
    text-decoration: none;
    border-width: var(--tag-border-width);
    border-style: solid;
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    box-sizing: border-box;
    box-shadow: none;
    -webkit-user-select: none;
            user-select: none;
    cursor: pointer;
    outline: none
}
.tag__component_13dwt:disabled {
        cursor: var(--disabled-cursor);
    }
.tag__focused_13dwt {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
}
.tag__addons_13dwt {
    display: flex;
    flex-shrink: 0;
    align-items: center
}
.tag__addons_13dwt:first-child {
        margin-right: var(--gap-2xs);
    }
.tag__addons_13dwt:last-child {
        margin-left: var(--gap-2xs);
    }
.tag__addons_13dwt:only-child {
        margin: 0;
    }
.tag__s_13dwt .tag__addons_13dwt:first-child, .tag__m_13dwt .tag__addons_13dwt:first-child {
        margin-right: var(--gap-xs);
    }
.tag__s_13dwt .tag__addons_13dwt:last-child, .tag__m_13dwt .tag__addons_13dwt:last-child {
        margin-left: var(--gap-xs);
    }
.tag__l_13dwt .tag__addons_13dwt:first-child, .tag__xl_13dwt .tag__addons_13dwt:first-child {
        margin-right: var(--gap-s);
    }
.tag__l_13dwt .tag__addons_13dwt:last-child, .tag__xl_13dwt .tag__addons_13dwt:last-child {
        margin-left: var(--gap-s);
    }
.tag__xxs_13dwt {
    min-width: 60px;
    min-height: var(--size-xs-height);
    padding: 0 var(--gap-m);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.tag__xxs_13dwt {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 32px
}
    }
.tag__xs_13dwt {
    min-width: 72px;
    min-height: 40px;
    padding: 0 var(--gap-l);
    font-size: 14px;
    line-height: 20px;
    font-weight: normal
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.tag__xs_13dwt {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 40px
}
    }
.tag__s_13dwt {
    min-width: 80px;
    min-height: var(--size-s-height);
    padding: 0 var(--gap-xl);
    font-size: 16px;
    line-height: 20px;
    font-weight: normal
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.tag__s_13dwt {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 48px
}
    }
.tag__m_13dwt {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    min-width: 96px;
    min-height: var(--size-m-height);
    padding: 0 28px
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.tag__m_13dwt {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 56px
}
    }
.tag__l_13dwt {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    min-width: 120px;
    min-height: var(--size-l-height);
    padding: 0 var(--gap-2xl)
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.tag__l_13dwt {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 64px
}
    }
.tag__xl_13dwt {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    min-width: 120px;
    min-height: var(--size-xl-height);
    padding: 0 36px
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.tag__xl_13dwt {
        /* Хак для ие, в котором не работает центрирование по высоте с использованием флексов, если указан min-height
        Возможно другое решение - если в будущем у компонента появится обертка, установить ей display: flex / inline-flex */
        height: 72px
}
    }
.tag__withRightAddons_13dwt.tag__xxs_13dwt {
        padding-right: var(--gap-s);
    }
.tag__withRightAddons_13dwt.tag__xs_13dwt {
        padding-right: var(--gap-m);
    }
.tag__withRightAddons_13dwt.tag__s_13dwt {
        padding-right: var(--gap-l);
    }
.tag__withRightAddons_13dwt.tag__m_13dwt {
        padding-right: var(--gap-xl);
    }
.tag__withRightAddons_13dwt.tag__l_13dwt {
        padding-right: 28px;
    }
.tag__withRightAddons_13dwt.tag__xl_13dwt {
        padding-right: var(--gap-2xl);
    }
.tag__withLeftAddons_13dwt.tag__xxs_13dwt {
        padding-left: var(--gap-s);
    }
.tag__withLeftAddons_13dwt.tag__xs_13dwt {
        padding-left: var(--gap-m);
    }
.tag__withLeftAddons_13dwt.tag__s_13dwt {
        padding-left: var(--gap-l);
    }
.tag__withLeftAddons_13dwt.tag__m_13dwt {
        padding-left: var(--gap-xl);
    }
.tag__withLeftAddons_13dwt.tag__l_13dwt {
        padding-left: 28px;
    }
.tag__withLeftAddons_13dwt.tag__xl_13dwt {
        padding-left: var(--gap-2xl);
    }
.tag__defaultVariant_13dwt {
    border-radius: var(--tag-border-radius);
}
.tag__alt_13dwt {
    border-radius: var(--tag-alt-border-radius);
}
