/* hash: q23ec */
:root {
    --color-light-border-primary: #dbdee1;
    --color-light-text-primary: #0b1f35;
}
:root {

    /* Hard */

    /* Up */

    /* Hard up */
}
:root {
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-xl: 24px;
}
.table__component_dog0d {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    color: var(--color-light-text-primary);
    padding: var(--gap-xl) var(--gap-s);
    height: 72px;
    border-top: 1px solid var(--color-light-border-primary);
    vertical-align: top;
    box-sizing: border-box
}
.table__component_dog0d:first-child {
        padding-left: var(--gap-m);
    }
.table__component_dog0d:last-child {
        padding-right: var(--gap-m);
    }
.table__compactHorizontal_dog0d {
    padding-left: 6px;
    padding-right: 6px;
}
.table__compact_dog0d {
    padding-top: var(--gap-xs);
    padding-bottom: var(--gap-xs);

    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
